<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>stonk ideas</title>
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen">
  </head>
  <body>
    <p id='intro'>
      <b><a href="/">aribrown.com</a></b> |
      generated (<b><span id='future'>
          2021-05-12
      </b></future>)
      by a program
    </p>
    <hr/>
    <br/>
    <div style='display: inline-block;'>
      <table>
  <tr>
    <th>Year</th>
    <th># of Buys</th>
    <th>Med. Hold</th>
    <th>S&P 500</th>
    <th>Mean ROI</th>
    <th>Median</th>
    <th>STDDEV</th>
    <th>Sharpe</th>
  </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2021.html">2021</a>
      </td>
      <td>71</td>
      <td>(unsold)</td>
      <td>8.441%</td>
      <td>-91.13%</td>
      <td>-100%</td>
      <td>74.742%</td>
      <td>-1.219</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2020.html">2020</a>
      </td>
      <td>348</td>
      <td>196</td>
      <td>16.162%</td>
      <td>125.836%</td>
      <td>137.963%</td>
      <td>172.82%</td>
      <td>0.728</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2019.html">2019</a>
      </td>
      <td>53</td>
      <td>247</td>
      <td>28.785%</td>
      <td>79.495%</td>
      <td>33.156%</td>
      <td>169.753%</td>
      <td>0.468</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2018.html">2018</a>
      </td>
      <td>31</td>
      <td>320</td>
      <td>-7.013%</td>
      <td>198.597%</td>
      <td>7.446%</td>
      <td>997.574%</td>
      <td>0.199</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2017.html">2017</a>
      </td>
      <td>32</td>
      <td>304</td>
      <td>19.384%</td>
      <td>207.064%</td>
      <td>6.502%</td>
      <td>618.783%</td>
      <td>0.335</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2016.html">2016</a>
      </td>
      <td>50</td>
      <td>211</td>
      <td>9.643%</td>
      <td>167.163%</td>
      <td>121.088%</td>
      <td>255.225%</td>
      <td>0.655</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2015.html">2015</a>
      </td>
      <td>40</td>
      <td>256</td>
      <td>-0.812%</td>
      <td>125.655%</td>
      <td>28.801%</td>
      <td>186.76%</td>
      <td>0.673</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2014.html">2014</a>
      </td>
      <td>24</td>
      <td>260</td>
      <td>11.289%</td>
      <td>47.703%</td>
      <td>18.585%</td>
      <td>88.281%</td>
      <td>0.54</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2013.html">2013</a>
      </td>
      <td>9</td>
      <td>279</td>
      <td>29.689%</td>
      <td>41.125%</td>
      <td>11.765%</td>
      <td>62.839%</td>
      <td>0.654</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2012.html">2012</a>
      </td>
      <td>23</td>
      <td>223</td>
      <td>13.474%</td>
      <td>94.904%</td>
      <td>74.043%</td>
      <td>81.324%</td>
      <td>1.167</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2011.html">2011</a>
      </td>
      <td>18</td>
      <td>260</td>
      <td>-0.199%</td>
      <td>26.39%</td>
      <td>15.335%</td>
      <td>52.428%</td>
      <td>0.503</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2010.html">2010</a>
      </td>
      <td>9</td>
      <td>241</td>
      <td>12.841%</td>
      <td>116.993%</td>
      <td>44.486%</td>
      <td>122.933%</td>
      <td>0.952</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2009.html">2009</a>
      </td>
      <td>245</td>
      <td>140</td>
      <td>23.493%</td>
      <td>268.279%</td>
      <td>261.333%</td>
      <td>263.722%</td>
      <td>1.017</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2008.html">2008</a>
      </td>
      <td>351</td>
      <td>217</td>
      <td>-37.735%</td>
      <td>153.032%</td>
      <td>101.984%</td>
      <td>311.537%</td>
      <td>0.491</td>
    </tr>
  
</table>


    </div>
    <div style='display: inline-block; max-width: 40%; vertical-align: top; padding-left: 20px;'>
      <br/>
      <br/>
      <p>
        a full explanation is available <b><a href="/files/stocks.html">here</a></b>
      </p>
      <br/>
      <p>
        <div id='reasons'>
          buy when:
          <br/>
          <ul>
            <li>20% price drop in 2 days (open to close)</li>
            <li>
              stock is in the top 61 of the market movement potential
              (explained <b><a href="/files/stocks.html#1:4">here</a></b>)
            </li>
          </ul>
      
          sell when:
          <br/>
          <ul>
            <li>
              ROI > 520% - 2% * trading_days_held
            </li>
          </ul>
        </div>
      </p>
      <br/>
      <ul style="padding-left: 20px;">
        <li>prices may be adjusted to reflect splits/reverse-splits</li>
        <li>drop occurs on one day, buy the next morning</li>
        <li>prior 5 days is including the day of the drop</li>
        <li><span id='future'>blue</span> figures are taken from the latest
            closing prices, since the threshold to sell has not yet been reached</li>
      </ul>
    </div>
    <br/>
    <center><h2>1 JAN 2017 - 31 DEC 2017</h2></center>
    <p>SPY ROI for 1 JAN 2017 - 31 DEC 2017: <span id='future'>18.747%</span></p>
    <p>mean ROI for trades shown: <span id='future'>207.064%</span></p>
    <p>mean ROI if you were to also sell everything you're still holding: <span id='future'>208.989%</span></p>
    <table>
      <tr>
        <th><b>Symbol</b></th>
        <th><b>10-Day Trade Volume</b></th>
        <th><b>Buy Date</b></th>
        <th><b>Buy Price</b></th>
        <th><b>Days Held</b></th>
        <th><b>ROI Threshold</b></th>
        <th><b>Sell Date</b></th>
        <th><b>Sell Price</b></th>
        <th><b>Sell ROI</b></th>
        <th><b>SPY ROI</b></th>
      </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/NAT'>NAT</a></td>
          
            <td>6161452</td>
          
            <td>2017-12-14</td>
          
            <td>$2.650</td>
          
            <td>355</td>
          
            <td>0.000%</td>
          
            <td>2019-05-16</td>
          
            <td>$2.660</td>
          
            <td>0.377%</td>
          
            <td>7.717%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BUR'>BUR</a></td>
          
            <td>2454669</td>
          
            <td>2017-12-13</td>
          
            <td>$0.460</td>
          
            <td>92</td>
          
            <td>336.000%</td>
          
            <td>2020-10-20</td>
          
            <td>$10.350</td>
          
            <td>2150.000%</td>
          
            <td>28.578%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BUR'>BUR</a></td>
          
            <td>2336657</td>
          
            <td>2017-12-12</td>
          
            <td>$0.530</td>
          
            <td>93</td>
          
            <td>334.000%</td>
          
            <td>2020-10-20</td>
          
            <td>$10.350</td>
          
            <td>1852.830%</td>
          
            <td>28.506%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BUR'>BUR</a></td>
          
            <td>528868</td>
          
            <td>2017-12-04</td>
          
            <td>$0.440</td>
          
            <td>99</td>
          
            <td>322.000%</td>
          
            <td>2020-10-20</td>
          
            <td>$10.350</td>
          
            <td>2252.273%</td>
          
            <td>28.940%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/QD'>QD</a></td>
          
            <td>20253772</td>
          
            <td>2017-11-27</td>
          
            <td>$12.990</td>
          
            <td><span id='future'>869</span></td>
          
            <td><span id='future'>0.000%</span></td>
          
            <td><span id='future'>-</span></td>
          
            <td><span id='future'>$1.855</span></td>
          
            <td><span id='future'>-85.720%</span></td>
          
            <td>55.693%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CYH'>CYH</a></td>
          
            <td>6993725</td>
          
            <td>2017-11-03</td>
          
            <td>$4.460</td>
          
            <td>270</td>
          
            <td>0.000%</td>
          
            <td>2018-11-30</td>
          
            <td>$4.750</td>
          
            <td>6.502%</td>
          
            <td>6.936%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/NOK'>NOK</a></td>
          
            <td>29408352</td>
          
            <td>2017-10-27</td>
          
            <td>$4.990</td>
          
            <td>254</td>
          
            <td>12.000%</td>
          
            <td>2018-10-31</td>
          
            <td>$5.620</td>
          
            <td>12.625%</td>
          
            <td>5.521%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/QD'>QD</a></td>
          
            <td>9042482</td>
          
            <td>2017-10-27</td>
          
            <td>$23.900</td>
          
            <td><span id='future'>889</span></td>
          
            <td><span id='future'>0.000%</span></td>
          
            <td><span id='future'>-</span></td>
          
            <td><span id='future'>$1.855</span></td>
          
            <td><span id='future'>-92.238%</span></td>
          
            <td>58.085%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EGO'>EGO</a></td>
          
            <td>17389078</td>
          
            <td>2017-10-25</td>
          
            <td>$7.164</td>
          
            <td>431</td>
          
            <td>0.000%</td>
          
            <td>2019-07-16</td>
          
            <td>$7.220</td>
          
            <td>0.785%</td>
          
            <td>17.019%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/QD'>QD</a></td>
          
            <td>16485075</td>
          
            <td>2017-10-24</td>
          
            <td>$26.620</td>
          
            <td><span id='future'>892</span></td>
          
            <td><span id='future'>0.000%</span></td>
          
            <td><span id='future'>-</span></td>
          
            <td><span id='future'>$1.855</span></td>
          
            <td><span id='future'>-93.032%</span></td>
          
            <td>58.005%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EGO'>EGO</a></td>
          
            <td>14195315</td>
          
            <td>2017-10-24</td>
          
            <td>$7.737</td>
          
            <td>434</td>
          
            <td>0.000%</td>
          
            <td>2019-07-18</td>
          
            <td>$7.830</td>
          
            <td>1.203%</td>
          
            <td>16.458%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/TEVA'>TEVA</a></td>
          
            <td>44021056</td>
          
            <td>2017-08-04</td>
          
            <td>$22.680</td>
          
            <td>260</td>
          
            <td>0.000%</td>
          
            <td>2018-08-16</td>
          
            <td>$24.110</td>
          
            <td>6.305%</td>
          
            <td>14.762%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/ANF'>ANF</a></td>
          
            <td>9313361</td>
          
            <td>2017-07-11</td>
          
            <td>$9.590</td>
          
            <td>183</td>
          
            <td>154.000%</td>
          
            <td>2018-04-03</td>
          
            <td>$24.870</td>
          
            <td>159.333%</td>
          
            <td>7.685%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/RAD'>RAD</a></td>
          
            <td>122023608</td>
          
            <td>2017-06-30</td>
          
            <td>$51.524</td>
          
            <td><span id='future'>972</span></td>
          
            <td><span id='future'>0.000%</span></td>
          
            <td><span id='future'>-</span></td>
          
            <td><span id='future'>$16.795</span></td>
          
            <td><span id='future'>-67.404%</span></td>
          
            <td>67.344%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/KR'>KR</a></td>
          
            <td>48837174</td>
          
            <td>2017-06-19</td>
          
            <td>$22.970</td>
          
            <td>254</td>
          
            <td>12.000%</td>
          
            <td>2018-06-21</td>
          
            <td>$28.730</td>
          
            <td>25.076%</td>
          
            <td>12.583%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EXPR'>EXPR</a></td>
          
            <td>7261022</td>
          
            <td>2017-06-02</td>
          
            <td>$6.270</td>
          
            <td>240</td>
          
            <td>40.000%</td>
          
            <td>2018-05-16</td>
          
            <td>$9.110</td>
          
            <td>45.295%</td>
          
            <td>11.840%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SBSW'>SBSW</a></td>
          
            <td>3194899</td>
          
            <td>2017-05-22</td>
          
            <td>$5.580</td>
          
            <td>571</td>
          
            <td>0.000%</td>
          
            <td>2019-08-28</td>
          
            <td>$5.650</td>
          
            <td>1.254%</td>
          
            <td>20.925%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BBD'>BBD</a></td>
          
            <td>12050784</td>
          
            <td>2017-05-19</td>
          
            <td>$7.354</td>
          
            <td>304</td>
          
            <td>0.000%</td>
          
            <td>2018-08-03</td>
          
            <td>$7.388</td>
          
            <td>0.466%</td>
          
            <td>19.496%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SID'>SID</a></td>
          
            <td>3108541</td>
          
            <td>2017-05-19</td>
          
            <td>$2.050</td>
          
            <td>247</td>
          
            <td>26.000%</td>
          
            <td>2018-05-14</td>
          
            <td>$2.610</td>
          
            <td>27.317%</td>
          
            <td>15.021%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CIG'>CIG</a></td>
          
            <td>3737952</td>
          
            <td>2017-05-19</td>
          
            <td>$2.250</td>
          
            <td>349</td>
          
            <td>0.000%</td>
          
            <td>2018-10-08</td>
          
            <td>$2.640</td>
          
            <td>17.333%</td>
          
            <td>21.274%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SNAP'>SNAP</a></td>
          
            <td>56873341</td>
          
            <td>2017-05-12</td>
          
            <td>$18.440</td>
          
            <td>675</td>
          
            <td>0.000%</td>
          
            <td>2020-01-17</td>
          
            <td>$19.110</td>
          
            <td>3.633%</td>
          
            <td>38.839%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SRC'>SRC</a></td>
          
            <td>32894724</td>
          
            <td>2017-05-05</td>
          
            <td>$30.110</td>
          
            <td>250</td>
          
            <td>20.000%</td>
          
            <td>2018-05-03</td>
          
            <td>$37.334</td>
          
            <td>23.994%</td>
          
            <td>9.796%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/VNCE'>VNCE</a></td>
          
            <td>3717997</td>
          
            <td>2017-05-04</td>
          
            <td>$4.702</td>
          
            <td>215</td>
          
            <td>90.000%</td>
          
            <td>2018-03-13</td>
          
            <td>$9.110</td>
          
            <td>93.738%</td>
          
            <td>15.865%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/VNCE'>VNCE</a></td>
          
            <td>3818193</td>
          
            <td>2017-05-03</td>
          
            <td>$3.782</td>
          
            <td>200</td>
          
            <td>120.000%</td>
          
            <td>2018-02-16</td>
          
            <td>$8.380</td>
          
            <td>121.563%</td>
          
            <td>14.382%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CVNA'>CVNA</a></td>
          
            <td>4526897</td>
          
            <td>2017-05-02</td>
          
            <td>$10.950</td>
          
            <td>218</td>
          
            <td>84.000%</td>
          
            <td>2018-03-14</td>
          
            <td>$21.240</td>
          
            <td>93.973%</td>
          
            <td>15.265%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/X'>X</a></td>
          
            <td>23014462</td>
          
            <td>2017-04-27</td>
          
            <td>$22.480</td>
          
            <td>212</td>
          
            <td>96.000%</td>
          
            <td>2018-03-01</td>
          
            <td>$46.010</td>
          
            <td>104.671%</td>
          
            <td>12.116%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SNAP'>SNAP</a></td>
          
            <td>112002014</td>
          
            <td>2017-03-08</td>
          
            <td>$22.030</td>
          
            <td>827</td>
          
            <td>0.000%</td>
          
            <td>2020-06-19</td>
          
            <td>$22.660</td>
          
            <td>2.860%</td>
          
            <td>30.041%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EXK'>EXK</a></td>
          
            <td>4190640</td>
          
            <td>2017-03-06</td>
          
            <td>$3.250</td>
          
            <td>322</td>
          
            <td>0.000%</td>
          
            <td>2018-06-14</td>
          
            <td>$3.310</td>
          
            <td>1.846%</td>
          
            <td>17.360%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EXK'>EXK</a></td>
          
            <td>4360200</td>
          
            <td>2017-03-03</td>
          
            <td>$3.330</td>
          
            <td>851</td>
          
            <td>0.000%</td>
          
            <td>2020-07-21</td>
          
            <td>$3.680</td>
          
            <td>10.511%</td>
          
            <td>36.461%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/AENZ'>AENZ</a></td>
          
            <td>1839175</td>
          
            <td>2017-02-28</td>
          
            <td>$2.500</td>
          
            <td>260</td>
          
            <td>0.000%</td>
          
            <td>2018-03-12</td>
          
            <td>$2.510</td>
          
            <td>0.400%</td>
          
            <td>17.683%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/UA'>UA</a></td>
          
            <td>15672917</td>
          
            <td>2017-02-01</td>
          
            <td>$19.500</td>
          
            <td>336</td>
          
            <td>0.000%</td>
          
            <td>2018-06-04</td>
          
            <td>$20.470</td>
          
            <td>4.974%</td>
          
            <td>20.819%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/UAA'>UAA</a></td>
          
            <td>16597137</td>
          
            <td>2017-02-01</td>
          
            <td>$21.650</td>
          
            <td>336</td>
          
            <td>0.000%</td>
          
            <td>2018-06-04</td>
          
            <td>$22.710</td>
          
            <td>4.896%</td>
          
            <td>20.819%</td>
          
        </tr>
      
    </table>
  </body>
</html>
