<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>stonk ideas</title>
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen">
  </head>
  <body>
    <p id='intro'>
      <b><a href="/">aribrown.com</a></b> |
      generated (<b><span id='future'>
          2021-10-20
      </b></future>)
      by a program
    </p>
    <hr/>
    <br/>
    <div style='display: inline-block;'>
      <table>
  <tr>
    <th>Year</th>
    <th># of Buys</th>
    <th># Unsold</th>
    <th># Delist.</th>
    <th>Med. Hold</th>
    <th>S&P 500</th>
    <th>Mean ROI</th>
    <th>Median</th>
    <th>STDDEV</th>
    <th>Sharpe</th>
  </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2021.html">2021</a>
      </td>
      <td>107</td>
      <td>74</td>
      <td>11</td>
      <td>(unsold)</td>
      <td>21.682%</td>
      <td>-38.463%</td>
      <td>-100%</td>
      <td>98.844%</td>
      <td>-0.389</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2020.html">2020</a>
      </td>
      <td>326</td>
      <td>24</td>
      <td>5</td>
      <td>85</td>
      <td>16.644%</td>
      <td>79.78%</td>
      <td>51.376%</td>
      <td>106.792%</td>
      <td>0.747</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2019.html">2019</a>
      </td>
      <td>56</td>
      <td>9</td>
      <td>6</td>
      <td>99</td>
      <td>28.971%</td>
      <td>40.3%</td>
      <td>18.254%</td>
      <td>102.768%</td>
      <td>0.392</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2018.html">2018</a>
      </td>
      <td>36</td>
      <td>9</td>
      <td>6</td>
      <td>120</td>
      <td>-6.691%</td>
      <td>2.038%</td>
      <td>3.093%</td>
      <td>79.494%</td>
      <td>0.026</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2017.html">2017</a>
      </td>
      <td>35</td>
      <td>8</td>
      <td>4</td>
      <td>119</td>
      <td>18.747%</td>
      <td>-9.838%</td>
      <td>2.154%</td>
      <td>52.169%</td>
      <td>-0.189</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2016.html">2016</a>
      </td>
      <td>44</td>
      <td>5</td>
      <td>4</td>
      <td>82</td>
      <td>8.97%</td>
      <td>52.521%</td>
      <td>69.702%</td>
      <td>74.784%</td>
      <td>0.702</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2015.html">2015</a>
      </td>
      <td>40</td>
      <td>3</td>
      <td>3</td>
      <td>98</td>
      <td>-1.981%</td>
      <td>72.54%</td>
      <td>25.402%</td>
      <td>126.855%</td>
      <td>0.572</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2014.html">2014</a>
      </td>
      <td>26</td>
      <td>2</td>
      <td>1</td>
      <td>105</td>
      <td>11.664%</td>
      <td>15.221%</td>
      <td>9.182%</td>
      <td>45.428%</td>
      <td>0.335</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2013.html">2013</a>
      </td>
      <td>14</td>
      <td>1</td>
      <td>1</td>
      <td>98</td>
      <td>32.243%</td>
      <td>30.435%</td>
      <td>15.355%</td>
      <td>53.406%</td>
      <td>0.57</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2012.html">2012</a>
      </td>
      <td>29</td>
      <td>5</td>
      <td>5</td>
      <td>94</td>
      <td>13.006%</td>
      <td>16.959%</td>
      <td>25.285%</td>
      <td>63.027%</td>
      <td>0.269</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2011.html">2011</a>
      </td>
      <td>22</td>
      <td>1</td>
      <td>0</td>
      <td>100</td>
      <td>-0.024%</td>
      <td>11.895%</td>
      <td>6.763%</td>
      <td>38.076%</td>
      <td>0.312</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2010.html">2010</a>
      </td>
      <td>7</td>
      <td>0</td>
      <td>0</td>
      <td>83</td>
      <td>11.51%</td>
      <td>72.816%</td>
      <td>51.956%</td>
      <td>74.075%</td>
      <td>0.983</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2009.html">2009</a>
      </td>
      <td>214</td>
      <td>0</td>
      <td>0</td>
      <td>64</td>
      <td>25.101%</td>
      <td>131.657%</td>
      <td>130.678%</td>
      <td>87.7%</td>
      <td>1.501</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2008.html">2008</a>
      </td>
      <td>357</td>
      <td>2</td>
      <td>0</td>
      <td>100</td>
      <td>-38.654%</td>
      <td>65.516%</td>
      <td>12.766%</td>
      <td>178.345%</td>
      <td>0.367</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2007.html">2007</a>
      </td>
      <td>17</td>
      <td>1</td>
      <td>0</td>
      <td>97</td>
      <td>2.784%</td>
      <td>135.078%</td>
      <td>15.147%</td>
      <td>373.974%</td>
      <td>0.361</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2006.html">2006</a>
      </td>
      <td>16</td>
      <td>0</td>
      <td>0</td>
      <td>95</td>
      <td>13.478%</td>
      <td>65.414%</td>
      <td>25.448%</td>
      <td>97.949%</td>
      <td>0.668</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2005.html">2005</a>
      </td>
      <td>28</td>
      <td>0</td>
      <td>0</td>
      <td>97</td>
      <td>2.646%</td>
      <td>41.323%</td>
      <td>14.634%</td>
      <td>53.659%</td>
      <td>0.77</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2004.html">2004</a>
      </td>
      <td>20</td>
      <td>0</td>
      <td>0</td>
      <td>132</td>
      <td>8.676%</td>
      <td>12.973%</td>
      <td>2.288%</td>
      <td>19.325%</td>
      <td>0.671</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2003.html">2003</a>
      </td>
      <td>23</td>
      <td>0</td>
      <td>0</td>
      <td>86</td>
      <td>26.469%</td>
      <td>52.899%</td>
      <td>46.833%</td>
      <td>48.317%</td>
      <td>1.095</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2002.html">2002</a>
      </td>
      <td>135</td>
      <td>0</td>
      <td>0</td>
      <td>93</td>
      <td>-24.038%</td>
      <td>63.809%</td>
      <td>30.597%</td>
      <td>78.085%</td>
      <td>0.817</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2001.html">2001</a>
      </td>
      <td>76</td>
      <td>0</td>
      <td>0</td>
      <td>98</td>
      <td>-13.409%</td>
      <td>49.542%</td>
      <td>21.118%</td>
      <td>67.397%</td>
      <td>0.735</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2000.html">2000</a>
      </td>
      <td>139</td>
      <td>10</td>
      <td>0</td>
      <td>100</td>
      <td>-10.662%</td>
      <td>33.84%</td>
      <td>12.119%</td>
      <td>76.202%</td>
      <td>0.444</td>
    </tr>
  
</table>


    </div>
    <div style='display: inline-block; max-width: 28%; vertical-align: top; padding-left: 20px;'>
      <br/>
      <br/>
      <p>
        a full explanation is available <b><a href="/files/stocks.html">here</a></b>
      </p>
      <br/>
      <p>
        <div id='reasons'>
          buy when:
          <br/>
          <ul>
            <li>20% price drop in 2 days (open to close)</li>
            <li>
              stock is in the top 61 of the market movement potential
              (explained <b><a href="/files/stocks.html#1:4">here</a></b>)
            </li>
          </ul>
      
          sell when:
          <br/>
          <ul>
            <li>
              ROI > 520% - 2% * trading_days_held
            </li>
          </ul>
        </div>
      </p>
      <br/>
      <ul style="padding-left: 20px;">
        <li>prices may be adjusted to reflect splits/reverse-splits</li>
        <li>drop occurs on one day, buy the next morning</li>
        <li><span id='future'>blue</span> figures are taken from the latest
            closing prices, since the threshold to sell has not yet been reached</li>
        <li><span id='delisted'>red</span> figures are taken from the last
            closing prices available, since it has since been delisted</li>
      </ul>
    </div>
    <br/>
    <center><h2>1 JAN 2005 - 31 DEC 2005</h2></center>
    <p>SPY ROI for 1 JAN 2005 - 31 DEC 2005: <span id=future>2.646%</span></p>
    <p>mean ROI for trades shown: <span id=future>41.323%</span></p>
    <p>mean ROI if you were to also sell everything you're still holding: <span id=future>41.323%</span></p>
    <table>
      <tr>
        <th><b>Symbol</b></th>
        <th><b>10-Day Trade Volume</b></th>
        <th><b>Buy Date</b></th>
        <th><b>Buy Price</b></th>
        <th><b>Days Held</b></th>
        <th><b>ROI Threshold</b></th>
        <th><b>Sell Date</b></th>
        <th><b>Sell Price</b></th>
        <th><b>Sell ROI</b></th>
        <th><b>SPY ROI</b></th>
      </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EGHT'>EGHT</a></td>
          
            <td>13795880</td>
          
            <td>2005-12-14</td>
          
            <td>$2.190</td>
          
            <td>1203</td>
          
            <td>0.000%</td>
          
            <td>2010-09-27</td>
          
            <td>$2.200</td>
          
            <td>0.457%</td>
          
            <td>-10.158%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EGHT'>EGHT</a></td>
          
            <td>11395160</td>
          
            <td>2005-12-13</td>
          
            <td>$2.460</td>
          
            <td>1222</td>
          
            <td>0.000%</td>
          
            <td>2010-10-21</td>
          
            <td>$2.490</td>
          
            <td>1.220%</td>
          
            <td>-6.558%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/UVE'>UVE</a></td>
          
            <td>53060</td>
          
            <td>2005-11-29</td>
          
            <td>$0.500</td>
          
            <td>55</td>
          
            <td>135.000%</td>
          
            <td>2006-02-17</td>
          
            <td>$1.250</td>
          
            <td>150.000%</td>
          
            <td>1.705%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/UVE'>UVE</a></td>
          
            <td>178780</td>
          
            <td>2005-11-22</td>
          
            <td>$0.500</td>
          
            <td>59</td>
          
            <td>123.000%</td>
          
            <td>2006-02-17</td>
          
            <td>$1.250</td>
          
            <td>150.000%</td>
          
            <td>2.588%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/TARO'>TARO</a></td>
          
            <td>3911960</td>
          
            <td>2005-11-18</td>
          
            <td>$14.800</td>
          
            <td>1370</td>
          
            <td>0.000%</td>
          
            <td>2011-05-02</td>
          
            <td>$14.950</td>
          
            <td>1.014%</td>
          
            <td>8.924%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SGU'>SGU</a></td>
          
            <td>518260</td>
          
            <td>2005-11-10</td>
          
            <td>$1.240</td>
          
            <td>66</td>
          
            <td>102.000%</td>
          
            <td>2006-02-16</td>
          
            <td>$2.970</td>
          
            <td>139.516%</td>
          
            <td>5.575%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SGU'>SGU</a></td>
          
            <td>585420</td>
          
            <td>2005-11-09</td>
          
            <td>$1.400</td>
          
            <td>67</td>
          
            <td>99.000%</td>
          
            <td>2006-02-16</td>
          
            <td>$2.970</td>
          
            <td>112.143%</td>
          
            <td>5.799%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/UIS'>UIS</a></td>
          
            <td>8596400</td>
          
            <td>2005-10-25</td>
          
            <td>$4.900</td>
          
            <td>88</td>
          
            <td>36.000%</td>
          
            <td>2006-03-03</td>
          
            <td>$6.880</td>
          
            <td>40.408%</td>
          
            <td>7.551%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EGY'>EGY</a></td>
          
            <td>491440</td>
          
            <td>2005-10-21</td>
          
            <td>$3.060</td>
          
            <td>68</td>
          
            <td>96.000%</td>
          
            <td>2006-01-31</td>
          
            <td>$6.100</td>
          
            <td>99.346%</td>
          
            <td>7.786%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/XPO'>XPO</a></td>
          
            <td>345040</td>
          
            <td>2005-10-07</td>
          
            <td>$0.407</td>
          
            <td>97</td>
          
            <td>9.000%</td>
          
            <td>2006-02-28</td>
          
            <td>$0.473</td>
          
            <td>16.176%</td>
          
            <td>7.126%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/TPX'>TPX</a></td>
          
            <td>8107860</td>
          
            <td>2005-09-21</td>
          
            <td>$11.720</td>
          
            <td>105</td>
          
            <td>0.000%</td>
          
            <td>2006-02-22</td>
          
            <td>$11.720</td>
          
            <td>0.000%</td>
          
            <td>6.142%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EGY'>EGY</a></td>
          
            <td>1044040</td>
          
            <td>2005-09-13</td>
          
            <td>$3.650</td>
          
            <td>87</td>
          
            <td>39.000%</td>
          
            <td>2006-01-18</td>
          
            <td>$5.190</td>
          
            <td>42.192%</td>
          
            <td>2.973%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/MUX'>MUX</a></td>
          
            <td>244300</td>
          
            <td>2005-08-25</td>
          
            <td>$1.570</td>
          
            <td>61</td>
          
            <td>117.000%</td>
          
            <td>2005-11-21</td>
          
            <td>$3.570</td>
          
            <td>127.389%</td>
          
            <td>3.634%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/MUX'>MUX</a></td>
          
            <td>229000</td>
          
            <td>2005-08-24</td>
          
            <td>$1.750</td>
          
            <td>66</td>
          
            <td>102.000%</td>
          
            <td>2005-11-28</td>
          
            <td>$3.800</td>
          
            <td>117.143%</td>
          
            <td>3.518%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/PBH'>PBH</a></td>
          
            <td>3734640</td>
          
            <td>2005-08-01</td>
          
            <td>$11.240</td>
          
            <td>99</td>
          
            <td>3.000%</td>
          
            <td>2005-12-20</td>
          
            <td>$11.740</td>
          
            <td>4.448%</td>
          
            <td>1.615%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/PBH'>PBH</a></td>
          
            <td>3517520</td>
          
            <td>2005-07-29</td>
          
            <td>$11.900</td>
          
            <td>101</td>
          
            <td>0.000%</td>
          
            <td>2005-12-21</td>
          
            <td>$11.950</td>
          
            <td>0.420%</td>
          
            <td>1.302%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/TPX'>TPX</a></td>
          
            <td>6352900</td>
          
            <td>2005-07-25</td>
          
            <td>$18.120</td>
          
            <td>287</td>
          
            <td>0.000%</td>
          
            <td>2006-09-13</td>
          
            <td>$18.120</td>
          
            <td>0.000%</td>
          
            <td>7.139%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EGHT'>EGHT</a></td>
          
            <td>2191800</td>
          
            <td>2005-05-26</td>
          
            <td>$1.950</td>
          
            <td>138</td>
          
            <td>0.000%</td>
          
            <td>2005-12-12</td>
          
            <td>$2.540</td>
          
            <td>30.256%</td>
          
            <td>5.560%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/DRD'>DRD</a></td>
          
            <td>2764200</td>
          
            <td>2005-04-15</td>
          
            <td>$0.690</td>
          
            <td>82</td>
          
            <td>54.000%</td>
          
            <td>2005-08-11</td>
          
            <td>$1.080</td>
          
            <td>56.522%</td>
          
            <td>6.981%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/NCR'>NCR</a></td>
          
            <td>7962300</td>
          
            <td>2005-03-30</td>
          
            <td>$31.930</td>
          
            <td>96</td>
          
            <td>12.000%</td>
          
            <td>2005-08-15</td>
          
            <td>$36.350</td>
          
            <td>13.843%</td>
          
            <td>6.028%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/ESTE'>ESTE</a></td>
          
            <td>850840</td>
          
            <td>2005-03-14</td>
          
            <td>$2.000</td>
          
            <td>96</td>
          
            <td>12.000%</td>
          
            <td>2005-07-29</td>
          
            <td>$2.350</td>
          
            <td>17.500%</td>
          
            <td>2.595%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/ESTE'>ESTE</a></td>
          
            <td>898860</td>
          
            <td>2005-03-11</td>
          
            <td>$2.050</td>
          
            <td>97</td>
          
            <td>9.000%</td>
          
            <td>2005-07-29</td>
          
            <td>$2.350</td>
          
            <td>14.634%</td>
          
            <td>2.003%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/DRD'>DRD</a></td>
          
            <td>13063600</td>
          
            <td>2005-02-28</td>
          
            <td>$0.960</td>
          
            <td>97</td>
          
            <td>9.000%</td>
          
            <td>2005-07-18</td>
          
            <td>$1.060</td>
          
            <td>10.417%</td>
          
            <td>0.991%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CIEN'>CIEN</a></td>
          
            <td>26993400</td>
          
            <td>2005-02-25</td>
          
            <td>$2.140</td>
          
            <td>98</td>
          
            <td>6.000%</td>
          
            <td>2005-07-18</td>
          
            <td>$2.300</td>
          
            <td>7.477%</td>
          
            <td>1.729%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/DRD'>DRD</a></td>
          
            <td>12040000</td>
          
            <td>2005-02-25</td>
          
            <td>$1.080</td>
          
            <td>116</td>
          
            <td>0.000%</td>
          
            <td>2005-08-11</td>
          
            <td>$1.080</td>
          
            <td>0.000%</td>
          
            <td>2.952%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SGU'>SGU</a></td>
          
            <td>2450520</td>
          
            <td>2005-02-14</td>
          
            <td>$3.510</td>
          
            <td>118</td>
          
            <td>0.000%</td>
          
            <td>2005-08-03</td>
          
            <td>$3.600</td>
          
            <td>2.564%</td>
          
            <td>3.339%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SGU'>SGU</a></td>
          
            <td>2048920</td>
          
            <td>2005-02-11</td>
          
            <td>$3.800</td>
          
            <td>472</td>
          
            <td>0.000%</td>
          
            <td>2006-12-27</td>
          
            <td>$3.840</td>
          
            <td>1.053%</td>
          
            <td>19.056%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SGU'>SGU</a></td>
          
            <td>1754900</td>
          
            <td>2005-02-10</td>
          
            <td>$4.450</td>
          
            <td>564</td>
          
            <td>0.000%</td>
          
            <td>2007-05-10</td>
          
            <td>$4.490</td>
          
            <td>0.899%</td>
          
            <td>25.004%</td>
          
        </tr>
      
    </table>
  </body>
</html>
