<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>stonk ideas</title>
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen">
  </head>
  <body>
    <p id='intro'>
      <b><a href="/">aribrown.com</a></b> |
      generated (<b><span id='future'>
          2021-04-29
      </b></future>)
      by a program
    </p>
    <hr/>
    <br/>
    <div style='display: inline-block;'>
      <table>
  <tr>
    <th>Year</th>
    <th># of Buys</th>
    <th>Med. Hold</th>
    <th>S&P 500</th>
    <th>Mean ROI</th>
    <th>Median</th>
    <th>STDDEV</th>
    <th>Sharpe</th>
  </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2021.html">2021</a>
      </td>
      <td>71</td>
      <td>(unsold)</td>
      <td>12.333%</td>
      <td>-91.13%</td>
      <td>-100%</td>
      <td>74.742%</td>
      <td>-1.219</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2020.html">2020</a>
      </td>
      <td>348</td>
      <td>197</td>
      <td>16.162%</td>
      <td>123.855%</td>
      <td>136.923%</td>
      <td>173.914%</td>
      <td>0.712</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2019.html">2019</a>
      </td>
      <td>53</td>
      <td>247</td>
      <td>28.785%</td>
      <td>79.495%</td>
      <td>33.156%</td>
      <td>169.753%</td>
      <td>0.468</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2018.html">2018</a>
      </td>
      <td>31</td>
      <td>320</td>
      <td>-7.013%</td>
      <td>198.597%</td>
      <td>7.446%</td>
      <td>997.574%</td>
      <td>0.199</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2017.html">2017</a>
      </td>
      <td>32</td>
      <td>304</td>
      <td>19.384%</td>
      <td>207.064%</td>
      <td>6.502%</td>
      <td>618.783%</td>
      <td>0.335</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2016.html">2016</a>
      </td>
      <td>50</td>
      <td>211</td>
      <td>9.643%</td>
      <td>167.163%</td>
      <td>121.088%</td>
      <td>255.225%</td>
      <td>0.655</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2015.html">2015</a>
      </td>
      <td>40</td>
      <td>256</td>
      <td>-0.812%</td>
      <td>125.655%</td>
      <td>28.801%</td>
      <td>186.76%</td>
      <td>0.673</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2014.html">2014</a>
      </td>
      <td>24</td>
      <td>260</td>
      <td>11.289%</td>
      <td>47.703%</td>
      <td>18.585%</td>
      <td>88.281%</td>
      <td>0.54</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2013.html">2013</a>
      </td>
      <td>9</td>
      <td>279</td>
      <td>29.689%</td>
      <td>41.125%</td>
      <td>11.765%</td>
      <td>62.839%</td>
      <td>0.654</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2012.html">2012</a>
      </td>
      <td>23</td>
      <td>223</td>
      <td>13.474%</td>
      <td>94.904%</td>
      <td>74.043%</td>
      <td>81.324%</td>
      <td>1.167</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2011.html">2011</a>
      </td>
      <td>18</td>
      <td>260</td>
      <td>-0.199%</td>
      <td>26.39%</td>
      <td>15.335%</td>
      <td>52.428%</td>
      <td>0.503</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2010.html">2010</a>
      </td>
      <td>9</td>
      <td>241</td>
      <td>12.841%</td>
      <td>116.993%</td>
      <td>44.486%</td>
      <td>122.933%</td>
      <td>0.952</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2009.html">2009</a>
      </td>
      <td>245</td>
      <td>140</td>
      <td>23.493%</td>
      <td>268.279%</td>
      <td>261.333%</td>
      <td>263.722%</td>
      <td>1.017</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2008.html">2008</a>
      </td>
      <td>351</td>
      <td>217</td>
      <td>-37.735%</td>
      <td>153.032%</td>
      <td>101.984%</td>
      <td>311.537%</td>
      <td>0.491</td>
    </tr>
  
</table>


    </div>
    <div style='display: inline-block; max-width: 40%; vertical-align: top; padding-left: 20px;'>
      <br/>
      <br/>
      <p>
        a full explanation is available <b><a href="/files/stocks.html">here</a></b>
      </p>
      <br/>
      <p>
        <div id='reasons'>
          buy when:
          <br/>
          <ul>
            <li>20% price drop in 2 days (open to close)</li>
            <li>
              stock is in the top 61 of the market movement potential
              (explained <b><a href="/files/stocks.html#1:4">here</a></b>)
            </li>
          </ul>
      
          sell when:
          <br/>
          <ul>
            <li>
              ROI > 520% - 2% * trading_days_held
            </li>
          </ul>
        </div>
      </p>
      <br/>
      <ul style="padding-left: 20px;">
        <li>prices may be adjusted to reflect splits/reverse-splits</li>
        <li>drop occurs on one day, buy the next morning</li>
        <li>prior 5 days is including the day of the drop</li>
        <li><span id='future'>blue</span> figures are taken from the latest
            closing prices, since the threshold to sell has not yet been reached</li>
      </ul>
    </div>
    <br/>
    <center><h2>1 JAN 2016 - 31 DEC 2016</h2></center>
    <p>SPY ROI for 1 JAN 2016 - 31 DEC 2016: <span id='future'>9.643%</span></p>
    <p>mean ROI for trades shown: <span id='future'>167.163%</span></p>
    <p>mean ROI if you were to also sell everything you're still holding: <span id='future'>167.705%</span></p>
    <table>
      <tr>
        <th><b>Symbol</b></th>
        <th><b>10-Day Trade Volume</b></th>
        <th><b>Buy Date</b></th>
        <th><b>Buy Price</b></th>
        <th><b>Days Held</b></th>
        <th><b>ROI Threshold</b></th>
        <th><b>Sell Date</b></th>
        <th><b>Sell Price</b></th>
        <th><b>Sell ROI</b></th>
        <th><b>SPY ROI</b></th>
      </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/DSX'>DSX</a></td>
          
            <td>3407440</td>
          
            <td>2016-11-18</td>
          
            <td>$3.560</td>
          
            <td>255</td>
          
            <td>10.000%</td>
          
            <td>2017-11-24</td>
          
            <td>$3.980</td>
          
            <td>11.798%</td>
          
            <td>19.158%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/HMY'>HMY</a></td>
          
            <td>7436239</td>
          
            <td>2016-11-14</td>
          
            <td>$2.510</td>
          
            <td>671</td>
          
            <td>0.000%</td>
          
            <td>2019-07-18</td>
          
            <td>$2.580</td>
          
            <td>2.789%</td>
          
            <td>37.970%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EXK'>EXK</a></td>
          
            <td>3367760</td>
          
            <td>2016-11-14</td>
          
            <td>$3.700</td>
          
            <td>926</td>
          
            <td>0.000%</td>
          
            <td>2020-07-22</td>
          
            <td>$4.180</td>
          
            <td>12.973%</td>
          
            <td>50.912%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CYH'>CYH</a></td>
          
            <td>12450158</td>
          
            <td>2016-11-10</td>
          
            <td>$4.840</td>
          
            <td>293</td>
          
            <td>0.000%</td>
          
            <td>2018-01-11</td>
          
            <td>$4.970</td>
          
            <td>2.686%</td>
          
            <td>27.291%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BHC'>BHC</a></td>
          
            <td>36976951</td>
          
            <td>2016-11-09</td>
          
            <td>$15.470</td>
          
            <td>260</td>
          
            <td>0.000%</td>
          
            <td>2017-11-21</td>
          
            <td>$15.990</td>
          
            <td>3.361%</td>
          
            <td>20.154%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/HWM'>HWM</a></td>
          
            <td>12457992</td>
          
            <td>2016-11-03</td>
          
            <td>$17.730</td>
          
            <td>233</td>
          
            <td>54.000%</td>
          
            <td>2017-10-09</td>
          
            <td>$27.390</td>
          
            <td>54.484%</td>
          
            <td>21.635%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/HWM'>HWM</a></td>
          
            <td>12621485</td>
          
            <td>2016-11-02</td>
          
            <td>$18.860</td>
          
            <td>237</td>
          
            <td>46.000%</td>
          
            <td>2017-10-12</td>
          
            <td>$27.560</td>
          
            <td>46.129%</td>
          
            <td>21.407%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CYH'>CYH</a></td>
          
            <td>18625797</td>
          
            <td>2016-10-28</td>
          
            <td>$5.270</td>
          
            <td>308</td>
          
            <td>0.000%</td>
          
            <td>2018-01-22</td>
          
            <td>$5.900</td>
          
            <td>11.954%</td>
          
            <td>33.006%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/VHC'>VHC</a></td>
          
            <td>2534920</td>
          
            <td>2016-10-05</td>
          
            <td>$3.830</td>
          
            <td>249</td>
          
            <td>22.000%</td>
          
            <td>2017-10-02</td>
          
            <td>$5.550</td>
          
            <td>44.909%</td>
          
            <td>17.015%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EXPR'>EXPR</a></td>
          
            <td>8827272</td>
          
            <td>2016-08-25</td>
          
            <td>$11.800</td>
          
            <td><span id='future'>1176</span></td>
          
            <td><span id='future'>0.000%</span></td>
          
            <td><span id='future'>-</span></td>
          
            <td><span id='future'>$3.200</span></td>
          
            <td><span id='future'>-72.881%</span></td>
          
            <td>92.921%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CXW'>CXW</a></td>
          
            <td>14946371</td>
          
            <td>2016-08-22</td>
          
            <td>$19.420</td>
          
            <td>240</td>
          
            <td>40.000%</td>
          
            <td>2017-08-04</td>
          
            <td>$27.200</td>
          
            <td>40.062%</td>
          
            <td>13.216%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CC'>CC</a></td>
          
            <td>8163161</td>
          
            <td>2016-07-07</td>
          
            <td>$6.020</td>
          
            <td>104</td>
          
            <td>312.000%</td>
          
            <td>2016-12-02</td>
          
            <td>$25.030</td>
          
            <td>315.781%</td>
          
            <td>4.844%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/LYG'>LYG</a></td>
          
            <td>17457227</td>
          
            <td>2016-06-27</td>
          
            <td>$2.830</td>
          
            <td>249</td>
          
            <td>22.000%</td>
          
            <td>2017-06-22</td>
          
            <td>$3.480</td>
          
            <td>22.968%</td>
          
            <td>21.663%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/NWG'>NWG</a></td>
          
            <td>11816704</td>
          
            <td>2016-06-27</td>
          
            <td>$4.750</td>
          
            <td>243</td>
          
            <td>34.000%</td>
          
            <td>2017-06-14</td>
          
            <td>$6.440</td>
          
            <td>35.579%</td>
          
            <td>22.365%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/VHC'>VHC</a></td>
          
            <td>1778566</td>
          
            <td>2016-06-22</td>
          
            <td>$4.110</td>
          
            <td>252</td>
          
            <td>16.000%</td>
          
            <td>2017-06-22</td>
          
            <td>$4.850</td>
          
            <td>18.005%</td>
          
            <td>16.694%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CCEP'>CCEP</a></td>
          
            <td>23374203</td>
          
            <td>2016-06-01</td>
          
            <td>$39.400</td>
          
            <td>259</td>
          
            <td>2.000%</td>
          
            <td>2017-06-12</td>
          
            <td>$40.300</td>
          
            <td>2.284%</td>
          
            <td>15.737%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/LC'>LC</a></td>
          
            <td>53723844</td>
          
            <td>2016-05-11</td>
          
            <td>$20.334</td>
          
            <td>239</td>
          
            <td>42.000%</td>
          
            <td>2017-04-24</td>
          
            <td>$29.155</td>
          
            <td>43.382%</td>
          
            <td>14.852%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/LC'>LC</a></td>
          
            <td>44899254</td>
          
            <td>2016-05-10</td>
          
            <td>$22.526</td>
          
            <td>245</td>
          
            <td>30.000%</td>
          
            <td>2017-05-01</td>
          
            <td>$29.852</td>
          
            <td>32.522%</td>
          
            <td>14.502%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CRK'>CRK</a></td>
          
            <td>5058821</td>
          
            <td>2016-03-21</td>
          
            <td>$3.628</td>
          
            <td>178</td>
          
            <td>164.000%</td>
          
            <td>2016-12-01</td>
          
            <td>$10.320</td>
          
            <td>184.425%</td>
          
            <td>7.280%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BTU'>BTU</a></td>
          
            <td>8675446</td>
          
            <td>2016-03-17</td>
          
            <td>$2.530</td>
          
            <td>47</td>
          
            <td>426.000%</td>
          
            <td>2017-04-03</td>
          
            <td>$31.000</td>
          
            <td>1125.296%</td>
          
            <td>15.003%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BHC'>BHC</a></td>
          
            <td>52404778</td>
          
            <td>2016-03-17</td>
          
            <td>$33.620</td>
          
            <td>1252</td>
          
            <td>0.000%</td>
          
            <td>2021-03-09</td>
          
            <td>$33.930</td>
          
            <td>0.922%</td>
          
            <td>89.205%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BTU'>BTU</a></td>
          
            <td>10327811</td>
          
            <td>2016-03-16</td>
          
            <td>$2.140</td>
          
            <td>48</td>
          
            <td>424.000%</td>
          
            <td>2017-04-03</td>
          
            <td>$31.000</td>
          
            <td>1348.598%</td>
          
            <td>15.732%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BHC'>BHC</a></td>
          
            <td>43362174</td>
          
            <td>2016-03-16</td>
          
            <td>$33.020</td>
          
            <td>1252</td>
          
            <td>0.000%</td>
          
            <td>2021-03-08</td>
          
            <td>$33.080</td>
          
            <td>0.182%</td>
          
            <td>87.725%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/WTI'>WTI</a></td>
          
            <td>2708646</td>
          
            <td>2016-03-15</td>
          
            <td>$2.480</td>
          
            <td>253</td>
          
            <td>14.000%</td>
          
            <td>2017-03-16</td>
          
            <td>$2.870</td>
          
            <td>15.726%</td>
          
            <td>17.960%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BTU'>BTU</a></td>
          
            <td>11161481</td>
          
            <td>2016-03-15</td>
          
            <td>$4.305</td>
          
            <td>49</td>
          
            <td>422.000%</td>
          
            <td>2017-04-03</td>
          
            <td>$31.000</td>
          
            <td>620.093%</td>
          
            <td>16.402%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CLF'>CLF</a></td>
          
            <td>12835929</td>
          
            <td>2016-03-10</td>
          
            <td>$2.610</td>
          
            <td>171</td>
          
            <td>178.000%</td>
          
            <td>2016-11-10</td>
          
            <td>$7.400</td>
          
            <td>183.525%</td>
          
            <td>8.710%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/WTI'>WTI</a></td>
          
            <td>3310777</td>
          
            <td>2016-03-09</td>
          
            <td>$3.170</td>
          
            <td>391</td>
          
            <td>0.000%</td>
          
            <td>2017-09-26</td>
          
            <td>$3.200</td>
          
            <td>0.946%</td>
          
            <td>24.927%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CRK'>CRK</a></td>
          
            <td>5836325</td>
          
            <td>2016-03-09</td>
          
            <td>$4.382</td>
          
            <td>188</td>
          
            <td>144.000%</td>
          
            <td>2016-12-05</td>
          
            <td>$11.200</td>
          
            <td>155.573%</td>
          
            <td>10.844%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CLF'>CLF</a></td>
          
            <td>12521638</td>
          
            <td>2016-03-09</td>
          
            <td>$2.900</td>
          
            <td>180</td>
          
            <td>160.000%</td>
          
            <td>2016-11-22</td>
          
            <td>$8.640</td>
          
            <td>197.931%</td>
          
            <td>10.633%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/HNGR'>HNGR</a></td>
          
            <td>4582854</td>
          
            <td>2016-03-03</td>
          
            <td>$3.460</td>
          
            <td>187</td>
          
            <td>146.000%</td>
          
            <td>2016-11-28</td>
          
            <td>$8.850</td>
          
            <td>155.780%</td>
          
            <td>10.361%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/IPI'>IPI</a></td>
          
            <td>6945390</td>
          
            <td>2016-03-02</td>
          
            <td>$6.434</td>
          
            <td>194</td>
          
            <td>132.000%</td>
          
            <td>2016-12-06</td>
          
            <td>$16.972</td>
          
            <td>163.768%</td>
          
            <td>11.407%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CHGG'>CHGG</a></td>
          
            <td>3443175</td>
          
            <td>2016-02-24</td>
          
            <td>$3.940</td>
          
            <td>214</td>
          
            <td>92.000%</td>
          
            <td>2016-12-28</td>
          
            <td>$7.570</td>
          
            <td>92.132%</td>
          
            <td>16.149%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/OVV'>OVV</a></td>
          
            <td>18959150</td>
          
            <td>2016-02-22</td>
          
            <td>$15.444</td>
          
            <td>155</td>
          
            <td>210.000%</td>
          
            <td>2016-09-30</td>
          
            <td>$49.449</td>
          
            <td>220.183%</td>
          
            <td>11.048%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SWN'>SWN</a></td>
          
            <td>20961353</td>
          
            <td>2016-02-22</td>
          
            <td>$7.300</td>
          
            <td>249</td>
          
            <td>22.000%</td>
          
            <td>2017-02-15</td>
          
            <td>$9.030</td>
          
            <td>23.699%</td>
          
            <td>20.608%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/GNW'>GNW</a></td>
          
            <td>17041955</td>
          
            <td>2016-02-10</td>
          
            <td>$1.670</td>
          
            <td>162</td>
          
            <td>196.000%</td>
          
            <td>2016-09-30</td>
          
            <td>$4.960</td>
          
            <td>197.006%</td>
          
            <td>16.749%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/ESI'>ESI</a></td>
          
            <td>6654594</td>
          
            <td>2016-02-09</td>
          
            <td>$5.710</td>
          
            <td>226</td>
          
            <td>68.000%</td>
          
            <td>2016-12-30</td>
          
            <td>$9.810</td>
          
            <td>71.804%</td>
          
            <td>20.547%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/WMB'>WMB</a></td>
          
            <td>25577831</td>
          
            <td>2016-02-09</td>
          
            <td>$11.260</td>
          
            <td>177</td>
          
            <td>166.000%</td>
          
            <td>2016-10-20</td>
          
            <td>$30.180</td>
          
            <td>168.028%</td>
          
            <td>15.343%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/MRO'>MRO</a></td>
          
            <td>31486921</td>
          
            <td>2016-01-26</td>
          
            <td>$8.360</td>
          
            <td>211</td>
          
            <td>98.000%</td>
          
            <td>2016-11-23</td>
          
            <td>$16.780</td>
          
            <td>100.718%</td>
          
            <td>16.036%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SB'>SB</a></td>
          
            <td>617775</td>
          
            <td>2016-01-21</td>
          
            <td>$0.336</td>
          
            <td>121</td>
          
            <td>278.000%</td>
          
            <td>2016-07-14</td>
          
            <td>$1.270</td>
          
            <td>278.201%</td>
          
            <td>15.764%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/GOL'>GOL</a></td>
          
            <td>1213816</td>
          
            <td>2016-01-20</td>
          
            <td>$0.726</td>
          
            <td>121</td>
          
            <td>278.000%</td>
          
            <td>2016-07-13</td>
          
            <td>$2.786</td>
          
            <td>283.773%</td>
          
            <td>15.766%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/GOL'>GOL</a></td>
          
            <td>784040</td>
          
            <td>2016-01-15</td>
          
            <td>$0.801</td>
          
            <td>125</td>
          
            <td>270.000%</td>
          
            <td>2016-07-15</td>
          
            <td>$3.149</td>
          
            <td>293.079%</td>
          
            <td>14.919%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CC'>CC</a></td>
          
            <td>4716577</td>
          
            <td>2016-01-14</td>
          
            <td>$3.300</td>
          
            <td>145</td>
          
            <td>230.000%</td>
          
            <td>2016-08-11</td>
          
            <td>$11.740</td>
          
            <td>255.758%</td>
          
            <td>13.922%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/WMB'>WMB</a></td>
          
            <td>36117212</td>
          
            <td>2016-01-14</td>
          
            <td>$13.420</td>
          
            <td>200</td>
          
            <td>120.000%</td>
          
            <td>2016-10-28</td>
          
            <td>$29.670</td>
          
            <td>121.088%</td>
          
            <td>10.738%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SB'>SB</a></td>
          
            <td>717361</td>
          
            <td>2016-01-14</td>
          
            <td>$0.352</td>
          
            <td>141</td>
          
            <td>238.000%</td>
          
            <td>2016-08-05</td>
          
            <td>$1.280</td>
          
            <td>263.636%</td>
          
            <td>13.677%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/FCX'>FCX</a></td>
          
            <td>86938243</td>
          
            <td>2016-01-13</td>
          
            <td>$4.180</td>
          
            <td>181</td>
          
            <td>158.000%</td>
          
            <td>2016-09-30</td>
          
            <td>$10.860</td>
          
            <td>159.809%</td>
          
            <td>14.547%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CLF'>CLF</a></td>
          
            <td>3352059</td>
          
            <td>2016-01-13</td>
          
            <td>$1.260</td>
          
            <td>101</td>
          
            <td>318.000%</td>
          
            <td>2016-06-08</td>
          
            <td>$5.410</td>
          
            <td>329.365%</td>
          
            <td>12.466%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SB'>SB</a></td>
          
            <td>934129</td>
          
            <td>2016-01-12</td>
          
            <td>$0.420</td>
          
            <td>144</td>
          
            <td>232.000%</td>
          
            <td>2016-08-08</td>
          
            <td>$1.400</td>
          
            <td>233.333%</td>
          
            <td>12.594%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/FCX'>FCX</a></td>
          
            <td>83086225</td>
          
            <td>2016-01-12</td>
          
            <td>$4.470</td>
          
            <td>196</td>
          
            <td>128.000%</td>
          
            <td>2016-10-20</td>
          
            <td>$10.210</td>
          
            <td>128.412%</td>
          
            <td>10.441%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SB'>SB</a></td>
          
            <td>908516</td>
          
            <td>2016-01-11</td>
          
            <td>$0.470</td>
          
            <td>165</td>
          
            <td>190.000%</td>
          
            <td>2016-09-06</td>
          
            <td>$1.490</td>
          
            <td>217.021%</td>
          
            <td>14.013%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SB'>SB</a></td>
          
            <td>727320</td>
          
            <td>2016-01-08</td>
          
            <td>$0.600</td>
          
            <td>178</td>
          
            <td>164.000%</td>
          
            <td>2016-09-22</td>
          
            <td>$1.600</td>
          
            <td>166.667%</td>
          
            <td>13.162%</td>
          
        </tr>
      
    </table>
  </body>
</html>
