<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>stonk ideas</title>
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen">
  </head>
  <body>
    <p id='intro'>
      <b><a href="/">aribrown.com</a></b> |
      generated (<b><span id='future'>
          2021-07-08
      </b></future>)
      by a program
    </p>
    <hr/>
    <br/>
    <div style='display: inline-block;'>
      <table>
  <tr>
    <th>Year</th>
    <th># of Buys</th>
    <th># Unsold</th>
    <th># Delist.</th>
    <th>Med. Hold</th>
    <th>S&P 500</th>
    <th>Mean ROI</th>
    <th>Median</th>
    <th>STDDEV</th>
    <th>Sharpe</th>
  </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2021.html">2021</a>
      </td>
      <td>79</td>
      <td>70</td>
      <td>4</td>
      <td>(unsold)</td>
      <td>15.915%</td>
      <td>-27.36%</td>
      <td>-100%</td>
      <td>207.173%</td>
      <td>-0.132</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2020.html">2020</a>
      </td>
      <td>326</td>
      <td>67</td>
      <td>14</td>
      <td>202</td>
      <td>16.644%</td>
      <td>122.281%</td>
      <td>124.107%</td>
      <td>161.202%</td>
      <td>0.759</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2019.html">2019</a>
      </td>
      <td>56</td>
      <td>13</td>
      <td>9</td>
      <td>258</td>
      <td>28.971%</td>
      <td>32.208%</td>
      <td>25.774%</td>
      <td>114.065%</td>
      <td>0.282</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2018.html">2018</a>
      </td>
      <td>36</td>
      <td>16</td>
      <td>11</td>
      <td>619</td>
      <td>-6.691%</td>
      <td>-14.905%</td>
      <td>1.356%</td>
      <td>98.101%</td>
      <td>-0.152</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2017.html">2017</a>
      </td>
      <td>35</td>
      <td>10</td>
      <td>6</td>
      <td>336</td>
      <td>18.747%</td>
      <td>-3.951%</td>
      <td>3.633%</td>
      <td>72.637%</td>
      <td>-0.054</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2016.html">2016</a>
      </td>
      <td>44</td>
      <td>5</td>
      <td>4</td>
      <td>226</td>
      <td>8.97%</td>
      <td>97.373%</td>
      <td>100.718%</td>
      <td>120.839%</td>
      <td>0.806</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2015.html">2015</a>
      </td>
      <td>40</td>
      <td>3</td>
      <td>3</td>
      <td>257</td>
      <td>-1.981%</td>
      <td>131.033%</td>
      <td>28.801%</td>
      <td>184.098%</td>
      <td>0.712</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2014.html">2014</a>
      </td>
      <td>26</td>
      <td>4</td>
      <td>2</td>
      <td>290</td>
      <td>11.664%</td>
      <td>28.326%</td>
      <td>5.528%</td>
      <td>86.716%</td>
      <td>0.327</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2013.html">2013</a>
      </td>
      <td>14</td>
      <td>6</td>
      <td>6</td>
      <td>1844</td>
      <td>32.243%</td>
      <td>-16.44%</td>
      <td>7.294%</td>
      <td>89.023%</td>
      <td>-0.185</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2012.html">2012</a>
      </td>
      <td>29</td>
      <td>6</td>
      <td>6</td>
      <td>232</td>
      <td>13.006%</td>
      <td>55.28%</td>
      <td>56.028%</td>
      <td>107.682%</td>
      <td>0.513</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2011.html">2011</a>
      </td>
      <td>22</td>
      <td>1</td>
      <td>0</td>
      <td>260</td>
      <td>-0.024%</td>
      <td>31.464%</td>
      <td>15.335%</td>
      <td>53.519%</td>
      <td>0.588</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2010.html">2010</a>
      </td>
      <td>7</td>
      <td>0</td>
      <td>0</td>
      <td>206</td>
      <td>11.51%</td>
      <td>139.685%</td>
      <td>109.463%</td>
      <td>132.083%</td>
      <td>1.058</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2009.html">2009</a>
      </td>
      <td>214</td>
      <td>0</td>
      <td>0</td>
      <td>149</td>
      <td>25.101%</td>
      <td>234.412%</td>
      <td>237.174%</td>
      <td>205.212%</td>
      <td>1.142</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2008.html">2008</a>
      </td>
      <td>357</td>
      <td>2</td>
      <td>0</td>
      <td>220</td>
      <td>-38.654%</td>
      <td>133.277%</td>
      <td>91.781%</td>
      <td>209.189%</td>
      <td>0.637</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2007.html">2007</a>
      </td>
      <td>17</td>
      <td>1</td>
      <td>0</td>
      <td>258</td>
      <td>2.784%</td>
      <td>192.784%</td>
      <td>46.341%</td>
      <td>381.169%</td>
      <td>0.506</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2006.html">2006</a>
      </td>
      <td>16</td>
      <td>0</td>
      <td>0</td>
      <td>254</td>
      <td>13.478%</td>
      <td>74.015%</td>
      <td>47.312%</td>
      <td>106.038%</td>
      <td>0.698</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2005.html">2005</a>
      </td>
      <td>29</td>
      <td>0</td>
      <td>0</td>
      <td>240</td>
      <td>2.646%</td>
      <td>75.355%</td>
      <td>40.273%</td>
      <td>89.455%</td>
      <td>0.842</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2004.html">2004</a>
      </td>
      <td>20</td>
      <td>0</td>
      <td>0</td>
      <td>256</td>
      <td>8.676%</td>
      <td>14.892%</td>
      <td>12.134%</td>
      <td>16.374%</td>
      <td>0.91</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2003.html">2003</a>
      </td>
      <td>23</td>
      <td>0</td>
      <td>0</td>
      <td>236</td>
      <td>26.469%</td>
      <td>107.953%</td>
      <td>49.474%</td>
      <td>146.926%</td>
      <td>0.735</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2002.html">2002</a>
      </td>
      <td>135</td>
      <td>0</td>
      <td>0</td>
      <td>217</td>
      <td>-24.038%</td>
      <td>132.68%</td>
      <td>90.857%</td>
      <td>122.741%</td>
      <td>1.081</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2001.html">2001</a>
      </td>
      <td>76</td>
      <td>0</td>
      <td>0</td>
      <td>253</td>
      <td>-13.409%</td>
      <td>74.066%</td>
      <td>27.273%</td>
      <td>117.229%</td>
      <td>0.632</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2000.html">2000</a>
      </td>
      <td>139</td>
      <td>11</td>
      <td>0</td>
      <td>261</td>
      <td>-10.662%</td>
      <td>45.065%</td>
      <td>15.899%</td>
      <td>85.698%</td>
      <td>0.526</td>
    </tr>
  
</table>


    </div>
    <div style='display: inline-block; max-width: 28%; vertical-align: top; padding-left: 20px;'>
      <br/>
      <br/>
      <p>
        a full explanation is available <b><a href="/files/stocks.html">here</a></b>
      </p>
      <br/>
      <p>
        <div id='reasons'>
          buy when:
          <br/>
          <ul>
            <li>20% price drop in 2 days (open to close)</li>
            <li>
              stock is in the top 61 of the market movement potential
              (explained <b><a href="/files/stocks.html#1:4">here</a></b>)
            </li>
          </ul>
      
          sell when:
          <br/>
          <ul>
            <li>
              ROI > 520% - 2% * trading_days_held
            </li>
          </ul>
        </div>
      </p>
      <br/>
      <ul style="padding-left: 20px;">
        <li>prices may be adjusted to reflect splits/reverse-splits</li>
        <li>drop occurs on one day, buy the next morning</li>
        <li><span id='future'>blue</span> figures are taken from the latest
            closing prices, since the threshold to sell has not yet been reached</li>
        <li><span id='delisted'>red</span> figures are taken from the last
            closing prices available, since it has since been delisted</li>
      </ul>
    </div>
    <br/>
    <center><h2>1 JAN 2012 - 31 DEC 2012</h2></center>
    <p>SPY ROI for 1 JAN 2012 - 31 DEC 2012: <span id=future>13.006%</span></p>
    <p>mean ROI for trades shown: <span id=future>55.280%</span></p>
    <p>mean ROI if you were to also sell everything you're still holding: <span id=future>55.280%</span></p>
    <table>
      <tr>
        <th><b>Symbol</b></th>
        <th><b>10-Day Trade Volume</b></th>
        <th><b>Buy Date</b></th>
        <th><b>Buy Price</b></th>
        <th><b>Days Held</b></th>
        <th><b>ROI Threshold</b></th>
        <th><b>Sell Date</b></th>
        <th><b>Sell Price</b></th>
        <th><b>Sell ROI</b></th>
        <th><b>SPY ROI</b></th>
      </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/HLF'>HLF</a></td>
          
            <td>26435340</td>
          
            <td>2012-12-26</td>
          
            <td>$13.172</td>
          
            <td>180</td>
          
            <td>160.000%</td>
          
            <td>2013-09-13</td>
          
            <td>$34.341</td>
          
            <td>160.714%</td>
          
            <td>18.711%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BB'>BB</a></td>
          
            <td>58169900</td>
          
            <td>2012-12-24</td>
          
            <td>$10.720</td>
          
            <td>270</td>
          
            <td>0.000%</td>
          
            <td>2014-01-22</td>
          
            <td>$10.780</td>
          
            <td>0.560%</td>
          
            <td>29.351%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/HLF'>HLF</a></td>
          
            <td>24210680</td>
          
            <td>2012-12-24</td>
          
            <td>$13.880</td>
          
            <td>183</td>
          
            <td>154.000%</td>
          
            <td>2013-09-17</td>
          
            <td>$36.292</td>
          
            <td>161.470%</td>
          
            <td>20.066%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/HLF'>HLF</a></td>
          
            <td>21045900</td>
          
            <td>2012-12-21</td>
          
            <td>$16.718</td>
          
            <td>211</td>
          
            <td>98.000%</td>
          
            <td>2013-10-24</td>
          
            <td>$33.470</td>
          
            <td>100.207%</td>
          
            <td>23.198%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/JAG'>JAG</a></td>
          
            <td>1225868</td>
          
            <td>2012-11-15</td>
          
            <td>$0.780</td>
          
            <td><span id=delisted>880</span></td>
          
            <td><span id=delisted>0.000%</span></td>
          
            <td><span id=delisted>-</span></td>
          
            <td><span id=delisted>$8.230</span></td>
          
            <td><span id=delisted>-100.000%</span></td>
          
            <td>140.219%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/MBI'>MBI</a></td>
          
            <td>7328540</td>
          
            <td>2012-11-14</td>
          
            <td>$7.050</td>
          
            <td>232</td>
          
            <td>56.000%</td>
          
            <td>2013-10-17</td>
          
            <td>$11.000</td>
          
            <td>56.028%</td>
          
            <td>25.331%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/FOE'>FOE</a></td>
          
            <td>2269420</td>
          
            <td>2012-10-11</td>
          
            <td>$2.850</td>
          
            <td>189</td>
          
            <td>142.000%</td>
          
            <td>2013-07-17</td>
          
            <td>$6.920</td>
          
            <td>142.807%</td>
          
            <td>16.406%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/JCI'>JCI</a></td>
          
            <td>12883620</td>
          
            <td>2012-10-02</td>
          
            <td>$30.358</td>
          
            <td>249</td>
          
            <td>22.000%</td>
          
            <td>2013-10-01</td>
          
            <td>$37.127</td>
          
            <td>22.300%</td>
          
            <td>16.851%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CIG'>CIG</a></td>
          
            <td>17555560</td>
          
            <td>2012-09-13</td>
          
            <td>$8.170</td>
          
            <td>441</td>
          
            <td>0.000%</td>
          
            <td>2014-06-18</td>
          
            <td>$8.400</td>
          
            <td>2.821%</td>
          
            <td>35.942%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CIEN'>CIEN</a></td>
          
            <td>12259180</td>
          
            <td>2012-08-31</td>
          
            <td>$13.600</td>
          
            <td>228</td>
          
            <td>64.000%</td>
          
            <td>2013-08-01</td>
          
            <td>$22.520</td>
          
            <td>65.588%</td>
          
            <td>20.787%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/MTG'>MTG</a></td>
          
            <td>20896860</td>
          
            <td>2012-08-06</td>
          
            <td>$0.840</td>
          
            <td>140</td>
          
            <td>240.000%</td>
          
            <td>2013-02-28</td>
          
            <td>$2.980</td>
          
            <td>254.762%</td>
          
            <td>8.510%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/MTG'>MTG</a></td>
          
            <td>18560260</td>
          
            <td>2012-08-03</td>
          
            <td>$0.940</td>
          
            <td>142</td>
          
            <td>236.000%</td>
          
            <td>2013-03-01</td>
          
            <td>$3.790</td>
          
            <td>303.191%</td>
          
            <td>9.779%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/GNW'>GNW</a></td>
          
            <td>18866820</td>
          
            <td>2012-08-03</td>
          
            <td>$4.320</td>
          
            <td>187</td>
          
            <td>146.000%</td>
          
            <td>2013-05-06</td>
          
            <td>$10.650</td>
          
            <td>146.528%</td>
          
            <td>16.758%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/IGT'>IGT</a></td>
          
            <td>10618320</td>
          
            <td>2012-07-26</td>
          
            <td>$11.890</td>
          
            <td>238</td>
          
            <td>44.000%</td>
          
            <td>2013-07-10</td>
          
            <td>$17.260</td>
          
            <td>45.164%</td>
          
            <td>21.562%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EDU'>EDU</a></td>
          
            <td>33882440</td>
          
            <td>2012-07-20</td>
          
            <td>$1.254</td>
          
            <td>221</td>
          
            <td>78.000%</td>
          
            <td>2013-06-10</td>
          
            <td>$2.262</td>
          
            <td>80.402%</td>
          
            <td>20.336%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EDU'>EDU</a></td>
          
            <td>30542520</td>
          
            <td>2012-07-19</td>
          
            <td>$1.064</td>
          
            <td>213</td>
          
            <td>94.000%</td>
          
            <td>2013-05-28</td>
          
            <td>$2.162</td>
          
            <td>103.220%</td>
          
            <td>20.814%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EDU'>EDU</a></td>
          
            <td>21256640</td>
          
            <td>2012-07-18</td>
          
            <td>$1.508</td>
          
            <td>237</td>
          
            <td>46.000%</td>
          
            <td>2013-06-28</td>
          
            <td>$2.231</td>
          
            <td>47.963%</td>
          
            <td>17.921%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/JAG'>JAG</a></td>
          
            <td>2759662</td>
          
            <td>2012-07-11</td>
          
            <td>$0.790</td>
          
            <td><span id=delisted>968</span></td>
          
            <td><span id=delisted>0.000%</span></td>
          
            <td><span id=delisted>-</span></td>
          
            <td><span id=delisted>$8.230</span></td>
          
            <td><span id=delisted>-100.000%</span></td>
          
            <td>143.387%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/ORI'>ORI</a></td>
          
            <td>7197360</td>
          
            <td>2012-06-26</td>
          
            <td>$8.460</td>
          
            <td>229</td>
          
            <td>62.000%</td>
          
            <td>2013-05-28</td>
          
            <td>$13.940</td>
          
            <td>64.775%</td>
          
            <td>26.272%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/TPX'>TPX</a></td>
          
            <td>14015900</td>
          
            <td>2012-06-07</td>
          
            <td>$5.570</td>
          
            <td>200</td>
          
            <td>120.000%</td>
          
            <td>2013-03-27</td>
          
            <td>$12.456</td>
          
            <td>123.627%</td>
          
            <td>17.023%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/MUX'>MUX</a></td>
          
            <td>3490844</td>
          
            <td>2012-05-16</td>
          
            <td>$2.260</td>
          
            <td>258</td>
          
            <td>4.000%</td>
          
            <td>2013-05-29</td>
          
            <td>$2.380</td>
          
            <td>5.310%</td>
          
            <td>23.354%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/JAG'>JAG</a></td>
          
            <td>4662810</td>
          
            <td>2012-05-10</td>
          
            <td>$1.720</td>
          
            <td><span id=delisted>1010</span></td>
          
            <td><span id=delisted>0.000%</span></td>
          
            <td><span id=delisted>-</span></td>
          
            <td><span id=delisted>$8.230</span></td>
          
            <td><span id=delisted>-100.000%</span></td>
          
            <td>138.989%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/JAG'>JAG</a></td>
          
            <td>4708612</td>
          
            <td>2012-05-09</td>
          
            <td>$1.490</td>
          
            <td><span id=delisted>1011</span></td>
          
            <td><span id=delisted>0.000%</span></td>
          
            <td><span id=delisted>-</span></td>
          
            <td><span id=delisted>$8.230</span></td>
          
            <td><span id=delisted>-100.000%</span></td>
          
            <td>141.784%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/GNW'>GNW</a></td>
          
            <td>27955160</td>
          
            <td>2012-04-19</td>
          
            <td>$6.010</td>
          
            <td>223</td>
          
            <td>74.000%</td>
          
            <td>2013-03-12</td>
          
            <td>$10.460</td>
          
            <td>74.043%</td>
          
            <td>12.299%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/JAG'>JAG</a></td>
          
            <td>6025126</td>
          
            <td>2012-04-13</td>
          
            <td>$3.690</td>
          
            <td><span id=delisted>1029</span></td>
          
            <td><span id=delisted>0.000%</span></td>
          
            <td><span id=delisted>-</span></td>
          
            <td><span id=delisted>$8.230</span></td>
          
            <td><span id=delisted>-100.000%</span></td>
          
            <td>135.899%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/JAG'>JAG</a></td>
          
            <td>5705954</td>
          
            <td>2012-04-12</td>
          
            <td>$3.700</td>
          
            <td><span id=delisted>1030</span></td>
          
            <td><span id=delisted>0.000%</span></td>
          
            <td><span id=delisted>-</span></td>
          
            <td><span id=delisted>$8.230</span></td>
          
            <td><span id=delisted>-100.000%</span></td>
          
            <td>138.205%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/VIPS'>VIPS</a></td>
          
            <td>2174968</td>
          
            <td>2012-03-27</td>
          
            <td>$0.469</td>
          
            <td>169</td>
          
            <td>182.000%</td>
          
            <td>2012-11-28</td>
          
            <td>$1.371</td>
          
            <td>192.473%</td>
          
            <td>-0.198%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/P'>P</a></td>
          
            <td>7946947</td>
          
            <td>2012-03-08</td>
          
            <td>$10.977</td>
          
            <td>250</td>
          
            <td>20.000%</td>
          
            <td>2013-03-08</td>
          
            <td>$13.814</td>
          
            <td>25.842%</td>
          
            <td>13.859%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/HL'>HL</a></td>
          
            <td>16708060</td>
          
            <td>2012-01-12</td>
          
            <td>$4.760</td>
          
            <td>249</td>
          
            <td>22.000%</td>
          
            <td>2013-01-10</td>
          
            <td>$5.870</td>
          
            <td>23.319%</td>
          
            <td>13.514%</td>
          
        </tr>
      
    </table>
  </body>
</html>
