<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>stonk ideas</title>
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen">
  </head>
  <body>
    <p id='intro'>
      <b><a href="/">aribrown.com</a></b> |
      generated (<b><span id='future'>
          2021-07-08
      </b></future>)
      by a program
    </p>
    <hr/>
    <br/>
    <div style='display: inline-block;'>
      <table>
  <tr>
    <th>Year</th>
    <th># of Buys</th>
    <th># Unsold</th>
    <th># Delist.</th>
    <th>Med. Hold</th>
    <th>S&P 500</th>
    <th>Mean ROI</th>
    <th>Median</th>
    <th>STDDEV</th>
    <th>Sharpe</th>
  </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2021.html">2021</a>
      </td>
      <td>81</td>
      <td>72</td>
      <td>7</td>
      <td>(unsold)</td>
      <td>16.851%</td>
      <td>-29.153%</td>
      <td>-100%</td>
      <td>204.881%</td>
      <td>-0.142</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2020.html">2020</a>
      </td>
      <td>340</td>
      <td>67</td>
      <td>14</td>
      <td>197</td>
      <td>15.559%</td>
      <td>130.633%</td>
      <td>136.833%</td>
      <td>167.948%</td>
      <td>0.778</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2019.html">2019</a>
      </td>
      <td>68</td>
      <td>23</td>
      <td>19</td>
      <td>262</td>
      <td>30.848%</td>
      <td>33.95%</td>
      <td>5.263%</td>
      <td>170.591%</td>
      <td>0.199</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2018.html">2018</a>
      </td>
      <td>59</td>
      <td>39</td>
      <td>34</td>
      <td>(unsold)</td>
      <td>-6.691%</td>
      <td>-48.078%</td>
      <td>-100%</td>
      <td>86.945%</td>
      <td>-0.553</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2017.html">2017</a>
      </td>
      <td>35</td>
      <td>10</td>
      <td>6</td>
      <td>336</td>
      <td>18.747%</td>
      <td>-3.951%</td>
      <td>3.633%</td>
      <td>72.637%</td>
      <td>-0.054</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2016.html">2016</a>
      </td>
      <td>46</td>
      <td>5</td>
      <td>4</td>
      <td>211</td>
      <td>8.97%</td>
      <td>104.918%</td>
      <td>121.088%</td>
      <td>123.433%</td>
      <td>0.85</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2015.html">2015</a>
      </td>
      <td>41</td>
      <td>4</td>
      <td>4</td>
      <td>257</td>
      <td>-1.216%</td>
      <td>125.398%</td>
      <td>22.119%</td>
      <td>185.328%</td>
      <td>0.677</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2014.html">2014</a>
      </td>
      <td>26</td>
      <td>4</td>
      <td>2</td>
      <td>290</td>
      <td>11.664%</td>
      <td>28.326%</td>
      <td>5.528%</td>
      <td>86.716%</td>
      <td>0.327</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2013.html">2013</a>
      </td>
      <td>14</td>
      <td>6</td>
      <td>6</td>
      <td>1844</td>
      <td>27.276%</td>
      <td>-16.44%</td>
      <td>7.294%</td>
      <td>89.023%</td>
      <td>-0.185</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2012.html">2012</a>
      </td>
      <td>29</td>
      <td>6</td>
      <td>6</td>
      <td>232</td>
      <td>11.467%</td>
      <td>55.28%</td>
      <td>56.028%</td>
      <td>107.682%</td>
      <td>0.513</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2011.html">2011</a>
      </td>
      <td>22</td>
      <td>1</td>
      <td>0</td>
      <td>260</td>
      <td>-0.024%</td>
      <td>31.464%</td>
      <td>15.335%</td>
      <td>53.519%</td>
      <td>0.588</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2010.html">2010</a>
      </td>
      <td>7</td>
      <td>0</td>
      <td>0</td>
      <td>206</td>
      <td>11.51%</td>
      <td>139.685%</td>
      <td>109.463%</td>
      <td>132.083%</td>
      <td>1.058</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2009.html">2009</a>
      </td>
      <td>244</td>
      <td>0</td>
      <td>0</td>
      <td>143</td>
      <td>23.22%</td>
      <td>264.706%</td>
      <td>254.639%</td>
      <td>264.429%</td>
      <td>1.001</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2008.html">2008</a>
      </td>
      <td>374</td>
      <td>2</td>
      <td>0</td>
      <td>218</td>
      <td>-38.654%</td>
      <td>153.0%</td>
      <td>98.83%</td>
      <td>304.772%</td>
      <td>0.502</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2007.html">2007</a>
      </td>
      <td>17</td>
      <td>1</td>
      <td>0</td>
      <td>258</td>
      <td>2.784%</td>
      <td>192.784%</td>
      <td>46.341%</td>
      <td>381.169%</td>
      <td>0.506</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2006.html">2006</a>
      </td>
      <td>18</td>
      <td>0</td>
      <td>0</td>
      <td>242</td>
      <td>13.124%</td>
      <td>91.717%</td>
      <td>57.279%</td>
      <td>112.141%</td>
      <td>0.818</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2005.html">2005</a>
      </td>
      <td>33</td>
      <td>0</td>
      <td>0</td>
      <td>224</td>
      <td>2.646%</td>
      <td>116.428%</td>
      <td>75.0%</td>
      <td>176.221%</td>
      <td>0.661</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2004.html">2004</a>
      </td>
      <td>22</td>
      <td>0</td>
      <td>0</td>
      <td>256</td>
      <td>8.676%</td>
      <td>18.69%</td>
      <td>15.489%</td>
      <td>21.107%</td>
      <td>0.885</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2003.html">2003</a>
      </td>
      <td>44</td>
      <td>0</td>
      <td>0</td>
      <td>241</td>
      <td>26.469%</td>
      <td>100.621%</td>
      <td>42.857%</td>
      <td>135.529%</td>
      <td>0.742</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2002.html">2002</a>
      </td>
      <td>151</td>
      <td>0</td>
      <td>0</td>
      <td>217</td>
      <td>-24.038%</td>
      <td>139.242%</td>
      <td>100.889%</td>
      <td>123.274%</td>
      <td>1.13</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2001.html">2001</a>
      </td>
      <td>90</td>
      <td>0</td>
      <td>0</td>
      <td>254</td>
      <td>-13.409%</td>
      <td>76.581%</td>
      <td>25.0%</td>
      <td>122.367%</td>
      <td>0.626</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2000.html">2000</a>
      </td>
      <td>172</td>
      <td>11</td>
      <td>0</td>
      <td>254</td>
      <td>-12.279%</td>
      <td>58.568%</td>
      <td>23.569%</td>
      <td>99.159%</td>
      <td>0.591</td>
    </tr>
  
</table>


    </div>
    <div style='display: inline-block; max-width: 28%; vertical-align: top; padding-left: 20px;'>
      <br/>
      <br/>
      <p>
        a full explanation is available <b><a href="/files/stocks.html">here</a></b>
      </p>
      <br/>
      <p>
        <div id='reasons'>
          buy when:
          <br/>
          <ul>
            <li>20% price drop in 2 days (open to close)</li>
            <li>
              stock is in the top 61 of the market movement potential
              (explained <b><a href="/files/stocks.html#1:4">here</a></b>)
            </li>
          </ul>
      
          sell when:
          <br/>
          <ul>
            <li>
              ROI > 520% - 2% * trading_days_held
            </li>
          </ul>
        </div>
      </p>
      <br/>
      <ul style="padding-left: 20px;">
        <li>prices may be adjusted to reflect splits/reverse-splits</li>
        <li>drop occurs on one day, buy the next morning</li>
        <li><span id='future'>blue</span> figures are taken from the latest
            closing prices, since the threshold to sell has not yet been reached</li>
        <li><span id='delisted'>red</span> figures are taken from the last
            closing prices available, since it has since been delisted</li>
      </ul>
    </div>
    <br/>
    <center><h2>1 JAN 2015 - 31 DEC 2015</h2></center>
    <p>SPY ROI for 1 JAN 2015 - 31 DEC 2015: <span id=future>-1.216%</span></p>
    <p>mean ROI for trades shown: <span id=future>125.398%</span></p>
    <p>mean ROI if you were to also sell everything you're still holding: <span id=future>125.398%</span></p>
    <table>
      <tr>
        <th><b>Symbol</b></th>
        <th><b>10-Day Trade Volume</b></th>
        <th><b>Buy Date</b></th>
        <th><b>Buy Price</b></th>
        <th><b>Days Held</b></th>
        <th><b>ROI Threshold</b></th>
        <th><b>Sell Date</b></th>
        <th><b>Sell Price</b></th>
        <th><b>Sell ROI</b></th>
        <th><b>SPY ROI</b></th>
      </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/TK'>TK</a></td>
          
            <td>11600082</td>
          
            <td>2015-12-21</td>
          
            <td>$8.910</td>
          
            <td>262</td>
          
            <td>0.000%</td>
          
            <td>2017-01-05</td>
          
            <td>$8.910</td>
          
            <td>0.000%</td>
          
            <td>12.408%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/TK'>TK</a></td>
          
            <td>10219145</td>
          
            <td>2015-12-18</td>
          
            <td>$7.560</td>
          
            <td>257</td>
          
            <td>6.000%</td>
          
            <td>2016-12-27</td>
          
            <td>$8.200</td>
          
            <td>8.466%</td>
          
            <td>11.589%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CLF'>CLF</a></td>
          
            <td>5667465</td>
          
            <td>2015-12-16</td>
          
            <td>$1.600</td>
          
            <td>135</td>
          
            <td>250.000%</td>
          
            <td>2016-06-30</td>
          
            <td>$5.670</td>
          
            <td>254.375%</td>
          
            <td>1.507%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CNX'>CNX</a></td>
          
            <td>13268872</td>
          
            <td>2015-12-08</td>
          
            <td>$5.447</td>
          
            <td>160</td>
          
            <td>200.000%</td>
          
            <td>2016-07-28</td>
          
            <td>$16.418</td>
          
            <td>201.415%</td>
          
            <td>4.978%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/ATV'>ATV</a></td>
          
            <td>1886590</td>
          
            <td>2015-12-08</td>
          
            <td>$4.450</td>
          
            <td>206</td>
          
            <td>108.000%</td>
          
            <td>2016-10-03</td>
          
            <td>$10.370</td>
          
            <td>133.049%</td>
          
            <td>4.499%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/ATV'>ATV</a></td>
          
            <td>3068302</td>
          
            <td>2015-12-04</td>
          
            <td>$4.028</td>
          
            <td>208</td>
          
            <td>104.000%</td>
          
            <td>2016-10-03</td>
          
            <td>$10.370</td>
          
            <td>157.467%</td>
          
            <td>4.946%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/VIPS'>VIPS</a></td>
          
            <td>39340020</td>
          
            <td>2015-11-16</td>
          
            <td>$13.690</td>
          
            <td>333</td>
          
            <td>0.000%</td>
          
            <td>2017-03-15</td>
          
            <td>$13.700</td>
          
            <td>0.073%</td>
          
            <td>18.105%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/FTK'>FTK</a></td>
          
            <td>10624743</td>
          
            <td>2015-11-12</td>
          
            <td>$8.560</td>
          
            <td>224</td>
          
            <td>72.000%</td>
          
            <td>2016-10-04</td>
          
            <td>$14.750</td>
          
            <td>72.313%</td>
          
            <td>3.961%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/FTK'>FTK</a></td>
          
            <td>9559065</td>
          
            <td>2015-11-11</td>
          
            <td>$8.525</td>
          
            <td>224</td>
          
            <td>72.000%</td>
          
            <td>2016-10-03</td>
          
            <td>$14.840</td>
          
            <td>74.076%</td>
          
            <td>3.303%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/IO'>IO</a></td>
          
            <td>5212723</td>
          
            <td>2015-11-05</td>
          
            <td>$5.978</td>
          
            <td>256</td>
          
            <td>8.000%</td>
          
            <td>2016-11-10</td>
          
            <td>$7.300</td>
          
            <td>22.119%</td>
          
            <td>3.084%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CNX'>CNX</a></td>
          
            <td>13007412</td>
          
            <td>2015-10-28</td>
          
            <td>$6.081</td>
          
            <td>186</td>
          
            <td>148.000%</td>
          
            <td>2016-07-26</td>
          
            <td>$15.716</td>
          
            <td>158.451%</td>
          
            <td>4.710%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/P'>P</a></td>
          
            <td>17729578</td>
          
            <td>2015-10-26</td>
          
            <td>$12.645</td>
          
            <td>279</td>
          
            <td>0.000%</td>
          
            <td>2016-12-02</td>
          
            <td>$13.317</td>
          
            <td>5.312%</td>
          
            <td>5.972%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/HUN'>HUN</a></td>
          
            <td>9997095</td>
          
            <td>2015-09-30</td>
          
            <td>$9.460</td>
          
            <td>220</td>
          
            <td>80.000%</td>
          
            <td>2016-08-15</td>
          
            <td>$17.110</td>
          
            <td>80.867%</td>
          
            <td>15.086%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SID'>SID</a></td>
          
            <td>2146656</td>
          
            <td>2015-09-24</td>
          
            <td>$0.950</td>
          
            <td>138</td>
          
            <td>244.000%</td>
          
            <td>2016-04-13</td>
          
            <td>$3.720</td>
          
            <td>291.579%</td>
          
            <td>8.249%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/HMY'>HMY</a></td>
          
            <td>17626161</td>
          
            <td>2015-09-23</td>
          
            <td>$0.692</td>
          
            <td>105</td>
          
            <td>310.000%</td>
          
            <td>2016-02-24</td>
          
            <td>$3.010</td>
          
            <td>334.971%</td>
          
            <td>-0.469%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/HMY'>HMY</a></td>
          
            <td>18035138</td>
          
            <td>2015-09-22</td>
          
            <td>$0.706</td>
          
            <td>106</td>
          
            <td>308.000%</td>
          
            <td>2016-02-24</td>
          
            <td>$3.010</td>
          
            <td>326.285%</td>
          
            <td>-0.351%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BTU'>BTU</a></td>
          
            <td>11196538</td>
          
            <td>2015-09-11</td>
          
            <td>$24.383</td>
          
            <td><span id=future>1248</span></td>
          
            <td><span id=future>0.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$10.020</span></td>
          
            <td><span id=future>-100.000%</span></td>
          
            <td>122.351%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CRK'>CRK</a></td>
          
            <td>3564689</td>
          
            <td>2015-08-05</td>
          
            <td>$4.759</td>
          
            <td>260</td>
          
            <td>0.000%</td>
          
            <td>2016-08-16</td>
          
            <td>$6.130</td>
          
            <td>28.801%</td>
          
            <td>3.569%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/AMPY'>AMPY</a></td>
          
            <td>504833</td>
          
            <td>2015-08-04</td>
          
            <td>$4.250</td>
          
            <td>309</td>
          
            <td>0.000%</td>
          
            <td>2016-10-24</td>
          
            <td>$22.650</td>
          
            <td>432.941%</td>
          
            <td>2.475%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/AMPY'>AMPY</a></td>
          
            <td>836044</td>
          
            <td>2015-07-20</td>
          
            <td>$0.540</td>
          
            <td>15</td>
          
            <td>490.000%</td>
          
            <td>2015-08-10</td>
          
            <td>$3.720</td>
          
            <td>588.889%</td>
          
            <td>-0.996%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/AMPY'>AMPY</a></td>
          
            <td>850157</td>
          
            <td>2015-07-17</td>
          
            <td>$0.630</td>
          
            <td>16</td>
          
            <td>488.000%</td>
          
            <td>2015-08-10</td>
          
            <td>$3.720</td>
          
            <td>490.476%</td>
          
            <td>-0.782%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/LKM'>LKM</a></td>
          
            <td>3088916</td>
          
            <td>2015-07-09</td>
          
            <td>$4.180</td>
          
            <td>278</td>
          
            <td>0.000%</td>
          
            <td>2016-08-15</td>
          
            <td>$4.420</td>
          
            <td>5.742%</td>
          
            <td>5.820%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/LKM'>LKM</a></td>
          
            <td>2812621</td>
          
            <td>2015-07-08</td>
          
            <td>$3.550</td>
          
            <td>261</td>
          
            <td>0.000%</td>
          
            <td>2016-07-20</td>
          
            <td>$3.580</td>
          
            <td>0.845%</td>
          
            <td>5.169%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BTU'>BTU</a></td>
          
            <td>46358022</td>
          
            <td>2015-07-02</td>
          
            <td>$24.524</td>
          
            <td><span id=future>1297</span></td>
          
            <td><span id=future>0.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$10.020</span></td>
          
            <td><span id=future>-100.000%</span></td>
          
            <td>108.790%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/AMPY'>AMPY</a></td>
          
            <td>1332515</td>
          
            <td>2015-07-02</td>
          
            <td>$0.830</td>
          
            <td>41</td>
          
            <td>438.000%</td>
          
            <td>2015-08-31</td>
          
            <td>$5.070</td>
          
            <td>510.843%</td>
          
            <td>-5.061%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/FBP'>FBP</a></td>
          
            <td>3473441</td>
          
            <td>2015-07-01</td>
          
            <td>$4.900</td>
          
            <td>293</td>
          
            <td>0.000%</td>
          
            <td>2016-08-29</td>
          
            <td>$4.980</td>
          
            <td>1.633%</td>
          
            <td>5.117%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/MBI'>MBI</a></td>
          
            <td>18372106</td>
          
            <td>2015-06-30</td>
          
            <td>$6.300</td>
          
            <td>256</td>
          
            <td>8.000%</td>
          
            <td>2016-07-06</td>
          
            <td>$6.820</td>
          
            <td>8.254%</td>
          
            <td>1.158%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BTU'>BTU</a></td>
          
            <td>23291491</td>
          
            <td>2015-06-15</td>
          
            <td>$36.081</td>
          
            <td><span id=future>1310</span></td>
          
            <td><span id=future>0.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$10.020</span></td>
          
            <td><span id=future>-100.000%</span></td>
          
            <td>108.220%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/TWTR'>TWTR</a></td>
          
            <td>56507940</td>
          
            <td>2015-04-30</td>
          
            <td>$39.280</td>
          
            <td>780</td>
          
            <td>0.000%</td>
          
            <td>2018-06-05</td>
          
            <td>$39.800</td>
          
            <td>1.324%</td>
          
            <td>31.075%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EGY'>EGY</a></td>
          
            <td>2892626</td>
          
            <td>2015-04-01</td>
          
            <td>$2.450</td>
          
            <td>805</td>
          
            <td>0.000%</td>
          
            <td>2018-06-12</td>
          
            <td>$2.480</td>
          
            <td>1.224%</td>
          
            <td>35.116%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BBD'>BBD</a></td>
          
            <td>10260250</td>
          
            <td>2015-03-30</td>
          
            <td>$6.023</td>
          
            <td>283</td>
          
            <td>0.000%</td>
          
            <td>2016-05-12</td>
          
            <td>$6.077</td>
          
            <td>0.899%</td>
          
            <td>-0.203%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/MTL'>MTL</a></td>
          
            <td>1930246</td>
          
            <td>2015-03-18</td>
          
            <td>$2.626</td>
          
            <td>373</td>
          
            <td>0.000%</td>
          
            <td>2016-09-08</td>
          
            <td>$2.800</td>
          
            <td>6.634%</td>
          
            <td>5.362%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/AMPY'>AMPY</a></td>
          
            <td>1462120</td>
          
            <td>2015-03-17</td>
          
            <td>$0.800</td>
          
            <td>101</td>
          
            <td>318.000%</td>
          
            <td>2015-08-10</td>
          
            <td>$3.720</td>
          
            <td>365.000%</td>
          
            <td>1.416%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/MTL'>MTL</a></td>
          
            <td>1725833</td>
          
            <td>2015-03-17</td>
          
            <td>$2.357</td>
          
            <td>372</td>
          
            <td>0.000%</td>
          
            <td>2016-09-06</td>
          
            <td>$2.490</td>
          
            <td>5.642%</td>
          
            <td>5.460%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/AMPY'>AMPY</a></td>
          
            <td>1785818</td>
          
            <td>2015-03-12</td>
          
            <td>$0.830</td>
          
            <td>104</td>
          
            <td>312.000%</td>
          
            <td>2015-08-10</td>
          
            <td>$3.720</td>
          
            <td>348.193%</td>
          
            <td>2.616%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/AMPY'>AMPY</a></td>
          
            <td>1935271</td>
          
            <td>2015-03-11</td>
          
            <td>$0.850</td>
          
            <td>105</td>
          
            <td>310.000%</td>
          
            <td>2015-08-10</td>
          
            <td>$3.720</td>
          
            <td>337.647%</td>
          
            <td>2.601%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/AMPY'>AMPY</a></td>
          
            <td>2680148</td>
          
            <td>2015-02-12</td>
          
            <td>$1.100</td>
          
            <td>137</td>
          
            <td>246.000%</td>
          
            <td>2015-08-28</td>
          
            <td>$4.190</td>
          
            <td>280.909%</td>
          
            <td>-4.161%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/FRO'>FRO</a></td>
          
            <td>4579075</td>
          
            <td>2015-01-30</td>
          
            <td>$11.757</td>
          
            <td>1231</td>
          
            <td>0.000%</td>
          
            <td>2019-12-19</td>
          
            <td>$12.110</td>
          
            <td>2.999%</td>
          
            <td>59.994%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/TIER'>TIER</a></td>
          
            <td>676</td>
          
            <td>2015-01-23</td>
          
            <td>$0.001</td>
          
            <td><span id=delisted>1001</span></td>
          
            <td><span id=delisted>0.000%</span></td>
          
            <td><span id=delisted>-</span></td>
          
            <td><span id=delisted>$29.050</span></td>
          
            <td><span id=delisted>-100.000%</span></td>
          
            <td>40.561%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/KBH'>KBH</a></td>
          
            <td>14425685</td>
          
            <td>2015-01-15</td>
          
            <td>$13.570</td>
          
            <td>295</td>
          
            <td>0.000%</td>
          
            <td>2016-03-18</td>
          
            <td>$13.720</td>
          
            <td>1.105%</td>
          
            <td>1.364%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/AKS'>AKS</a></td>
          
            <td>17633598</td>
          
            <td>2015-01-14</td>
          
            <td>$4.020</td>
          
            <td>287</td>
          
            <td>0.000%</td>
          
            <td>2016-03-07</td>
          
            <td>$4.040</td>
          
            <td>0.498%</td>
          
            <td>0.471%</td>
          
        </tr>
      
    </table>
  </body>
</html>
