<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>stonk ideas</title>
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen">
  </head>
  <body>
    <p id='intro'>
      <b><a href="/">aribrown.com</a></b> |
      generated (<b><span id='future'>
          2021-04-28
      </b></future>)
      by a program
    </p>
    <hr/>
    <br/>
    <div style='display: inline-block;'>
      <table>
  <tr>
    <th>Year</th>
    <th># of Buys</th>
    <th>Med. Hold</th>
    <th>S&P 500</th>
    <th>Mean ROI</th>
    <th>Median</th>
    <th>STDDEV</th>
    <th>Sharpe</th>
  </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2021.html">2021</a>
      </td>
      <td>72</td>
      <td>(unsold)</td>
      <td>11.627%</td>
      <td>-91.253%</td>
      <td>-100%</td>
      <td>74.221%</td>
      <td>-1.229</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2020.html">2020</a>
      </td>
      <td>348</td>
      <td>197</td>
      <td>15.086%</td>
      <td>123.855%</td>
      <td>136.923%</td>
      <td>173.914%</td>
      <td>0.712</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2019.html">2019</a>
      </td>
      <td>53</td>
      <td>247</td>
      <td>28.651%</td>
      <td>79.495%</td>
      <td>33.156%</td>
      <td>169.753%</td>
      <td>0.468</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2018.html">2018</a>
      </td>
      <td>30</td>
      <td>350</td>
      <td>-7.013%</td>
      <td>20.217%</td>
      <td>7.446%</td>
      <td>95.144%</td>
      <td>0.212</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2017.html">2017</a>
      </td>
      <td>32</td>
      <td>304</td>
      <td>19.326%</td>
      <td>207.064%</td>
      <td>6.502%</td>
      <td>618.783%</td>
      <td>0.335</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2016.html">2016</a>
      </td>
      <td>50</td>
      <td>211</td>
      <td>9.643%</td>
      <td>167.163%</td>
      <td>121.088%</td>
      <td>255.225%</td>
      <td>0.655</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2015.html">2015</a>
      </td>
      <td>40</td>
      <td>256</td>
      <td>-0.759%</td>
      <td>125.655%</td>
      <td>28.801%</td>
      <td>186.76%</td>
      <td>0.673</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2014.html">2014</a>
      </td>
      <td>24</td>
      <td>260</td>
      <td>12.366%</td>
      <td>47.703%</td>
      <td>18.585%</td>
      <td>88.281%</td>
      <td>0.54</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2013.html">2013</a>
      </td>
      <td>9</td>
      <td>279</td>
      <td>26.448%</td>
      <td>41.125%</td>
      <td>11.765%</td>
      <td>62.839%</td>
      <td>0.654</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2012.html">2012</a>
      </td>
      <td>23</td>
      <td>223</td>
      <td>11.694%</td>
      <td>94.904%</td>
      <td>74.043%</td>
      <td>81.324%</td>
      <td>1.167</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2011.html">2011</a>
      </td>
      <td>18</td>
      <td>260</td>
      <td>-0.199%</td>
      <td>26.39%</td>
      <td>15.335%</td>
      <td>52.428%</td>
      <td>0.503</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2010.html">2010</a>
      </td>
      <td>9</td>
      <td>241</td>
      <td>12.841%</td>
      <td>116.993%</td>
      <td>44.486%</td>
      <td>122.933%</td>
      <td>0.952</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2009.html">2009</a>
      </td>
      <td>245</td>
      <td>140</td>
      <td>19.88%</td>
      <td>268.279%</td>
      <td>261.333%</td>
      <td>263.722%</td>
      <td>1.017</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2008.html">2008</a>
      </td>
      <td>351</td>
      <td>217</td>
      <td>-37.735%</td>
      <td>153.032%</td>
      <td>101.984%</td>
      <td>311.537%</td>
      <td>0.491</td>
    </tr>
  
</table>


    </div>
    <div style='display: inline-block; max-width: 40%; vertical-align: top; padding-left: 20px;'>
      <br/>
      <br/>
      <p>
        a full explanation is available <b><a href="/files/stocks.html">here</a></b>
      </p>
      <br/>
      <p>
        <div id='reasons'>
          buy when:
          <br/>
          <ul>
            <li>20% price drop in 2 days (open to close)</li>
            <li>
              stock is in the top 61 of the market movement potential
              (explained <b><a href="/files/stocks.html#1:4">here</a></b>)
            </li>
          </ul>
      
          sell when:
          <br/>
          <ul>
            <li>
              ROI > 520% - 2% * trading_days_held
            </li>
          </ul>
        </div>
      </p>
      <br/>
      <ul style="padding-left: 20px;">
        <li>prices may be adjusted to reflect splits/reverse-splits</li>
        <li>drop occurs on one day, buy the next morning</li>
        <li>prior 5 days is including the day of the drop</li>
        <li><span id='future'>blue</span> figures are taken from the latest
            closing prices, since the threshold to sell has not yet been reached</li>
      </ul>
    </div>
    <br/>
    <center><h2>1 JAN 2014 - 31 DEC 2014</h2></center>
    <p>SPY ROI for 1 JAN 2014 - 31 DEC 2014: <span id='future'>12.366%</span></p>
    <p>mean ROI for trades shown: <span id='future'>47.703%</span></p>
    <p>mean ROI if you were to also sell everything you're still holding: <span id='future'>52.295%</span></p>
    <table>
      <tr>
        <th><b>Symbol</b></th>
        <th><b>10-Day Trade Volume</b></th>
        <th><b>Buy Date</b></th>
        <th><b>Buy Price</b></th>
        <th><b>Days Held</b></th>
        <th><b>ROI Threshold</b></th>
        <th><b>Sell Date</b></th>
        <th><b>Sell Price</b></th>
        <th><b>Sell ROI</b></th>
        <th><b>SPY ROI</b></th>
      </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/DRD'>DRD</a></td>
          
            <td>1246208</td>
          
            <td>2014-12-24</td>
          
            <td>$1.510</td>
          
            <td>257</td>
          
            <td>6.000%</td>
          
            <td>2016-01-04</td>
          
            <td>$1.700</td>
          
            <td>12.583%</td>
          
            <td>-3.249%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/AMPY'>AMPY</a></td>
          
            <td>1672235</td>
          
            <td>2014-12-19</td>
          
            <td>$1.400</td>
          
            <td>173</td>
          
            <td>174.000%</td>
          
            <td>2015-08-28</td>
          
            <td>$4.190</td>
          
            <td>199.286%</td>
          
            <td>-3.525%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/MBT'>MBT</a></td>
          
            <td>6279257</td>
          
            <td>2014-12-16</td>
          
            <td>$6.120</td>
          
            <td>258</td>
          
            <td>4.000%</td>
          
            <td>2015-12-24</td>
          
            <td>$6.410</td>
          
            <td>4.739%</td>
          
            <td>3.926%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/AMPY'>AMPY</a></td>
          
            <td>1154463</td>
          
            <td>2014-12-15</td>
          
            <td>$1.130</td>
          
            <td>163</td>
          
            <td>194.000%</td>
          
            <td>2015-08-10</td>
          
            <td>$3.720</td>
          
            <td>229.204%</td>
          
            <td>5.574%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/AMPY'>AMPY</a></td>
          
            <td>979338</td>
          
            <td>2014-12-09</td>
          
            <td>$1.460</td>
          
            <td>181</td>
          
            <td>158.000%</td>
          
            <td>2015-08-28</td>
          
            <td>$4.190</td>
          
            <td>186.986%</td>
          
            <td>-3.502%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/AMPY'>AMPY</a></td>
          
            <td>1002394</td>
          
            <td>2014-12-01</td>
          
            <td>$2.290</td>
          
            <td>193</td>
          
            <td>134.000%</td>
          
            <td>2015-09-08</td>
          
            <td>$7.150</td>
          
            <td>212.227%</td>
          
            <td>-4.034%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CLF'>CLF</a></td>
          
            <td>13648551</td>
          
            <td>2014-11-20</td>
          
            <td>$8.000</td>
          
            <td>421</td>
          
            <td>0.000%</td>
          
            <td>2016-07-26</td>
          
            <td>$8.020</td>
          
            <td>0.250%</td>
          
            <td>5.433%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/DS'>DS</a></td>
          
            <td>4037282</td>
          
            <td>2014-11-10</td>
          
            <td>$4.400</td>
          
            <td>264</td>
          
            <td>0.000%</td>
          
            <td>2015-11-27</td>
          
            <td>$4.440</td>
          
            <td>0.909%</td>
          
            <td>2.736%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/GNW'>GNW</a></td>
          
            <td>34410034</td>
          
            <td>2014-11-07</td>
          
            <td>$8.470</td>
          
            <td><span id='future'>1627</span></td>
          
            <td><span id='future'>0.000%</span></td>
          
            <td><span id='future'>-</span></td>
          
            <td><span id='future'>$4.400</span></td>
          
            <td><span id='future'>-48.053%</span></td>
          
            <td>105.247%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SAND'>SAND</a></td>
          
            <td>1993456</td>
          
            <td>2014-10-31</td>
          
            <td>$2.670</td>
          
            <td>260</td>
          
            <td>0.000%</td>
          
            <td>2015-11-12</td>
          
            <td>$2.680</td>
          
            <td>0.375%</td>
          
            <td>1.577%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/AG'>AG</a></td>
          
            <td>2564980</td>
          
            <td>2014-10-31</td>
          
            <td>$5.210</td>
          
            <td>337</td>
          
            <td>0.000%</td>
          
            <td>2016-03-07</td>
          
            <td>$5.360</td>
          
            <td>2.879%</td>
          
            <td>-0.531%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/AMPY'>AMPY</a></td>
          
            <td>1709961</td>
          
            <td>2014-10-16</td>
          
            <td>$2.350</td>
          
            <td>219</td>
          
            <td>82.000%</td>
          
            <td>2015-08-31</td>
          
            <td>$5.070</td>
          
            <td>115.745%</td>
          
            <td>6.050%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/AMPY'>AMPY</a></td>
          
            <td>1412127</td>
          
            <td>2014-10-15</td>
          
            <td>$2.330</td>
          
            <td>220</td>
          
            <td>80.000%</td>
          
            <td>2015-08-31</td>
          
            <td>$5.070</td>
          
            <td>117.597%</td>
          
            <td>5.959%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/MTL'>MTL</a></td>
          
            <td>2624571</td>
          
            <td>2014-09-23</td>
          
            <td>$1.613</td>
          
            <td>237</td>
          
            <td>46.000%</td>
          
            <td>2015-09-01</td>
          
            <td>$2.357</td>
          
            <td>46.154%</td>
          
            <td>-3.151%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/VHC'>VHC</a></td>
          
            <td>10276900</td>
          
            <td>2014-09-22</td>
          
            <td>$5.320</td>
          
            <td>345</td>
          
            <td>0.000%</td>
          
            <td>2016-02-04</td>
          
            <td>$7.060</td>
          
            <td>32.707%</td>
          
            <td>-3.791%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/VHC'>VHC</a></td>
          
            <td>9838280</td>
          
            <td>2014-09-19</td>
          
            <td>$5.600</td>
          
            <td>346</td>
          
            <td>0.000%</td>
          
            <td>2016-02-04</td>
          
            <td>$7.060</td>
          
            <td>26.071%</td>
          
            <td>-4.534%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/VHC'>VHC</a></td>
          
            <td>8665140</td>
          
            <td>2014-09-18</td>
          
            <td>$6.830</td>
          
            <td>347</td>
          
            <td>0.000%</td>
          
            <td>2016-02-04</td>
          
            <td>$7.060</td>
          
            <td>3.367%</td>
          
            <td>-5.064%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/AT'>AT</a></td>
          
            <td>3575480</td>
          
            <td>2014-09-17</td>
          
            <td>$2.520</td>
          
            <td>384</td>
          
            <td>0.000%</td>
          
            <td>2016-03-29</td>
          
            <td>$2.530</td>
          
            <td>0.397%</td>
          
            <td>2.177%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/VHC'>VHC</a></td>
          
            <td>3930560</td>
          
            <td>2014-09-17</td>
          
            <td>$8.360</td>
          
            <td><span id='future'>1664</span></td>
          
            <td><span id='future'>0.000%</span></td>
          
            <td><span id='future'>-</span></td>
          
            <td><span id='future'>$4.870</span></td>
          
            <td><span id='future'>-41.746%</span></td>
          
            <td>107.895%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/FRO'>FRO</a></td>
          
            <td>2725540</td>
          
            <td>2014-09-05</td>
          
            <td>$7.871</td>
          
            <td>219</td>
          
            <td>82.000%</td>
          
            <td>2015-07-21</td>
          
            <td>$14.896</td>
          
            <td>89.241%</td>
          
            <td>5.296%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SEAS'>SEAS</a></td>
          
            <td>12872460</td>
          
            <td>2014-08-14</td>
          
            <td>$19.040</td>
          
            <td>290</td>
          
            <td>0.000%</td>
          
            <td>2015-10-08</td>
          
            <td>$19.120</td>
          
            <td>0.420%</td>
          
            <td>2.784%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/WWE'>WWE</a></td>
          
            <td>12759500</td>
          
            <td>2014-05-19</td>
          
            <td>$11.730</td>
          
            <td>251</td>
          
            <td>18.000%</td>
          
            <td>2015-05-18</td>
          
            <td>$13.910</td>
          
            <td>18.585%</td>
          
            <td>12.907%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/TWTR'>TWTR</a></td>
          
            <td>31894700</td>
          
            <td>2014-02-07</td>
          
            <td>$51.230</td>
          
            <td>282</td>
          
            <td>0.000%</td>
          
            <td>2015-03-24</td>
          
            <td>$51.470</td>
          
            <td>0.468%</td>
          
            <td>16.218%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BBY'>BBY</a></td>
          
            <td>35444120</td>
          
            <td>2014-01-17</td>
          
            <td>$27.010</td>
          
            <td>238</td>
          
            <td>44.000%</td>
          
            <td>2014-12-29</td>
          
            <td>$39.080</td>
          
            <td>44.687%</td>
          
            <td>13.657%</td>
          
        </tr>
      
    </table>
  </body>
</html>
