<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>stonk ideas</title>
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen">
  </head>
  <body>
    <p id='intro'>
      <b><a href="/">aribrown.com</a></b> |
      generated (<b><span id='future'>
          2021-04-23
      </b></future>)
      by a program
    </p>
    <hr/>
    <br/>
    <div style='display: inline-block;'>
      <table>
  <tr>
    <th>Year</th>
    <th># of Buys</th>
    <th>Med. Hold</th>
    <th>S&P 500</th>
    <th>Mean ROI</th>
    <th>Median</th>
    <th>STDDEV</th>
    <th>Sharpe</th>
  </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2021.html">2021</a>
      </td>
      <td>69</td>
      <td>(unsold)</td>
      <td>10.276%</td>
      <td>-90.873%</td>
      <td>-100%</td>
      <td>75.817%</td>
      <td>-1.199</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2020.html">2020</a>
      </td>
      <td>348</td>
      <td>197</td>
      <td>15.086%</td>
      <td>123.274%</td>
      <td>136.923%</td>
      <td>174.492%</td>
      <td>0.706</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2019.html">2019</a>
      </td>
      <td>53</td>
      <td>247</td>
      <td>28.785%</td>
      <td>79.495%</td>
      <td>33.156%</td>
      <td>169.753%</td>
      <td>0.468</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2018.html">2018</a>
      </td>
      <td>30</td>
      <td>350</td>
      <td>-7.013%</td>
      <td>20.217%</td>
      <td>7.446%</td>
      <td>95.144%</td>
      <td>0.212</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2017.html">2017</a>
      </td>
      <td>32</td>
      <td>304</td>
      <td>19.326%</td>
      <td>207.064%</td>
      <td>6.502%</td>
      <td>618.783%</td>
      <td>0.335</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2016.html">2016</a>
      </td>
      <td>50</td>
      <td>211</td>
      <td>9.643%</td>
      <td>167.163%</td>
      <td>121.088%</td>
      <td>255.225%</td>
      <td>0.655</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2015.html">2015</a>
      </td>
      <td>40</td>
      <td>225</td>
      <td>-0.759%</td>
      <td>216.515%</td>
      <td>80.867%</td>
      <td>272.092%</td>
      <td>0.796</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2014.html">2014</a>
      </td>
      <td>24</td>
      <td>260</td>
      <td>12.366%</td>
      <td>47.703%</td>
      <td>18.585%</td>
      <td>88.281%</td>
      <td>0.54</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2013.html">2013</a>
      </td>
      <td>9</td>
      <td>279</td>
      <td>29.689%</td>
      <td>41.125%</td>
      <td>11.765%</td>
      <td>62.839%</td>
      <td>0.654</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2012.html">2012</a>
      </td>
      <td>23</td>
      <td>223</td>
      <td>11.694%</td>
      <td>94.904%</td>
      <td>74.043%</td>
      <td>81.324%</td>
      <td>1.167</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2011.html">2011</a>
      </td>
      <td>18</td>
      <td>260</td>
      <td>-0.199%</td>
      <td>26.39%</td>
      <td>15.335%</td>
      <td>52.428%</td>
      <td>0.503</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2010.html">2010</a>
      </td>
      <td>9</td>
      <td>241</td>
      <td>12.841%</td>
      <td>116.993%</td>
      <td>44.486%</td>
      <td>122.933%</td>
      <td>0.952</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2009.html">2009</a>
      </td>
      <td>245</td>
      <td>140</td>
      <td>19.88%</td>
      <td>268.279%</td>
      <td>261.333%</td>
      <td>263.722%</td>
      <td>1.017</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2008.html">2008</a>
      </td>
      <td>351</td>
      <td>217</td>
      <td>-37.735%</td>
      <td>153.032%</td>
      <td>101.984%</td>
      <td>311.537%</td>
      <td>0.491</td>
    </tr>
  
</table>


    </div>
    <div style='display: inline-block; max-width: 40%; vertical-align: top; padding-left: 20px;'>
      <br/>
      <br/>
      <p>
        a full explanation is available <b><a href="/files/stocks.html">here</a></b>
      </p>
      <br/>
      <p>
        <div id='reasons'>
          buy when:
          <br/>
          <ul>
            <li>20% price drop in 2 days (open to close)</li>
            <li>
              stock is in the top 61 of the market movement potential
              (explained <b><a href="/files/stocks.html#1:4">here</a></b>)
            </li>
          </ul>
      
          sell when:
          <br/>
          <ul>
            <li>
              ROI > 520% - 2% * trading_days_held
            </li>
          </ul>
        </div>
      </p>
      <br/>
      <ul style="padding-left: 20px;">
        <li>prices may be adjusted to reflect splits/reverse-splits</li>
        <li>drop occurs on one day, buy the next morning</li>
        <li>prior 5 days is including the day of the drop</li>
        <li><span id='future'>blue</span> figures are taken from the latest
            closing prices, since the threshold to sell has not yet been reached</li>
      </ul>
    </div>
    <br/>
    <center><h2>1 JAN 2015 - 31 DEC 2015</h2></center>
    <p>SPY ROI for 1 JAN 2015 - 31 DEC 2015: <span id='future'>-0.759%</span></p>
    <p>mean ROI for trades shown: <span id='future'>216.515%</span></p>
    <p>mean ROI if you were to also sell everything you're still holding: <span id='future'>216.515%</span></p>
    <table>
      <tr>
        <th><b>Symbol</b></th>
        <th><b>10-Day Trade Volume</b></th>
        <th><b>Buy Date</b></th>
        <th><b>Buy Price</b></th>
        <th><b>Days Held</b></th>
        <th><b>ROI Threshold</b></th>
        <th><b>Sell Date</b></th>
        <th><b>Sell Price</b></th>
        <th><b>Sell ROI</b></th>
        <th><b>SPY ROI</b></th>
      </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/TK'>TK</a></td>
          
            <td>11600082</td>
          
            <td>2015-12-21</td>
          
            <td>$8.910</td>
          
            <td>262</td>
          
            <td>0.000%</td>
          
            <td>2017-01-05</td>
          
            <td>$8.910</td>
          
            <td>0.000%</td>
          
            <td>12.263%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/TK'>TK</a></td>
          
            <td>10219145</td>
          
            <td>2015-12-18</td>
          
            <td>$7.560</td>
          
            <td>257</td>
          
            <td>6.000%</td>
          
            <td>2016-12-27</td>
          
            <td>$8.200</td>
          
            <td>8.466%</td>
          
            <td>13.124%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CLF'>CLF</a></td>
          
            <td>5667465</td>
          
            <td>2015-12-16</td>
          
            <td>$1.600</td>
          
            <td>135</td>
          
            <td>250.000%</td>
          
            <td>2016-06-30</td>
          
            <td>$5.670</td>
          
            <td>254.375%</td>
          
            <td>0.697%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CNX'>CNX</a></td>
          
            <td>13268872</td>
          
            <td>2015-12-08</td>
          
            <td>$5.447</td>
          
            <td>160</td>
          
            <td>200.000%</td>
          
            <td>2016-07-28</td>
          
            <td>$16.418</td>
          
            <td>201.415%</td>
          
            <td>4.745%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/NETI'>NETI</a></td>
          
            <td>3873064</td>
          
            <td>2015-11-20</td>
          
            <td>$0.876</td>
          
            <td>27</td>
          
            <td>466.000%</td>
          
            <td>2015-12-31</td>
          
            <td>$9.890</td>
          
            <td>1028.867%</td>
          
            <td>-2.599%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/NETI'>NETI</a></td>
          
            <td>3581116</td>
          
            <td>2015-11-19</td>
          
            <td>$0.880</td>
          
            <td>28</td>
          
            <td>464.000%</td>
          
            <td>2015-12-31</td>
          
            <td>$9.890</td>
          
            <td>1023.864%</td>
          
            <td>-2.244%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/VIPS'>VIPS</a></td>
          
            <td>39340020</td>
          
            <td>2015-11-16</td>
          
            <td>$13.690</td>
          
            <td>333</td>
          
            <td>0.000%</td>
          
            <td>2017-03-15</td>
          
            <td>$13.700</td>
          
            <td>0.073%</td>
          
            <td>16.210%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/FTK'>FTK</a></td>
          
            <td>10624743</td>
          
            <td>2015-11-12</td>
          
            <td>$8.560</td>
          
            <td>224</td>
          
            <td>72.000%</td>
          
            <td>2016-10-04</td>
          
            <td>$14.750</td>
          
            <td>72.313%</td>
          
            <td>4.804%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/FTK'>FTK</a></td>
          
            <td>9559065</td>
          
            <td>2015-11-11</td>
          
            <td>$8.525</td>
          
            <td>224</td>
          
            <td>72.000%</td>
          
            <td>2016-10-03</td>
          
            <td>$14.840</td>
          
            <td>74.076%</td>
          
            <td>3.870%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/IO'>IO</a></td>
          
            <td>5212723</td>
          
            <td>2015-11-05</td>
          
            <td>$5.978</td>
          
            <td>256</td>
          
            <td>8.000%</td>
          
            <td>2016-11-10</td>
          
            <td>$7.300</td>
          
            <td>22.119%</td>
          
            <td>3.222%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CNX'>CNX</a></td>
          
            <td>13007412</td>
          
            <td>2015-10-28</td>
          
            <td>$6.081</td>
          
            <td>186</td>
          
            <td>148.000%</td>
          
            <td>2016-07-26</td>
          
            <td>$15.716</td>
          
            <td>158.451%</td>
          
            <td>3.738%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/HUN'>HUN</a></td>
          
            <td>9997095</td>
          
            <td>2015-09-30</td>
          
            <td>$9.460</td>
          
            <td>220</td>
          
            <td>80.000%</td>
          
            <td>2016-08-15</td>
          
            <td>$17.110</td>
          
            <td>80.867%</td>
          
            <td>14.354%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/HUN'>HUN</a></td>
          
            <td>8248688</td>
          
            <td>2015-09-29</td>
          
            <td>$10.020</td>
          
            <td>225</td>
          
            <td>70.000%</td>
          
            <td>2016-08-19</td>
          
            <td>$17.050</td>
          
            <td>70.160%</td>
          
            <td>16.195%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SID'>SID</a></td>
          
            <td>2146656</td>
          
            <td>2015-09-24</td>
          
            <td>$0.950</td>
          
            <td>138</td>
          
            <td>244.000%</td>
          
            <td>2016-04-13</td>
          
            <td>$3.720</td>
          
            <td>291.579%</td>
          
            <td>7.811%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/HMY'>HMY</a></td>
          
            <td>17626161</td>
          
            <td>2015-09-23</td>
          
            <td>$0.692</td>
          
            <td>105</td>
          
            <td>310.000%</td>
          
            <td>2016-02-24</td>
          
            <td>$3.010</td>
          
            <td>334.971%</td>
          
            <td>-0.207%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/HMY'>HMY</a></td>
          
            <td>18035138</td>
          
            <td>2015-09-22</td>
          
            <td>$0.706</td>
          
            <td>106</td>
          
            <td>308.000%</td>
          
            <td>2016-02-24</td>
          
            <td>$3.010</td>
          
            <td>326.285%</td>
          
            <td>-0.361%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BTU'>BTU</a></td>
          
            <td>11196538</td>
          
            <td>2015-09-11</td>
          
            <td>$24.383</td>
          
            <td>254</td>
          
            <td>12.000%</td>
          
            <td>2017-07-25</td>
          
            <td>$27.350</td>
          
            <td>12.168%</td>
          
            <td>25.760%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/RYAM'>RYAM</a></td>
          
            <td>5467164</td>
          
            <td>2015-08-21</td>
          
            <td>$6.500</td>
          
            <td>210</td>
          
            <td>100.000%</td>
          
            <td>2016-06-22</td>
          
            <td>$13.250</td>
          
            <td>103.846%</td>
          
            <td>5.298%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CRK'>CRK</a></td>
          
            <td>3564689</td>
          
            <td>2015-08-05</td>
          
            <td>$4.759</td>
          
            <td>260</td>
          
            <td>0.000%</td>
          
            <td>2016-08-16</td>
          
            <td>$6.130</td>
          
            <td>28.801%</td>
          
            <td>3.741%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/AMPY'>AMPY</a></td>
          
            <td>504833</td>
          
            <td>2015-08-04</td>
          
            <td>$4.250</td>
          
            <td>309</td>
          
            <td>0.000%</td>
          
            <td>2016-10-24</td>
          
            <td>$22.650</td>
          
            <td>432.941%</td>
          
            <td>2.661%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/AMPY'>AMPY</a></td>
          
            <td>836044</td>
          
            <td>2015-07-20</td>
          
            <td>$0.540</td>
          
            <td>15</td>
          
            <td>490.000%</td>
          
            <td>2015-08-10</td>
          
            <td>$3.720</td>
          
            <td>588.889%</td>
          
            <td>-0.936%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/AMPY'>AMPY</a></td>
          
            <td>850157</td>
          
            <td>2015-07-17</td>
          
            <td>$0.630</td>
          
            <td>16</td>
          
            <td>488.000%</td>
          
            <td>2015-08-10</td>
          
            <td>$3.720</td>
          
            <td>490.476%</td>
          
            <td>-0.866%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/AMPY'>AMPY</a></td>
          
            <td>1332515</td>
          
            <td>2015-07-02</td>
          
            <td>$0.830</td>
          
            <td>41</td>
          
            <td>438.000%</td>
          
            <td>2015-08-31</td>
          
            <td>$5.070</td>
          
            <td>510.843%</td>
          
            <td>-4.717%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BTU'>BTU</a></td>
          
            <td>46358022</td>
          
            <td>2015-07-02</td>
          
            <td>$24.524</td>
          
            <td>263</td>
          
            <td>0.000%</td>
          
            <td>2017-05-26</td>
          
            <td>$24.760</td>
          
            <td>0.963%</td>
          
            <td>16.588%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/FBP'>FBP</a></td>
          
            <td>3473441</td>
          
            <td>2015-07-01</td>
          
            <td>$4.900</td>
          
            <td>293</td>
          
            <td>0.000%</td>
          
            <td>2016-08-29</td>
          
            <td>$4.980</td>
          
            <td>1.633%</td>
          
            <td>5.198%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/MBI'>MBI</a></td>
          
            <td>18372106</td>
          
            <td>2015-06-30</td>
          
            <td>$6.300</td>
          
            <td>256</td>
          
            <td>8.000%</td>
          
            <td>2016-07-06</td>
          
            <td>$6.820</td>
          
            <td>8.254%</td>
          
            <td>1.831%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BTU'>BTU</a></td>
          
            <td>23291491</td>
          
            <td>2015-06-15</td>
          
            <td>$36.081</td>
          
            <td>418</td>
          
            <td>0.000%</td>
          
            <td>2017-12-18</td>
          
            <td>$36.320</td>
          
            <td>0.662%</td>
          
            <td>28.264%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/NETI'>NETI</a></td>
          
            <td>11805081</td>
          
            <td>2015-06-11</td>
          
            <td>$1.550</td>
          
            <td>141</td>
          
            <td>238.000%</td>
          
            <td>2015-12-31</td>
          
            <td>$9.890</td>
          
            <td>538.065%</td>
          
            <td>-3.676%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/TWTR'>TWTR</a></td>
          
            <td>56507940</td>
          
            <td>2015-04-30</td>
          
            <td>$39.280</td>
          
            <td>780</td>
          
            <td>0.000%</td>
          
            <td>2018-06-05</td>
          
            <td>$39.800</td>
          
            <td>1.324%</td>
          
            <td>31.968%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EGY'>EGY</a></td>
          
            <td>2892626</td>
          
            <td>2015-04-01</td>
          
            <td>$2.450</td>
          
            <td>805</td>
          
            <td>0.000%</td>
          
            <td>2018-06-12</td>
          
            <td>$2.480</td>
          
            <td>1.224%</td>
          
            <td>35.596%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BBD'>BBD</a></td>
          
            <td>10260250</td>
          
            <td>2015-03-30</td>
          
            <td>$6.023</td>
          
            <td>283</td>
          
            <td>0.000%</td>
          
            <td>2016-05-12</td>
          
            <td>$6.077</td>
          
            <td>0.899%</td>
          
            <td>-0.812%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/MTL'>MTL</a></td>
          
            <td>1930246</td>
          
            <td>2015-03-18</td>
          
            <td>$2.626</td>
          
            <td>373</td>
          
            <td>0.000%</td>
          
            <td>2016-09-08</td>
          
            <td>$2.800</td>
          
            <td>6.634%</td>
          
            <td>3.825%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/AMPY'>AMPY</a></td>
          
            <td>1462120</td>
          
            <td>2015-03-17</td>
          
            <td>$0.800</td>
          
            <td>101</td>
          
            <td>318.000%</td>
          
            <td>2015-08-10</td>
          
            <td>$3.720</td>
          
            <td>365.000%</td>
          
            <td>1.284%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/MTL'>MTL</a></td>
          
            <td>1725833</td>
          
            <td>2015-03-17</td>
          
            <td>$2.357</td>
          
            <td>372</td>
          
            <td>0.000%</td>
          
            <td>2016-09-06</td>
          
            <td>$2.490</td>
          
            <td>5.642%</td>
          
            <td>5.323%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/AMPY'>AMPY</a></td>
          
            <td>1785818</td>
          
            <td>2015-03-12</td>
          
            <td>$0.830</td>
          
            <td>104</td>
          
            <td>312.000%</td>
          
            <td>2015-08-10</td>
          
            <td>$3.720</td>
          
            <td>348.193%</td>
          
            <td>1.704%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/AMPY'>AMPY</a></td>
          
            <td>1935271</td>
          
            <td>2015-03-11</td>
          
            <td>$0.850</td>
          
            <td>105</td>
          
            <td>310.000%</td>
          
            <td>2015-08-10</td>
          
            <td>$3.720</td>
          
            <td>337.647%</td>
          
            <td>2.998%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/AMPY'>AMPY</a></td>
          
            <td>2680148</td>
          
            <td>2015-02-12</td>
          
            <td>$1.100</td>
          
            <td>137</td>
          
            <td>246.000%</td>
          
            <td>2015-08-28</td>
          
            <td>$4.190</td>
          
            <td>280.909%</td>
          
            <td>-4.633%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/FRO'>FRO</a></td>
          
            <td>4579075</td>
          
            <td>2015-01-30</td>
          
            <td>$11.757</td>
          
            <td>1231</td>
          
            <td>0.000%</td>
          
            <td>2019-12-19</td>
          
            <td>$12.110</td>
          
            <td>2.999%</td>
          
            <td>60.892%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/NETI'>NETI</a></td>
          
            <td>2542006</td>
          
            <td>2015-01-29</td>
          
            <td>$1.330</td>
          
            <td>233</td>
          
            <td>54.000%</td>
          
            <td>2015-12-31</td>
          
            <td>$9.890</td>
          
            <td>643.609%</td>
          
            <td>0.931%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/KBH'>KBH</a></td>
          
            <td>14425685</td>
          
            <td>2015-01-15</td>
          
            <td>$13.570</td>
          
            <td>295</td>
          
            <td>0.000%</td>
          
            <td>2016-03-18</td>
          
            <td>$13.720</td>
          
            <td>1.105%</td>
          
            <td>2.693%</td>
          
        </tr>
      
    </table>
  </body>
</html>
