<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>stonk ideas</title>
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen">
  </head>
  <body>
    <p id='intro'>
      <b><a href="/">aribrown.com</a></b> |
      generated (<b><span id='future'>
          2021-07-08
      </b></future>)
      by a program
    </p>
    <hr/>
    <br/>
    <div style='display: inline-block;'>
      <table>
  <tr>
    <th>Year</th>
    <th># of Buys</th>
    <th># Unsold</th>
    <th># Delist.</th>
    <th>Med. Hold</th>
    <th>S&P 500</th>
    <th>Mean ROI</th>
    <th>Median</th>
    <th>STDDEV</th>
    <th>Sharpe</th>
  </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2021.html">2021</a>
      </td>
      <td>81</td>
      <td>72</td>
      <td>7</td>
      <td>(unsold)</td>
      <td>16.851%</td>
      <td>-29.153%</td>
      <td>-100%</td>
      <td>204.881%</td>
      <td>-0.142</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2020.html">2020</a>
      </td>
      <td>340</td>
      <td>67</td>
      <td>14</td>
      <td>197</td>
      <td>15.559%</td>
      <td>130.633%</td>
      <td>136.833%</td>
      <td>167.948%</td>
      <td>0.778</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2019.html">2019</a>
      </td>
      <td>68</td>
      <td>23</td>
      <td>19</td>
      <td>262</td>
      <td>30.848%</td>
      <td>33.95%</td>
      <td>5.263%</td>
      <td>170.591%</td>
      <td>0.199</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2018.html">2018</a>
      </td>
      <td>59</td>
      <td>39</td>
      <td>34</td>
      <td>(unsold)</td>
      <td>-6.691%</td>
      <td>-48.078%</td>
      <td>-100%</td>
      <td>86.945%</td>
      <td>-0.553</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2017.html">2017</a>
      </td>
      <td>35</td>
      <td>10</td>
      <td>6</td>
      <td>336</td>
      <td>18.747%</td>
      <td>-3.951%</td>
      <td>3.633%</td>
      <td>72.637%</td>
      <td>-0.054</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2016.html">2016</a>
      </td>
      <td>46</td>
      <td>5</td>
      <td>4</td>
      <td>211</td>
      <td>8.97%</td>
      <td>104.918%</td>
      <td>121.088%</td>
      <td>123.433%</td>
      <td>0.85</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2015.html">2015</a>
      </td>
      <td>41</td>
      <td>4</td>
      <td>4</td>
      <td>257</td>
      <td>-1.216%</td>
      <td>125.398%</td>
      <td>22.119%</td>
      <td>185.328%</td>
      <td>0.677</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2014.html">2014</a>
      </td>
      <td>26</td>
      <td>4</td>
      <td>2</td>
      <td>290</td>
      <td>11.664%</td>
      <td>28.326%</td>
      <td>5.528%</td>
      <td>86.716%</td>
      <td>0.327</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2013.html">2013</a>
      </td>
      <td>14</td>
      <td>6</td>
      <td>6</td>
      <td>1844</td>
      <td>27.276%</td>
      <td>-16.44%</td>
      <td>7.294%</td>
      <td>89.023%</td>
      <td>-0.185</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2012.html">2012</a>
      </td>
      <td>29</td>
      <td>6</td>
      <td>6</td>
      <td>232</td>
      <td>11.467%</td>
      <td>55.28%</td>
      <td>56.028%</td>
      <td>107.682%</td>
      <td>0.513</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2011.html">2011</a>
      </td>
      <td>22</td>
      <td>1</td>
      <td>0</td>
      <td>260</td>
      <td>-0.024%</td>
      <td>31.464%</td>
      <td>15.335%</td>
      <td>53.519%</td>
      <td>0.588</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2010.html">2010</a>
      </td>
      <td>7</td>
      <td>0</td>
      <td>0</td>
      <td>206</td>
      <td>11.51%</td>
      <td>139.685%</td>
      <td>109.463%</td>
      <td>132.083%</td>
      <td>1.058</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2009.html">2009</a>
      </td>
      <td>244</td>
      <td>0</td>
      <td>0</td>
      <td>143</td>
      <td>23.22%</td>
      <td>264.706%</td>
      <td>254.639%</td>
      <td>264.429%</td>
      <td>1.001</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2008.html">2008</a>
      </td>
      <td>374</td>
      <td>2</td>
      <td>0</td>
      <td>218</td>
      <td>-38.654%</td>
      <td>153.0%</td>
      <td>98.83%</td>
      <td>304.772%</td>
      <td>0.502</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2007.html">2007</a>
      </td>
      <td>17</td>
      <td>1</td>
      <td>0</td>
      <td>258</td>
      <td>2.784%</td>
      <td>192.784%</td>
      <td>46.341%</td>
      <td>381.169%</td>
      <td>0.506</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2006.html">2006</a>
      </td>
      <td>18</td>
      <td>0</td>
      <td>0</td>
      <td>242</td>
      <td>13.124%</td>
      <td>91.717%</td>
      <td>57.279%</td>
      <td>112.141%</td>
      <td>0.818</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2005.html">2005</a>
      </td>
      <td>33</td>
      <td>0</td>
      <td>0</td>
      <td>224</td>
      <td>2.646%</td>
      <td>116.428%</td>
      <td>75.0%</td>
      <td>176.221%</td>
      <td>0.661</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2004.html">2004</a>
      </td>
      <td>22</td>
      <td>0</td>
      <td>0</td>
      <td>256</td>
      <td>8.676%</td>
      <td>18.69%</td>
      <td>15.489%</td>
      <td>21.107%</td>
      <td>0.885</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2003.html">2003</a>
      </td>
      <td>44</td>
      <td>0</td>
      <td>0</td>
      <td>241</td>
      <td>26.469%</td>
      <td>100.621%</td>
      <td>42.857%</td>
      <td>135.529%</td>
      <td>0.742</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2002.html">2002</a>
      </td>
      <td>151</td>
      <td>0</td>
      <td>0</td>
      <td>217</td>
      <td>-24.038%</td>
      <td>139.242%</td>
      <td>100.889%</td>
      <td>123.274%</td>
      <td>1.13</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2001.html">2001</a>
      </td>
      <td>90</td>
      <td>0</td>
      <td>0</td>
      <td>254</td>
      <td>-13.409%</td>
      <td>76.581%</td>
      <td>25.0%</td>
      <td>122.367%</td>
      <td>0.626</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2000.html">2000</a>
      </td>
      <td>172</td>
      <td>11</td>
      <td>0</td>
      <td>254</td>
      <td>-12.279%</td>
      <td>58.568%</td>
      <td>23.569%</td>
      <td>99.159%</td>
      <td>0.591</td>
    </tr>
  
</table>


    </div>
    <div style='display: inline-block; max-width: 28%; vertical-align: top; padding-left: 20px;'>
      <br/>
      <br/>
      <p>
        a full explanation is available <b><a href="/files/stocks.html">here</a></b>
      </p>
      <br/>
      <p>
        <div id='reasons'>
          buy when:
          <br/>
          <ul>
            <li>20% price drop in 2 days (open to close)</li>
            <li>
              stock is in the top 61 of the market movement potential
              (explained <b><a href="/files/stocks.html#1:4">here</a></b>)
            </li>
          </ul>
      
          sell when:
          <br/>
          <ul>
            <li>
              ROI > 520% - 2% * trading_days_held
            </li>
          </ul>
        </div>
      </p>
      <br/>
      <ul style="padding-left: 20px;">
        <li>prices may be adjusted to reflect splits/reverse-splits</li>
        <li>drop occurs on one day, buy the next morning</li>
        <li><span id='future'>blue</span> figures are taken from the latest
            closing prices, since the threshold to sell has not yet been reached</li>
        <li><span id='delisted'>red</span> figures are taken from the last
            closing prices available, since it has since been delisted</li>
      </ul>
    </div>
    <br/>
    <center><h2>1 JAN 2010 - 31 DEC 2010</h2></center>
    <p>SPY ROI for 1 JAN 2010 - 31 DEC 2010: <span id=future>11.510%</span></p>
    <p>mean ROI for trades shown: <span id=future>139.685%</span></p>
    <p>mean ROI if you were to also sell everything you're still holding: <span id=future>139.685%</span></p>
    <table>
      <tr>
        <th><b>Symbol</b></th>
        <th><b>10-Day Trade Volume</b></th>
        <th><b>Buy Date</b></th>
        <th><b>Buy Price</b></th>
        <th><b>Days Held</b></th>
        <th><b>ROI Threshold</b></th>
        <th><b>Sell Date</b></th>
        <th><b>Sell Price</b></th>
        <th><b>Sell ROI</b></th>
        <th><b>SPY ROI</b></th>
      </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/NR'>NR</a></td>
          
            <td>7449720</td>
          
            <td>2010-11-02</td>
          
            <td>$5.350</td>
          
            <td>241</td>
          
            <td>38.000%</td>
          
            <td>2011-10-17</td>
          
            <td>$7.730</td>
          
            <td>44.486%</td>
          
            <td>0.678%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/STAR'>STAR</a></td>
          
            <td>9663860</td>
          
            <td>2010-09-23</td>
          
            <td>$2.850</td>
          
            <td>149</td>
          
            <td>222.000%</td>
          
            <td>2011-04-27</td>
          
            <td>$9.190</td>
          
            <td>222.456%</td>
          
            <td>20.606%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/FBP'>FBP</a></td>
          
            <td>9945000</td>
          
            <td>2010-07-13</td>
          
            <td>$7.872</td>
          
            <td>752</td>
          
            <td>0.000%</td>
          
            <td>2013-07-09</td>
          
            <td>$8.070</td>
          
            <td>2.510%</td>
          
            <td>51.287%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/GENN'>GENN</a></td>
          
            <td>5725052</td>
          
            <td>2010-07-09</td>
          
            <td>$2.350</td>
          
            <td>120</td>
          
            <td>280.000%</td>
          
            <td>2010-12-29</td>
          
            <td>$9.070</td>
          
            <td>285.957%</td>
          
            <td>17.539%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/GENN'>GENN</a></td>
          
            <td>4455595</td>
          
            <td>2010-07-08</td>
          
            <td>$1.620</td>
          
            <td>106</td>
          
            <td>308.000%</td>
          
            <td>2010-12-07</td>
          
            <td>$6.640</td>
          
            <td>309.877%</td>
          
            <td>14.794%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/HAL'>HAL</a></td>
          
            <td>43106560</td>
          
            <td>2010-06-02</td>
          
            <td>$21.980</td>
          
            <td>206</td>
          
            <td>108.000%</td>
          
            <td>2011-03-25</td>
          
            <td>$46.040</td>
          
            <td>109.463%</td>
          
            <td>21.484%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/RDN'>RDN</a></td>
          
            <td>12332940</td>
          
            <td>2010-05-07</td>
          
            <td>$10.180</td>
          
            <td>710</td>
          
            <td>0.000%</td>
          
            <td>2013-03-05</td>
          
            <td>$10.490</td>
          
            <td>3.045%</td>
          
            <td>36.976%</td>
          
        </tr>
      
    </table>
  </body>
</html>
