<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>stonk ideas</title>
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen">
  </head>
  <body>
    <p id='intro'>
      <b><a href="/">aribrown.com</a></b> |
      generated (<b><span id='future'>
          2021-07-23
      </b></future>)
      by a program
    </p>
    <hr/>
    <br/>
    <div style='display: inline-block;'>
      <table>
  <tr>
    <th>Year</th>
    <th># of Buys</th>
    <th># Unsold</th>
    <th># Delist.</th>
    <th>Med. Hold</th>
    <th>S&P 500</th>
    <th>Mean ROI</th>
    <th>Median</th>
    <th>STDDEV</th>
    <th>Sharpe</th>
  </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2021.html">2021</a>
      </td>
      <td>82</td>
      <td>54</td>
      <td>5</td>
      <td>(unsold)</td>
      <td>18.323%</td>
      <td>-31.158%</td>
      <td>-100%</td>
      <td>103.343%</td>
      <td>-0.302</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2020.html">2020</a>
      </td>
      <td>326</td>
      <td>25</td>
      <td>5</td>
      <td>85</td>
      <td>16.644%</td>
      <td>79.468%</td>
      <td>51.376%</td>
      <td>107.168%</td>
      <td>0.742</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2019.html">2019</a>
      </td>
      <td>56</td>
      <td>9</td>
      <td>6</td>
      <td>99</td>
      <td>28.971%</td>
      <td>40.3%</td>
      <td>18.254%</td>
      <td>102.768%</td>
      <td>0.392</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2018.html">2018</a>
      </td>
      <td>36</td>
      <td>9</td>
      <td>6</td>
      <td>120</td>
      <td>-6.691%</td>
      <td>2.038%</td>
      <td>3.093%</td>
      <td>79.494%</td>
      <td>0.026</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2017.html">2017</a>
      </td>
      <td>35</td>
      <td>8</td>
      <td>4</td>
      <td>119</td>
      <td>18.747%</td>
      <td>-9.838%</td>
      <td>2.154%</td>
      <td>52.169%</td>
      <td>-0.189</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2016.html">2016</a>
      </td>
      <td>44</td>
      <td>5</td>
      <td>4</td>
      <td>82</td>
      <td>8.97%</td>
      <td>52.521%</td>
      <td>69.702%</td>
      <td>74.784%</td>
      <td>0.702</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2015.html">2015</a>
      </td>
      <td>40</td>
      <td>3</td>
      <td>3</td>
      <td>98</td>
      <td>-1.981%</td>
      <td>72.54%</td>
      <td>25.402%</td>
      <td>126.855%</td>
      <td>0.572</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2014.html">2014</a>
      </td>
      <td>26</td>
      <td>2</td>
      <td>1</td>
      <td>105</td>
      <td>11.664%</td>
      <td>15.221%</td>
      <td>9.182%</td>
      <td>45.428%</td>
      <td>0.335</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2013.html">2013</a>
      </td>
      <td>14</td>
      <td>1</td>
      <td>1</td>
      <td>98</td>
      <td>32.243%</td>
      <td>30.435%</td>
      <td>15.355%</td>
      <td>53.406%</td>
      <td>0.57</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2012.html">2012</a>
      </td>
      <td>29</td>
      <td>5</td>
      <td>5</td>
      <td>94</td>
      <td>13.006%</td>
      <td>16.959%</td>
      <td>25.285%</td>
      <td>63.027%</td>
      <td>0.269</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2011.html">2011</a>
      </td>
      <td>22</td>
      <td>1</td>
      <td>0</td>
      <td>100</td>
      <td>-0.024%</td>
      <td>11.895%</td>
      <td>6.763%</td>
      <td>38.076%</td>
      <td>0.312</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2010.html">2010</a>
      </td>
      <td>7</td>
      <td>0</td>
      <td>0</td>
      <td>83</td>
      <td>11.51%</td>
      <td>72.816%</td>
      <td>51.956%</td>
      <td>74.075%</td>
      <td>0.983</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2009.html">2009</a>
      </td>
      <td>214</td>
      <td>0</td>
      <td>0</td>
      <td>64</td>
      <td>25.101%</td>
      <td>131.657%</td>
      <td>130.678%</td>
      <td>87.7%</td>
      <td>1.501</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2008.html">2008</a>
      </td>
      <td>357</td>
      <td>2</td>
      <td>0</td>
      <td>100</td>
      <td>-38.654%</td>
      <td>65.516%</td>
      <td>12.766%</td>
      <td>178.345%</td>
      <td>0.367</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2007.html">2007</a>
      </td>
      <td>17</td>
      <td>1</td>
      <td>0</td>
      <td>97</td>
      <td>2.784%</td>
      <td>135.078%</td>
      <td>15.147%</td>
      <td>373.974%</td>
      <td>0.361</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2006.html">2006</a>
      </td>
      <td>16</td>
      <td>0</td>
      <td>0</td>
      <td>95</td>
      <td>13.478%</td>
      <td>65.414%</td>
      <td>25.448%</td>
      <td>97.949%</td>
      <td>0.668</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2005.html">2005</a>
      </td>
      <td>29</td>
      <td>0</td>
      <td>0</td>
      <td>97</td>
      <td>2.646%</td>
      <td>40.627%</td>
      <td>14.634%</td>
      <td>52.825%</td>
      <td>0.769</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2004.html">2004</a>
      </td>
      <td>20</td>
      <td>0</td>
      <td>0</td>
      <td>132</td>
      <td>8.676%</td>
      <td>12.973%</td>
      <td>2.288%</td>
      <td>19.325%</td>
      <td>0.671</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2003.html">2003</a>
      </td>
      <td>23</td>
      <td>0</td>
      <td>0</td>
      <td>86</td>
      <td>26.469%</td>
      <td>52.899%</td>
      <td>46.833%</td>
      <td>48.317%</td>
      <td>1.095</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2002.html">2002</a>
      </td>
      <td>135</td>
      <td>0</td>
      <td>0</td>
      <td>93</td>
      <td>-24.038%</td>
      <td>63.809%</td>
      <td>30.597%</td>
      <td>78.085%</td>
      <td>0.817</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2001.html">2001</a>
      </td>
      <td>76</td>
      <td>0</td>
      <td>0</td>
      <td>98</td>
      <td>-13.409%</td>
      <td>49.542%</td>
      <td>21.118%</td>
      <td>67.397%</td>
      <td>0.735</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2000.html">2000</a>
      </td>
      <td>139</td>
      <td>10</td>
      <td>0</td>
      <td>100</td>
      <td>-10.662%</td>
      <td>33.84%</td>
      <td>12.119%</td>
      <td>76.202%</td>
      <td>0.444</td>
    </tr>
  
</table>


    </div>
    <div style='display: inline-block; max-width: 28%; vertical-align: top; padding-left: 20px;'>
      <br/>
      <br/>
      <p>
        a full explanation is available <b><a href="/files/stocks.html">here</a></b>
      </p>
      <br/>
      <p>
        <div id='reasons'>
          buy when:
          <br/>
          <ul>
            <li>20% price drop in 2 days (open to close)</li>
            <li>
              stock is in the top 61 of the market movement potential
              (explained <b><a href="/files/stocks.html#1:4">here</a></b>)
            </li>
          </ul>
      
          sell when:
          <br/>
          <ul>
            <li>
              ROI > 520% - 2% * trading_days_held
            </li>
          </ul>
        </div>
      </p>
      <br/>
      <ul style="padding-left: 20px;">
        <li>prices may be adjusted to reflect splits/reverse-splits</li>
        <li>drop occurs on one day, buy the next morning</li>
        <li><span id='future'>blue</span> figures are taken from the latest
            closing prices, since the threshold to sell has not yet been reached</li>
        <li><span id='delisted'>red</span> figures are taken from the last
            closing prices available, since it has since been delisted</li>
      </ul>
    </div>
    <br/>
    <center><h2>1 JAN 2011 - 31 DEC 2011</h2></center>
    <p>SPY ROI for 1 JAN 2011 - 31 DEC 2011: <span id=future>-0.024%</span></p>
    <p>mean ROI for trades shown: <span id=future>11.895%</span></p>
    <p>mean ROI if you were to also sell everything you're still holding: <span id=future>13.590%</span></p>
    <table>
      <tr>
        <th><b>Symbol</b></th>
        <th><b>10-Day Trade Volume</b></th>
        <th><b>Buy Date</b></th>
        <th><b>Buy Price</b></th>
        <th><b>Days Held</b></th>
        <th><b>ROI Threshold</b></th>
        <th><b>Sell Date</b></th>
        <th><b>Sell Price</b></th>
        <th><b>Sell ROI</b></th>
        <th><b>SPY ROI</b></th>
      </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/S'>S</a></td>
          
            <td>153006199</td>
          
            <td>2011-10-11</td>
          
            <td>$2.190</td>
          
            <td>95</td>
          
            <td>15.000%</td>
          
            <td>2012-02-28</td>
          
            <td>$2.560</td>
          
            <td>16.895%</td>
          
            <td>15.723%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/S'>S</a></td>
          
            <td>156445418</td>
          
            <td>2011-10-10</td>
          
            <td>$2.380</td>
          
            <td>99</td>
          
            <td>3.000%</td>
          
            <td>2012-03-02</td>
          
            <td>$2.495</td>
          
            <td>4.832%</td>
          
            <td>16.681%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CX'>CX</a></td>
          
            <td>24743441</td>
          
            <td>2011-10-04</td>
          
            <td>$2.246</td>
          
            <td>62</td>
          
            <td>114.000%</td>
          
            <td>2012-01-03</td>
          
            <td>$4.913</td>
          
            <td>118.750%</td>
          
            <td>17.674%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CX'>CX</a></td>
          
            <td>19050476</td>
          
            <td>2011-09-23</td>
          
            <td>$3.027</td>
          
            <td>78</td>
          
            <td>66.000%</td>
          
            <td>2012-01-17</td>
          
            <td>$5.028</td>
          
            <td>66.087%</td>
          
            <td>15.369%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BB'>BB</a></td>
          
            <td>40976486</td>
          
            <td>2011-09-19</td>
          
            <td>$23.510</td>
          
            <td>2354</td>
          
            <td>0.000%</td>
          
            <td>2021-01-27</td>
          
            <td>$25.100</td>
          
            <td>6.763%</td>
          
            <td>213.235%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/HPQ'>HPQ</a></td>
          
            <td>65743280</td>
          
            <td>2011-08-22</td>
          
            <td>$11.175</td>
          
            <td>97</td>
          
            <td>9.000%</td>
          
            <td>2012-01-10</td>
          
            <td>$12.345</td>
          
            <td>10.472%</td>
          
            <td>12.121%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SNV'>SNV</a></td>
          
            <td>21485240</td>
          
            <td>2011-08-09</td>
          
            <td>$8.667</td>
          
            <td>99</td>
          
            <td>3.000%</td>
          
            <td>2011-12-29</td>
          
            <td>$9.379</td>
          
            <td>8.209%</td>
          
            <td>10.564%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/C'>C</a></td>
          
            <td>91033980</td>
          
            <td>2011-08-09</td>
          
            <td>$29.430</td>
          
            <td>106</td>
          
            <td>0.000%</td>
          
            <td>2012-01-10</td>
          
            <td>$30.000</td>
          
            <td>1.937%</td>
          
            <td>13.202%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/GNW'>GNW</a></td>
          
            <td>19299080</td>
          
            <td>2011-08-09</td>
          
            <td>$5.810</td>
          
            <td>97</td>
          
            <td>9.000%</td>
          
            <td>2011-12-27</td>
          
            <td>$6.390</td>
          
            <td>9.983%</td>
          
            <td>10.888%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/RDN'>RDN</a></td>
          
            <td>8728780</td>
          
            <td>2011-08-09</td>
          
            <td>$2.250</td>
          
            <td>100</td>
          
            <td>0.000%</td>
          
            <td>2011-12-30</td>
          
            <td>$2.340</td>
          
            <td>4.000%</td>
          
            <td>10.020%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/MWA'>MWA</a></td>
          
            <td>5512080</td>
          
            <td>2011-08-09</td>
          
            <td>$2.100</td>
          
            <td>97</td>
          
            <td>9.000%</td>
          
            <td>2011-12-27</td>
          
            <td>$2.380</td>
          
            <td>13.333%</td>
          
            <td>10.888%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BAC'>BAC</a></td>
          
            <td>441185900</td>
          
            <td>2011-08-09</td>
          
            <td>$7.020</td>
          
            <td>113</td>
          
            <td>0.000%</td>
          
            <td>2012-01-20</td>
          
            <td>$7.070</td>
          
            <td>0.712%</td>
          
            <td>15.675%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/MTG'>MTG</a></td>
          
            <td>12671260</td>
          
            <td>2011-08-09</td>
          
            <td>$2.250</td>
          
            <td>84</td>
          
            <td>48.000%</td>
          
            <td>2011-12-07</td>
          
            <td>$3.600</td>
          
            <td>60.000%</td>
          
            <td>11.098%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/MWA'>MWA</a></td>
          
            <td>4902560</td>
          
            <td>2011-08-05</td>
          
            <td>$2.620</td>
          
            <td>104</td>
          
            <td>0.000%</td>
          
            <td>2012-01-04</td>
          
            <td>$2.650</td>
          
            <td>1.145%</td>
          
            <td>4.878%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/FBC'>FBC</a></td>
          
            <td>9484800</td>
          
            <td>2011-08-01</td>
          
            <td>$7.513</td>
          
            <td>119</td>
          
            <td>0.000%</td>
          
            <td>2012-01-20</td>
          
            <td>$7.613</td>
          
            <td>1.333%</td>
          
            <td>0.848%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/FBC'>FBC</a></td>
          
            <td>8877000</td>
          
            <td>2011-07-29</td>
          
            <td>$6.811</td>
          
            <td>116</td>
          
            <td>0.000%</td>
          
            <td>2012-01-13</td>
          
            <td>$6.811</td>
          
            <td>0.000%</td>
          
            <td>-0.054%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/MTG'>MTG</a></td>
          
            <td>9271520</td>
          
            <td>2011-07-19</td>
          
            <td>$4.630</td>
          
            <td>142</td>
          
            <td>0.000%</td>
          
            <td>2012-02-09</td>
          
            <td>$4.650</td>
          
            <td>0.432%</td>
          
            <td>3.061%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/P'>P</a></td>
          
            <td>15984856</td>
          
            <td>2011-06-20</td>
          
            <td>$13.414</td>
          
            <td>96</td>
          
            <td>12.000%</td>
          
            <td>2011-11-03</td>
          
            <td>$15.302</td>
          
            <td>14.073%</td>
          
            <td>-0.292%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BB'>BB</a></td>
          
            <td>48586256</td>
          
            <td>2011-06-20</td>
          
            <td>$27.310</td>
          
            <td><span id=future>2540</span></td>
          
            <td><span id=future>0.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$10.182</span></td>
          
            <td><span id=future>-62.717%</span></td>
          
            <td>247.417%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/P'>P</a></td>
          
            <td>20314877</td>
          
            <td>2011-06-17</td>
          
            <td>$12.985</td>
          
            <td>94</td>
          
            <td>18.000%</td>
          
            <td>2011-10-31</td>
          
            <td>$15.761</td>
          
            <td>21.385%</td>
          
            <td>-1.899%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/MTG'>MTG</a></td>
          
            <td>9131660</td>
          
            <td>2011-06-09</td>
          
            <td>$6.040</td>
          
            <td>484</td>
          
            <td>0.000%</td>
          
            <td>2013-05-14</td>
          
            <td>$6.110</td>
          
            <td>1.159%</td>
          
            <td>28.314%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/FBP'>FBP</a></td>
          
            <td>5398800</td>
          
            <td>2011-01-07</td>
          
            <td>$5.150</td>
          
            <td>516</td>
          
            <td>0.000%</td>
          
            <td>2013-01-29</td>
          
            <td>$5.160</td>
          
            <td>0.194%</td>
          
            <td>18.109%</td>
          
        </tr>
      
    </table>
  </body>
</html>
