<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>stonk ideas</title>
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen">
  </head>
  <body>
    <p id='intro'>
      <b><a href="/">aribrown.com</a></b> |
      generated (<b><span id='future'>
          2021-08-30
      </b></future>)
      by a program
    </p>
    <hr/>
    <br/>
    <div style='display: inline-block;'>
      <table>
  <tr>
    <th>Year</th>
    <th># of Buys</th>
    <th># Unsold</th>
    <th># Delist.</th>
    <th>Med. Hold</th>
    <th>S&P 500</th>
    <th>Mean ROI</th>
    <th>Median</th>
    <th>STDDEV</th>
    <th>Sharpe</th>
  </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2021.html">2021</a>
      </td>
      <td>101</td>
      <td>69</td>
      <td>7</td>
      <td>(unsold)</td>
      <td>21.636%</td>
      <td>-37.179%</td>
      <td>-100%</td>
      <td>99.241%</td>
      <td>-0.375</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2020.html">2020</a>
      </td>
      <td>326</td>
      <td>25</td>
      <td>5</td>
      <td>85</td>
      <td>16.644%</td>
      <td>79.468%</td>
      <td>51.376%</td>
      <td>107.168%</td>
      <td>0.742</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2019.html">2019</a>
      </td>
      <td>56</td>
      <td>9</td>
      <td>6</td>
      <td>99</td>
      <td>28.971%</td>
      <td>40.3%</td>
      <td>18.254%</td>
      <td>102.768%</td>
      <td>0.392</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2018.html">2018</a>
      </td>
      <td>36</td>
      <td>9</td>
      <td>6</td>
      <td>120</td>
      <td>-6.691%</td>
      <td>2.038%</td>
      <td>3.093%</td>
      <td>79.494%</td>
      <td>0.026</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2017.html">2017</a>
      </td>
      <td>35</td>
      <td>8</td>
      <td>4</td>
      <td>119</td>
      <td>18.747%</td>
      <td>-9.838%</td>
      <td>2.154%</td>
      <td>52.169%</td>
      <td>-0.189</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2016.html">2016</a>
      </td>
      <td>44</td>
      <td>5</td>
      <td>4</td>
      <td>82</td>
      <td>8.97%</td>
      <td>52.521%</td>
      <td>69.702%</td>
      <td>74.784%</td>
      <td>0.702</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2015.html">2015</a>
      </td>
      <td>40</td>
      <td>3</td>
      <td>3</td>
      <td>98</td>
      <td>-1.981%</td>
      <td>72.54%</td>
      <td>25.402%</td>
      <td>126.855%</td>
      <td>0.572</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2014.html">2014</a>
      </td>
      <td>26</td>
      <td>2</td>
      <td>1</td>
      <td>105</td>
      <td>11.664%</td>
      <td>15.221%</td>
      <td>9.182%</td>
      <td>45.428%</td>
      <td>0.335</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2013.html">2013</a>
      </td>
      <td>14</td>
      <td>1</td>
      <td>1</td>
      <td>98</td>
      <td>32.243%</td>
      <td>30.435%</td>
      <td>15.355%</td>
      <td>53.406%</td>
      <td>0.57</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2012.html">2012</a>
      </td>
      <td>29</td>
      <td>5</td>
      <td>5</td>
      <td>94</td>
      <td>13.006%</td>
      <td>16.959%</td>
      <td>25.285%</td>
      <td>63.027%</td>
      <td>0.269</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2011.html">2011</a>
      </td>
      <td>22</td>
      <td>1</td>
      <td>0</td>
      <td>100</td>
      <td>-0.024%</td>
      <td>11.895%</td>
      <td>6.763%</td>
      <td>38.076%</td>
      <td>0.312</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2010.html">2010</a>
      </td>
      <td>7</td>
      <td>0</td>
      <td>0</td>
      <td>83</td>
      <td>11.51%</td>
      <td>72.816%</td>
      <td>51.956%</td>
      <td>74.075%</td>
      <td>0.983</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2009.html">2009</a>
      </td>
      <td>214</td>
      <td>0</td>
      <td>0</td>
      <td>64</td>
      <td>25.101%</td>
      <td>131.657%</td>
      <td>130.678%</td>
      <td>87.7%</td>
      <td>1.501</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2008.html">2008</a>
      </td>
      <td>357</td>
      <td>2</td>
      <td>0</td>
      <td>100</td>
      <td>-38.654%</td>
      <td>65.516%</td>
      <td>12.766%</td>
      <td>178.345%</td>
      <td>0.367</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2007.html">2007</a>
      </td>
      <td>17</td>
      <td>1</td>
      <td>0</td>
      <td>97</td>
      <td>2.784%</td>
      <td>135.078%</td>
      <td>15.147%</td>
      <td>373.974%</td>
      <td>0.361</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2006.html">2006</a>
      </td>
      <td>16</td>
      <td>0</td>
      <td>0</td>
      <td>95</td>
      <td>13.478%</td>
      <td>65.414%</td>
      <td>25.448%</td>
      <td>97.949%</td>
      <td>0.668</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2005.html">2005</a>
      </td>
      <td>28</td>
      <td>0</td>
      <td>0</td>
      <td>97</td>
      <td>2.646%</td>
      <td>41.323%</td>
      <td>14.634%</td>
      <td>53.659%</td>
      <td>0.77</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2004.html">2004</a>
      </td>
      <td>20</td>
      <td>0</td>
      <td>0</td>
      <td>132</td>
      <td>8.676%</td>
      <td>12.973%</td>
      <td>2.288%</td>
      <td>19.325%</td>
      <td>0.671</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2003.html">2003</a>
      </td>
      <td>23</td>
      <td>0</td>
      <td>0</td>
      <td>86</td>
      <td>26.469%</td>
      <td>52.899%</td>
      <td>46.833%</td>
      <td>48.317%</td>
      <td>1.095</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2002.html">2002</a>
      </td>
      <td>135</td>
      <td>0</td>
      <td>0</td>
      <td>93</td>
      <td>-24.038%</td>
      <td>63.809%</td>
      <td>30.597%</td>
      <td>78.085%</td>
      <td>0.817</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2001.html">2001</a>
      </td>
      <td>76</td>
      <td>0</td>
      <td>0</td>
      <td>98</td>
      <td>-13.409%</td>
      <td>49.542%</td>
      <td>21.118%</td>
      <td>67.397%</td>
      <td>0.735</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2000.html">2000</a>
      </td>
      <td>139</td>
      <td>10</td>
      <td>0</td>
      <td>100</td>
      <td>-10.662%</td>
      <td>33.84%</td>
      <td>12.119%</td>
      <td>76.202%</td>
      <td>0.444</td>
    </tr>
  
</table>


    </div>
    <div style='display: inline-block; max-width: 28%; vertical-align: top; padding-left: 20px;'>
      <br/>
      <br/>
      <p>
        a full explanation is available <b><a href="/files/stocks.html">here</a></b>
      </p>
      <br/>
      <p>
        <div id='reasons'>
          buy when:
          <br/>
          <ul>
            <li>20% price drop in 2 days (open to close)</li>
            <li>
              stock is in the top 61 of the market movement potential
              (explained <b><a href="/files/stocks.html#1:4">here</a></b>)
            </li>
          </ul>
      
          sell when:
          <br/>
          <ul>
            <li>
              ROI > 520% - 2% * trading_days_held
            </li>
          </ul>
        </div>
      </p>
      <br/>
      <ul style="padding-left: 20px;">
        <li>prices may be adjusted to reflect splits/reverse-splits</li>
        <li>drop occurs on one day, buy the next morning</li>
        <li><span id='future'>blue</span> figures are taken from the latest
            closing prices, since the threshold to sell has not yet been reached</li>
        <li><span id='delisted'>red</span> figures are taken from the last
            closing prices available, since it has since been delisted</li>
      </ul>
    </div>
    <br/>
    <center><h2>1 JAN 2017 - 31 DEC 2017</h2></center>
    <p>SPY ROI for 1 JAN 2017 - 31 DEC 2017: <span id=future>18.747%</span></p>
    <p>mean ROI for trades shown: <span id=future>-9.838%</span></p>
    <p>mean ROI if you were to also sell everything you're still holding: <span id=future>-8.144%</span></p>
    <table>
      <tr>
        <th><b>Symbol</b></th>
        <th><b>10-Day Trade Volume</b></th>
        <th><b>Buy Date</b></th>
        <th><b>Buy Price</b></th>
        <th><b>Days Held</b></th>
        <th><b>ROI Threshold</b></th>
        <th><b>Sell Date</b></th>
        <th><b>Sell Price</b></th>
        <th><b>Sell ROI</b></th>
        <th><b>SPY ROI</b></th>
      </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/GCAP'>GCAP</a></td>
          
            <td>7938222</td>
          
            <td>2018-01-02</td>
          
            <td>$10.100</td>
          
            <td><span id=delisted>648</span></td>
          
            <td><span id=delisted>0.000%</span></td>
          
            <td><span id=delisted>-</span></td>
          
            <td><span id=delisted>$6.050</span></td>
          
            <td><span id=delisted>-100.000%</span></td>
          
            <td>20.953%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/NAT'>NAT</a></td>
          
            <td>6161452</td>
          
            <td>2017-12-14</td>
          
            <td>$2.650</td>
          
            <td>128</td>
          
            <td>0.000%</td>
          
            <td>2018-06-20</td>
          
            <td>$2.670</td>
          
            <td>0.755%</td>
          
            <td>3.325%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BUR'>BUR</a></td>
          
            <td>2454669</td>
          
            <td>2017-12-13</td>
          
            <td>$0.460</td>
          
            <td><span id=future>308</span></td>
          
            <td><span id=future>0.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$12.050</span></td>
          
            <td><span id=future>-100.000%</span></td>
          
            <td>69.333%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BUR'>BUR</a></td>
          
            <td>2336657</td>
          
            <td>2017-12-12</td>
          
            <td>$0.530</td>
          
            <td><span id=future>309</span></td>
          
            <td><span id=future>0.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$12.050</span></td>
          
            <td><span id=future>-100.000%</span></td>
          
            <td>69.238%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BUR'>BUR</a></td>
          
            <td>528868</td>
          
            <td>2017-12-04</td>
          
            <td>$0.440</td>
          
            <td>93</td>
          
            <td>21.000%</td>
          
            <td>2018-04-19</td>
          
            <td>$0.550</td>
          
            <td>25.000%</td>
          
            <td>0.969%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/QD'>QD</a></td>
          
            <td>20253772</td>
          
            <td>2017-11-27</td>
          
            <td>$12.990</td>
          
            <td><span id=future>945</span></td>
          
            <td><span id=future>0.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$1.660</span></td>
          
            <td><span id=future>-87.221%</span></td>
          
            <td>73.657%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/P'>P</a></td>
          
            <td>21109661</td>
          
            <td>2017-11-06</td>
          
            <td>$5.583</td>
          
            <td>119</td>
          
            <td>0.000%</td>
          
            <td>2018-04-30</td>
          
            <td>$5.603</td>
          
            <td>0.358%</td>
          
            <td>2.404%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CYH'>CYH</a></td>
          
            <td>6993725</td>
          
            <td>2017-11-03</td>
          
            <td>$4.460</td>
          
            <td>122</td>
          
            <td>0.000%</td>
          
            <td>2018-05-02</td>
          
            <td>$5.090</td>
          
            <td>14.126%</td>
          
            <td>2.107%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/AKS'>AKS</a></td>
          
            <td>36962629</td>
          
            <td>2017-11-01</td>
          
            <td>$4.720</td>
          
            <td>114</td>
          
            <td>0.000%</td>
          
            <td>2018-04-18</td>
          
            <td>$4.810</td>
          
            <td>1.907%</td>
          
            <td>4.786%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/NOK'>NOK</a></td>
          
            <td>29408352</td>
          
            <td>2017-10-27</td>
          
            <td>$4.990</td>
          
            <td>96</td>
          
            <td>12.000%</td>
          
            <td>2018-03-19</td>
          
            <td>$5.720</td>
          
            <td>14.629%</td>
          
            <td>5.467%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/QD'>QD</a></td>
          
            <td>9042482</td>
          
            <td>2017-10-27</td>
          
            <td>$23.900</td>
          
            <td><span id=future>965</span></td>
          
            <td><span id=future>0.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$1.660</span></td>
          
            <td><span id=future>-93.054%</span></td>
          
            <td>76.325%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EGO'>EGO</a></td>
          
            <td>17389078</td>
          
            <td>2017-10-25</td>
          
            <td>$7.164</td>
          
            <td>431</td>
          
            <td>0.000%</td>
          
            <td>2019-07-16</td>
          
            <td>$7.220</td>
          
            <td>0.785%</td>
          
            <td>17.019%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/QD'>QD</a></td>
          
            <td>16485075</td>
          
            <td>2017-10-24</td>
          
            <td>$26.620</td>
          
            <td><span id=future>968</span></td>
          
            <td><span id=future>0.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$1.660</span></td>
          
            <td><span id=future>-93.764%</span></td>
          
            <td>76.235%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EGO'>EGO</a></td>
          
            <td>14195315</td>
          
            <td>2017-10-24</td>
          
            <td>$7.737</td>
          
            <td>434</td>
          
            <td>0.000%</td>
          
            <td>2019-07-18</td>
          
            <td>$7.830</td>
          
            <td>1.203%</td>
          
            <td>16.458%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/TEVA'>TEVA</a></td>
          
            <td>44021056</td>
          
            <td>2017-08-04</td>
          
            <td>$22.680</td>
          
            <td>212</td>
          
            <td>0.000%</td>
          
            <td>2018-06-08</td>
          
            <td>$23.110</td>
          
            <td>1.896%</td>
          
            <td>12.391%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/ANF'>ANF</a></td>
          
            <td>9313361</td>
          
            <td>2017-07-11</td>
          
            <td>$9.590</td>
          
            <td>90</td>
          
            <td>30.000%</td>
          
            <td>2017-11-15</td>
          
            <td>$12.650</td>
          
            <td>31.908%</td>
          
            <td>5.897%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/TAHO'>TAHO</a></td>
          
            <td>5680679</td>
          
            <td>2017-07-07</td>
          
            <td>$5.560</td>
          
            <td><span id=delisted>408</span></td>
          
            <td><span id=delisted>0.000%</span></td>
          
            <td><span id=delisted>-</span></td>
          
            <td><span id=delisted>$3.690</span></td>
          
            <td><span id=delisted>-100.000%</span></td>
          
            <td>15.012%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/RAD'>RAD</a></td>
          
            <td>122023608</td>
          
            <td>2017-06-30</td>
          
            <td>$51.524</td>
          
            <td><span id=future>1048</span></td>
          
            <td><span id=future>0.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$17.180</span></td>
          
            <td><span id=future>-66.656%</span></td>
          
            <td>86.652%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/KR'>KR</a></td>
          
            <td>48837174</td>
          
            <td>2017-06-19</td>
          
            <td>$22.970</td>
          
            <td>107</td>
          
            <td>0.000%</td>
          
            <td>2017-11-17</td>
          
            <td>$23.410</td>
          
            <td>1.916%</td>
          
            <td>5.858%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/TOO'>TOO</a></td>
          
            <td>2165050</td>
          
            <td>2017-06-16</td>
          
            <td>$1.910</td>
          
            <td>87</td>
          
            <td>39.000%</td>
          
            <td>2017-10-19</td>
          
            <td>$2.660</td>
          
            <td>39.267%</td>
          
            <td>5.363%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EXPR'>EXPR</a></td>
          
            <td>7261022</td>
          
            <td>2017-06-02</td>
          
            <td>$6.270</td>
          
            <td>99</td>
          
            <td>3.000%</td>
          
            <td>2017-10-23</td>
          
            <td>$6.900</td>
          
            <td>10.048%</td>
          
            <td>5.213%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BBD'>BBD</a></td>
          
            <td>12050784</td>
          
            <td>2017-05-19</td>
          
            <td>$7.354</td>
          
            <td>92</td>
          
            <td>24.000%</td>
          
            <td>2017-09-29</td>
          
            <td>$9.477</td>
          
            <td>28.871%</td>
          
            <td>5.857%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SID'>SID</a></td>
          
            <td>3108541</td>
          
            <td>2017-05-19</td>
          
            <td>$2.050</td>
          
            <td>81</td>
          
            <td>57.000%</td>
          
            <td>2017-09-14</td>
          
            <td>$3.280</td>
          
            <td>60.000%</td>
          
            <td>5.376%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CIG'>CIG</a></td>
          
            <td>3737952</td>
          
            <td>2017-05-19</td>
          
            <td>$2.250</td>
          
            <td>96</td>
          
            <td>12.000%</td>
          
            <td>2017-10-05</td>
          
            <td>$2.610</td>
          
            <td>16.000%</td>
          
            <td>7.302%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SNAP'>SNAP</a></td>
          
            <td>56873341</td>
          
            <td>2017-05-12</td>
          
            <td>$18.440</td>
          
            <td>186</td>
          
            <td>0.000%</td>
          
            <td>2018-02-07</td>
          
            <td>$20.750</td>
          
            <td>12.527%</td>
          
            <td>11.954%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/VNCE'>VNCE</a></td>
          
            <td>3717997</td>
          
            <td>2017-05-04</td>
          
            <td>$4.702</td>
          
            <td>92</td>
          
            <td>24.000%</td>
          
            <td>2017-09-14</td>
          
            <td>$6.133</td>
          
            <td>30.435%</td>
          
            <td>4.715%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/VNCE'>VNCE</a></td>
          
            <td>3818193</td>
          
            <td>2017-05-03</td>
          
            <td>$3.782</td>
          
            <td>88</td>
          
            <td>36.000%</td>
          
            <td>2017-09-07</td>
          
            <td>$5.316</td>
          
            <td>40.541%</td>
          
            <td>3.392%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CVNA'>CVNA</a></td>
          
            <td>4526897</td>
          
            <td>2017-05-02</td>
          
            <td>$10.950</td>
          
            <td>84</td>
          
            <td>48.000%</td>
          
            <td>2017-08-30</td>
          
            <td>$17.530</td>
          
            <td>60.091%</td>
          
            <td>3.002%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/X'>X</a></td>
          
            <td>23014462</td>
          
            <td>2017-04-27</td>
          
            <td>$22.480</td>
          
            <td>94</td>
          
            <td>18.000%</td>
          
            <td>2017-09-11</td>
          
            <td>$26.860</td>
          
            <td>19.484%</td>
          
            <td>4.372%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SNAP'>SNAP</a></td>
          
            <td>112002014</td>
          
            <td>2017-03-08</td>
          
            <td>$22.030</td>
          
            <td>827</td>
          
            <td>0.000%</td>
          
            <td>2020-06-19</td>
          
            <td>$22.660</td>
          
            <td>2.860%</td>
          
            <td>30.041%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EXK'>EXK</a></td>
          
            <td>4190640</td>
          
            <td>2017-03-06</td>
          
            <td>$3.250</td>
          
            <td>322</td>
          
            <td>0.000%</td>
          
            <td>2018-06-14</td>
          
            <td>$3.310</td>
          
            <td>1.846%</td>
          
            <td>17.360%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EXK'>EXK</a></td>
          
            <td>4360200</td>
          
            <td>2017-03-03</td>
          
            <td>$3.330</td>
          
            <td>851</td>
          
            <td>0.000%</td>
          
            <td>2020-07-21</td>
          
            <td>$3.680</td>
          
            <td>10.511%</td>
          
            <td>36.461%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/AENZ'>AENZ</a></td>
          
            <td>1839175</td>
          
            <td>2017-02-28</td>
          
            <td>$2.500</td>
          
            <td>92</td>
          
            <td>24.000%</td>
          
            <td>2017-07-11</td>
          
            <td>$3.150</td>
          
            <td>26.000%</td>
          
            <td>2.332%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/UA'>UA</a></td>
          
            <td>15672917</td>
          
            <td>2017-02-01</td>
          
            <td>$19.500</td>
          
            <td>100</td>
          
            <td>0.000%</td>
          
            <td>2017-06-26</td>
          
            <td>$19.920</td>
          
            <td>2.154%</td>
          
            <td>6.927%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/UAA'>UAA</a></td>
          
            <td>16597137</td>
          
            <td>2017-02-01</td>
          
            <td>$21.650</td>
          
            <td>101</td>
          
            <td>0.000%</td>
          
            <td>2017-06-27</td>
          
            <td>$21.770</td>
          
            <td>0.554%</td>
          
            <td>6.065%</td>
          
        </tr>
      
    </table>
  </body>
</html>
