<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>stonk ideas</title>
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen">
  </head>
  <body>
    <p id='intro'>
      <b><a href="/">aribrown.com</a></b> |
      generated (<b><span id='future'>
          2021-07-07
      </b></future>)
      by a program
    </p>
    <hr/>
    <br/>
    <div style='display: inline-block;'>
      <table>
  <tr>
    <th>Year</th>
    <th># of Buys</th>
    <th># Unsold</th>
    <th># Delist.</th>
    <th>Med. Hold</th>
    <th>S&P 500</th>
    <th>Mean ROI</th>
    <th>Median</th>
    <th>STDDEV</th>
    <th>Sharpe</th>
  </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2021.html">2021</a>
      </td>
      <td>81</td>
      <td>72</td>
      <td>7</td>
      <td>(unsold)</td>
      <td>16.44%</td>
      <td>-29.153%</td>
      <td>-100%</td>
      <td>204.881%</td>
      <td>-0.142</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2020.html">2020</a>
      </td>
      <td>340</td>
      <td>67</td>
      <td>39</td>
      <td>197</td>
      <td>15.559%</td>
      <td>130.633%</td>
      <td>136.833%</td>
      <td>167.948%</td>
      <td>0.778</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2019.html">2019</a>
      </td>
      <td>68</td>
      <td>23</td>
      <td>20</td>
      <td>262</td>
      <td>28.971%</td>
      <td>33.95%</td>
      <td>5.263%</td>
      <td>170.591%</td>
      <td>0.199</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2018.html">2018</a>
      </td>
      <td>59</td>
      <td>39</td>
      <td>38</td>
      <td>(unsold)</td>
      <td>-6.691%</td>
      <td>-48.078%</td>
      <td>-100%</td>
      <td>86.945%</td>
      <td>-0.553</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2017.html">2017</a>
      </td>
      <td>39</td>
      <td>10</td>
      <td>9</td>
      <td>322</td>
      <td>18.747%</td>
      <td>157.744%</td>
      <td>4.974%</td>
      <td>569.832%</td>
      <td>0.277</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2016.html">2016</a>
      </td>
      <td>49</td>
      <td>5</td>
      <td>5</td>
      <td>196</td>
      <td>8.97%</td>
      <td>161.637%</td>
      <td>128.412%</td>
      <td>265.412%</td>
      <td>0.609</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2015.html">2015</a>
      </td>
      <td>54</td>
      <td>5</td>
      <td>20</td>
      <td>254</td>
      <td>-1.216%</td>
      <td>261596.072%</td>
      <td>74.076%</td>
      <td>846188.357%</td>
      <td>0.309</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2014.html">2014</a>
      </td>
      <td>26</td>
      <td>4</td>
      <td>6</td>
      <td>290</td>
      <td>11.664%</td>
      <td>28.326%</td>
      <td>5.528%</td>
      <td>86.716%</td>
      <td>0.327</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2013.html">2013</a>
      </td>
      <td>15</td>
      <td>6</td>
      <td>7</td>
      <td>1780</td>
      <td>27.276%</td>
      <td>188.85%</td>
      <td>7.294%</td>
      <td>799.698%</td>
      <td>0.236</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2012.html">2012</a>
      </td>
      <td>35</td>
      <td>6</td>
      <td>13</td>
      <td>237</td>
      <td>11.467%</td>
      <td>205.946%</td>
      <td>74.043%</td>
      <td>430.049%</td>
      <td>0.479</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2011.html">2011</a>
      </td>
      <td>24</td>
      <td>1</td>
      <td>4</td>
      <td>277</td>
      <td>-0.024%</td>
      <td>177.527%</td>
      <td>25.333%</td>
      <td>498.027%</td>
      <td>0.356</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2010.html">2010</a>
      </td>
      <td>7</td>
      <td>0</td>
      <td>2</td>
      <td>206</td>
      <td>11.51%</td>
      <td>139.685%</td>
      <td>109.463%</td>
      <td>132.083%</td>
      <td>1.058</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2009.html">2009</a>
      </td>
      <td>244</td>
      <td>0</td>
      <td>7</td>
      <td>143</td>
      <td>23.22%</td>
      <td>264.706%</td>
      <td>254.639%</td>
      <td>264.429%</td>
      <td>1.001</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2008.html">2008</a>
      </td>
      <td>385</td>
      <td>2</td>
      <td>41</td>
      <td>220</td>
      <td>-38.654%</td>
      <td>182.788%</td>
      <td>102.899%</td>
      <td>374.098%</td>
      <td>0.489</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2007.html">2007</a>
      </td>
      <td>17</td>
      <td>1</td>
      <td>1</td>
      <td>258</td>
      <td>2.784%</td>
      <td>192.784%</td>
      <td>46.341%</td>
      <td>381.169%</td>
      <td>0.506</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2006.html">2006</a>
      </td>
      <td>18</td>
      <td>0</td>
      <td>0</td>
      <td>242</td>
      <td>13.124%</td>
      <td>91.717%</td>
      <td>57.279%</td>
      <td>112.141%</td>
      <td>0.818</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2005.html">2005</a>
      </td>
      <td>33</td>
      <td>0</td>
      <td>0</td>
      <td>224</td>
      <td>2.646%</td>
      <td>116.428%</td>
      <td>75.0%</td>
      <td>176.221%</td>
      <td>0.661</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2004.html">2004</a>
      </td>
      <td>22</td>
      <td>0</td>
      <td>0</td>
      <td>256</td>
      <td>8.676%</td>
      <td>18.69%</td>
      <td>15.489%</td>
      <td>21.107%</td>
      <td>0.885</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2003.html">2003</a>
      </td>
      <td>44</td>
      <td>0</td>
      <td>0</td>
      <td>241</td>
      <td>26.469%</td>
      <td>100.621%</td>
      <td>42.857%</td>
      <td>135.529%</td>
      <td>0.742</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2002.html">2002</a>
      </td>
      <td>151</td>
      <td>0</td>
      <td>0</td>
      <td>217</td>
      <td>-24.038%</td>
      <td>139.242%</td>
      <td>100.889%</td>
      <td>123.274%</td>
      <td>1.13</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2001.html">2001</a>
      </td>
      <td>155</td>
      <td>64</td>
      <td>65</td>
      <td>638</td>
      <td>-13.409%</td>
      <td>4.808%</td>
      <td>1.06%</td>
      <td>128.954%</td>
      <td>0.037</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2000.html">2000</a>
      </td>
      <td>344</td>
      <td>94</td>
      <td>172</td>
      <td>354</td>
      <td>-12.279%</td>
      <td>36.675%</td>
      <td>8.389%</td>
      <td>135.03%</td>
      <td>0.272</td>
    </tr>
  
</table>


    </div>
    <div style='display: inline-block; max-width: 38%; vertical-align: top; padding-left: 20px;'>
      <br/>
      <br/>
      <p>
        a full explanation is available <b><a href="/files/stocks.html">here</a></b>
      </p>
      <br/>
      <p>
        <div id='reasons'>
          buy when:
          <br/>
          <ul>
            <li>20% price drop in 2 days (open to close)</li>
            <li>
              stock is in the top 61 of the market movement potential
              (explained <b><a href="/files/stocks.html#1:4">here</a></b>)
            </li>
          </ul>
      
          sell when:
          <br/>
          <ul>
            <li>
              ROI > 520% - 2% * trading_days_held
            </li>
          </ul>
        </div>
      </p>
      <br/>
      <ul style="padding-left: 20px;">
        <li>prices may be adjusted to reflect splits/reverse-splits</li>
        <li>drop occurs on one day, buy the next morning</li>
        <li>prior 5 days is including the day of the drop</li>
        <li><span id='future'>blue</span> figures are taken from the latest
            closing prices, since the threshold to sell has not yet been reached</li>
        <li><span id='delisted'>red</span> figures are taken from the last
            closing prices available, since it has since been delisted</li>
      </ul>
    </div>
    <br/>
    <center><h2>1 JAN 2021 - 07 JUL 2021</h2></center>
    <p>SPY ROI for 1 JAN 2021 - 07 JUL 2021: <span id=future>16.440%</span></p>
    <p>mean ROI for trades shown: <span id=future>-29.153%</span></p>
    <p>mean ROI if you were to also sell everything you're still holding: <span id=future>58.147%</span></p>
    <table>
      <tr>
        <th><b>Symbol</b></th>
        <th><b>10-Day Trade Volume</b></th>
        <th><b>Buy Date</b></th>
        <th><b>Buy Price</b></th>
        <th><b>Days Held</b></th>
        <th><b>ROI Threshold</b></th>
        <th><b>Sell Date</b></th>
        <th><b>Sell Price</b></th>
        <th><b>Sell ROI</b></th>
        <th><b>SPY ROI</b></th>
      </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/AHT'>AHT</a></td>
          
            <td>38110393</td>
          
            <td>2021-07-06</td>
          
            <td>$2.810</td>
          
            <td><span id=future>0</span></td>
          
            <td><span id=future>520.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$2.550</span></td>
          
            <td><span id=future>-9.256%</span></td>
          
            <td>-0.203%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/GTT'>GTT</a></td>
          
            <td>11998482</td>
          
            <td>2021-06-30</td>
          
            <td>$2.450</td>
          
            <td><span id=future>1</span></td>
          
            <td><span id=future>518.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$2.370</span></td>
          
            <td><span id=future>-3.265%</span></td>
          
            <td>0.765%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/TAL'>TAL</a></td>
          
            <td>26017690</td>
          
            <td>2021-06-18</td>
          
            <td>$21.000</td>
          
            <td><span id=future>11</span></td>
          
            <td><span id=future>498.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$20.800</span></td>
          
            <td><span id=future>-0.952%</span></td>
          
            <td>3.793%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/TAL'>TAL</a></td>
          
            <td>23381367</td>
          
            <td>2021-06-17</td>
          
            <td>$23.890</td>
          
            <td><span id=future>12</span></td>
          
            <td><span id=future>496.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$20.800</span></td>
          
            <td><span id=future>-12.934%</span></td>
          
            <td>2.663%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/WPG'>WPG</a></td>
          
            <td>17727729</td>
          
            <td>2021-06-15</td>
          
            <td>$3.220</td>
          
            <td><span id=future>14</span></td>
          
            <td><span id=future>492.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$2.250</span></td>
          
            <td><span id=future>-30.124%</span></td>
          
            <td>1.756%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/WPG'>WPG</a></td>
          
            <td>18508603</td>
          
            <td>2021-06-14</td>
          
            <td>$2.000</td>
          
            <td><span id=future>15</span></td>
          
            <td><span id=future>490.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$2.250</span></td>
          
            <td><span id=future>12.500%</span></td>
          
            <td>1.996%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/WPG'>WPG</a></td>
          
            <td>13181459</td>
          
            <td>2021-06-11</td>
          
            <td>$5.230</td>
          
            <td><span id=future>16</span></td>
          
            <td><span id=future>488.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$2.250</span></td>
          
            <td><span id=future>-56.979%</span></td>
          
            <td>2.053%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BB'>BB</a></td>
          
            <td>242555902</td>
          
            <td>2021-06-07</td>
          
            <td>$14.470</td>
          
            <td><span id=future>20</span></td>
          
            <td><span id=future>480.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$12.068</span></td>
          
            <td><span id=future>-16.598%</span></td>
          
            <td>2.440%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BTU'>BTU</a></td>
          
            <td>17266087</td>
          
            <td>2021-05-20</td>
          
            <td>$6.460</td>
          
            <td><span id=future>31</span></td>
          
            <td><span id=future>458.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$8.050</span></td>
          
            <td><span id=future>24.613%</span></td>
          
            <td>5.124%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BTU'>BTU</a></td>
          
            <td>17785948</td>
          
            <td>2021-05-19</td>
          
            <td>$6.310</td>
          
            <td><span id=future>32</span></td>
          
            <td><span id=future>456.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$8.050</span></td>
          
            <td><span id=future>27.575%</span></td>
          
            <td>6.385%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/ESGC'>ESGC</a></td>
          
            <td>12693386</td>
          
            <td>2021-04-21</td>
          
            <td>$1.200</td>
          
            <td><span id=future>52</span></td>
          
            <td><span id=future>416.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$1.480</span></td>
          
            <td><span id=future>23.325%</span></td>
          
            <td>5.198%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/GENN'>GENN</a></td>
          
            <td>1216711</td>
          
            <td>2021-04-19</td>
          
            <td>$0.180</td>
          
            <td><span id=delisted>5</span></td>
          
            <td><span id=delisted>510.000%</span></td>
          
            <td><span id=delisted>-</span></td>
          
            <td><span id=delisted>$0.240</span></td>
          
            <td><span id=delisted>33.259%</span></td>
          
            <td>0.332%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/GENN'>GENN</a></td>
          
            <td>1075443</td>
          
            <td>2021-04-16</td>
          
            <td>$0.200</td>
          
            <td><span id=delisted>6</span></td>
          
            <td><span id=delisted>508.000%</span></td>
          
            <td><span id=delisted>-</span></td>
          
            <td><span id=delisted>$0.240</span></td>
          
            <td><span id=delisted>20.000%</span></td>
          
            <td>0.093%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/GENN'>GENN</a></td>
          
            <td>5273890</td>
          
            <td>2021-03-31</td>
          
            <td>$0.320</td>
          
            <td><span id=delisted>17</span></td>
          
            <td><span id=delisted>486.000%</span></td>
          
            <td><span id=delisted>-</span></td>
          
            <td><span id=delisted>$0.240</span></td>
          
            <td><span id=delisted>-25.000%</span></td>
          
            <td>5.641%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/FEDU'>FEDU</a></td>
          
            <td>21132614</td>
          
            <td>2021-03-30</td>
          
            <td>$1.340</td>
          
            <td><span id=future>67</span></td>
          
            <td><span id=future>386.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$0.915</span></td>
          
            <td><span id=future>-31.709%</span></td>
          
            <td>9.756%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/WPG'>WPG</a></td>
          
            <td>1900583</td>
          
            <td>2021-03-26</td>
          
            <td>$2.020</td>
          
            <td><span id=future>69</span></td>
          
            <td><span id=future>382.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$2.250</span></td>
          
            <td><span id=future>11.386%</span></td>
          
            <td>10.736%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/TME'>TME</a></td>
          
            <td>78753115</td>
          
            <td>2021-03-26</td>
          
            <td>$18.350</td>
          
            <td><span id=future>69</span></td>
          
            <td><span id=future>382.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$14.095</span></td>
          
            <td><span id=future>-23.188%</span></td>
          
            <td>10.736%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/AMC'>AMC</a></td>
          
            <td>91068514</td>
          
            <td>2021-03-25</td>
          
            <td>$8.960</td>
          
            <td>47</td>
          
            <td>426.000%</td>
          
            <td>2021-06-02</td>
          
            <td>$63.940</td>
          
            <td>613.617%</td>
          
            <td>8.912%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/STON'>STON</a></td>
          
            <td>7418485</td>
          
            <td>2021-03-25</td>
          
            <td>$2.000</td>
          
            <td><span id=future>70</span></td>
          
            <td><span id=future>380.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$2.570</span></td>
          
            <td><span id=future>28.500%</span></td>
          
            <td>12.156%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EXPR'>EXPR</a></td>
          
            <td>18457133</td>
          
            <td>2021-03-24</td>
          
            <td>$4.160</td>
          
            <td><span id=future>71</span></td>
          
            <td><span id=future>378.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$5.800</span></td>
          
            <td><span id=future>39.423%</span></td>
          
            <td>10.716%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/RLX'>RLX</a></td>
          
            <td>36154443</td>
          
            <td>2021-03-24</td>
          
            <td>$10.410</td>
          
            <td><span id=future>71</span></td>
          
            <td><span id=future>378.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$8.100</span></td>
          
            <td><span id=future>-22.190%</span></td>
          
            <td>10.716%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/RLX'>RLX</a></td>
          
            <td>27001463</td>
          
            <td>2021-03-23</td>
          
            <td>$10.420</td>
          
            <td><span id=future>72</span></td>
          
            <td><span id=future>376.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$8.100</span></td>
          
            <td><span id=future>-22.265%</span></td>
          
            <td>10.459%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/JE'>JE</a></td>
          
            <td>6374099</td>
          
            <td>2021-03-11</td>
          
            <td>$2.150</td>
          
            <td><span id=delisted>7</span></td>
          
            <td><span id=delisted>506.000%</span></td>
          
            <td><span id=delisted>-</span></td>
          
            <td><span id=delisted>$1.745</span></td>
          
            <td><span id=delisted>-18.837%</span></td>
          
            <td>0.079%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SOS'>SOS</a></td>
          
            <td>136884246</td>
          
            <td>2021-03-09</td>
          
            <td>$6.220</td>
          
            <td><span id=future>82</span></td>
          
            <td><span id=future>356.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$3.080</span></td>
          
            <td><span id=future>-50.482%</span></td>
          
            <td>12.194%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/WPG'>WPG</a></td>
          
            <td>13404458</td>
          
            <td>2021-03-09</td>
          
            <td>$1.850</td>
          
            <td><span id=future>82</span></td>
          
            <td><span id=future>356.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$2.250</span></td>
          
            <td><span id=future>21.622%</span></td>
          
            <td>12.194%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/GENN'>GENN</a></td>
          
            <td>14256782</td>
          
            <td>2021-03-05</td>
          
            <td>$0.470</td>
          
            <td><span id=delisted>35</span></td>
          
            <td><span id=delisted>450.000%</span></td>
          
            <td><span id=delisted>-</span></td>
          
            <td><span id=delisted>$0.240</span></td>
          
            <td><span id=delisted>-48.936%</span></td>
          
            <td>9.772%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/FSR'>FSR</a></td>
          
            <td>36379192</td>
          
            <td>2021-03-05</td>
          
            <td>$23.300</td>
          
            <td><span id=future>84</span></td>
          
            <td><span id=future>352.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$17.970</span></td>
          
            <td><span id=future>-22.876%</span></td>
          
            <td>13.783%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/RKT'>RKT</a></td>
          
            <td>135729406</td>
          
            <td>2021-03-05</td>
          
            <td>$27.740</td>
          
            <td><span id=future>84</span></td>
          
            <td><span id=future>352.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$18.760</span></td>
          
            <td><span id=future>-32.372%</span></td>
          
            <td>13.783%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/AHT'>AHT</a></td>
          
            <td>11348318</td>
          
            <td>2021-03-05</td>
          
            <td>$2.800</td>
          
            <td><span id=future>84</span></td>
          
            <td><span id=future>352.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$2.550</span></td>
          
            <td><span id=future>-8.932%</span></td>
          
            <td>13.783%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/GTT'>GTT</a></td>
          
            <td>15020984</td>
          
            <td>2021-03-05</td>
          
            <td>$1.790</td>
          
            <td><span id=future>82</span></td>
          
            <td><span id=future>356.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$2.370</span></td>
          
            <td><span id=future>32.402%</span></td>
          
            <td>13.145%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/GENN'>GENN</a></td>
          
            <td>12684119</td>
          
            <td>2021-03-04</td>
          
            <td>$0.448</td>
          
            <td><span id=delisted>36</span></td>
          
            <td><span id=delisted>448.000%</span></td>
          
            <td><span id=delisted>-</span></td>
          
            <td><span id=delisted>$0.240</span></td>
          
            <td><span id=delisted>-46.405%</span></td>
          
            <td>9.554%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/RKT'>RKT</a></td>
          
            <td>138696444</td>
          
            <td>2021-03-04</td>
          
            <td>$28.000</td>
          
            <td><span id=future>85</span></td>
          
            <td><span id=future>350.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$18.760</span></td>
          
            <td><span id=future>-33.000%</span></td>
          
            <td>13.556%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SOS'>SOS</a></td>
          
            <td>110279252</td>
          
            <td>2021-03-01</td>
          
            <td>$6.060</td>
          
            <td><span id=future>88</span></td>
          
            <td><span id=future>344.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$3.080</span></td>
          
            <td><span id=future>-49.175%</span></td>
          
            <td>12.270%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/AMC'>AMC</a></td>
          
            <td>270939017</td>
          
            <td>2021-03-01</td>
          
            <td>$8.860</td>
          
            <td>65</td>
          
            <td>390.000%</td>
          
            <td>2021-06-02</td>
          
            <td>$63.940</td>
          
            <td>621.672%</td>
          
            <td>9.023%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EXPR'>EXPR</a></td>
          
            <td>27135470</td>
          
            <td>2021-03-01</td>
          
            <td>$2.820</td>
          
            <td><span id=future>88</span></td>
          
            <td><span id=future>344.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$5.800</span></td>
          
            <td><span id=future>105.674%</span></td>
          
            <td>12.270%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SOS'>SOS</a></td>
          
            <td>80750187</td>
          
            <td>2021-02-26</td>
          
            <td>$5.910</td>
          
            <td><span id=future>89</span></td>
          
            <td><span id=future>342.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$3.080</span></td>
          
            <td><span id=future>-47.885%</span></td>
          
            <td>12.632%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/AMC'>AMC</a></td>
          
            <td>272329309</td>
          
            <td>2021-02-26</td>
          
            <td>$8.190</td>
          
            <td>66</td>
          
            <td>388.000%</td>
          
            <td>2021-06-02</td>
          
            <td>$63.940</td>
          
            <td>680.709%</td>
          
            <td>9.374%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CCIV'>CCIV</a></td>
          
            <td>108926401</td>
          
            <td>2021-02-26</td>
          
            <td>$31.250</td>
          
            <td><span id=future>89</span></td>
          
            <td><span id=future>342.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$26.360</span></td>
          
            <td><span id=future>-15.648%</span></td>
          
            <td>12.632%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/QD'>QD</a></td>
          
            <td>8794538</td>
          
            <td>2021-02-24</td>
          
            <td>$2.500</td>
          
            <td><span id=future>91</span></td>
          
            <td><span id=future>338.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$2.190</span></td>
          
            <td><span id=future>-12.400%</span></td>
          
            <td>12.054%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CCIV'>CCIV</a></td>
          
            <td>106608228</td>
          
            <td>2021-02-24</td>
          
            <td>$35.640</td>
          
            <td><span id=future>91</span></td>
          
            <td><span id=future>338.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$26.360</span></td>
          
            <td><span id=future>-26.038%</span></td>
          
            <td>12.054%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SOS'>SOS</a></td>
          
            <td>61086506</td>
          
            <td>2021-02-24</td>
          
            <td>$8.600</td>
          
            <td><span id=future>91</span></td>
          
            <td><span id=future>338.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$3.080</span></td>
          
            <td><span id=future>-64.186%</span></td>
          
            <td>12.054%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/JE'>JE</a></td>
          
            <td>5789103</td>
          
            <td>2021-02-23</td>
          
            <td>$3.870</td>
          
            <td><span id=delisted>19</span></td>
          
            <td><span id=delisted>482.000%</span></td>
          
            <td><span id=delisted>-</span></td>
          
            <td><span id=delisted>$1.745</span></td>
          
            <td><span id=delisted>-54.910%</span></td>
          
            <td>2.049%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/PBR'>PBR</a></td>
          
            <td>91338048</td>
          
            <td>2021-02-23</td>
          
            <td>$8.450</td>
          
            <td><span id=future>92</span></td>
          
            <td><span id=future>336.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$11.050</span></td>
          
            <td><span id=future>30.769%</span></td>
          
            <td>12.541%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SOS'>SOS</a></td>
          
            <td>130781616</td>
          
            <td>2021-02-19</td>
          
            <td>$11.360</td>
          
            <td><span id=future>94</span></td>
          
            <td><span id=future>332.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$3.080</span></td>
          
            <td><span id=future>-72.887%</span></td>
          
            <td>10.414%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/IO'>IO</a></td>
          
            <td>7159175</td>
          
            <td>2021-02-19</td>
          
            <td>$3.250</td>
          
            <td><span id=future>94</span></td>
          
            <td><span id=future>332.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$1.930</span></td>
          
            <td><span id=future>-40.615%</span></td>
          
            <td>10.414%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/HEXO'>HEXO</a></td>
          
            <td>16095925</td>
          
            <td>2021-02-16</td>
          
            <td>$7.840</td>
          
            <td><span id=future>97</span></td>
          
            <td><span id=future>326.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$5.275</span></td>
          
            <td><span id=future>-32.717%</span></td>
          
            <td>9.884%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/ACB'>ACB</a></td>
          
            <td>60487590</td>
          
            <td>2021-02-16</td>
          
            <td>$13.000</td>
          
            <td><span id=future>97</span></td>
          
            <td><span id=future>326.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$8.300</span></td>
          
            <td><span id=future>-36.154%</span></td>
          
            <td>9.884%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/ACB'>ACB</a></td>
          
            <td>61111984</td>
          
            <td>2021-02-12</td>
          
            <td>$13.070</td>
          
            <td><span id=future>98</span></td>
          
            <td><span id=future>324.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$8.300</span></td>
          
            <td><span id=future>-36.496%</span></td>
          
            <td>11.043%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/HEXO'>HEXO</a></td>
          
            <td>13657962</td>
          
            <td>2021-02-12</td>
          
            <td>$7.270</td>
          
            <td><span id=future>98</span></td>
          
            <td><span id=future>324.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$5.275</span></td>
          
            <td><span id=future>-27.442%</span></td>
          
            <td>11.043%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/LAIX'>LAIX</a></td>
          
            <td>32906524</td>
          
            <td>2021-02-10</td>
          
            <td>$3.950</td>
          
            <td><span id=future>100</span></td>
          
            <td><span id=future>320.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$1.660</span></td>
          
            <td><span id=future>-57.975%</span></td>
          
            <td>10.400%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/AMC'>AMC</a></td>
          
            <td>147239384</td>
          
            <td>2021-02-10</td>
          
            <td>$5.710</td>
          
            <td>76</td>
          
            <td>368.000%</td>
          
            <td>2021-06-01</td>
          
            <td>$31.990</td>
          
            <td>460.245%</td>
          
            <td>7.016%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/STG'>STG</a></td>
          
            <td>8995821</td>
          
            <td>2021-02-09</td>
          
            <td>$1.500</td>
          
            <td><span id=future>101</span></td>
          
            <td><span id=future>318.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$0.940</span></td>
          
            <td><span id=future>-37.320%</span></td>
          
            <td>11.111%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/LAIX'>LAIX</a></td>
          
            <td>31498050</td>
          
            <td>2021-02-09</td>
          
            <td>$4.000</td>
          
            <td><span id=future>101</span></td>
          
            <td><span id=future>318.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$1.660</span></td>
          
            <td><span id=future>-58.500%</span></td>
          
            <td>11.111%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/STG'>STG</a></td>
          
            <td>8706273</td>
          
            <td>2021-02-08</td>
          
            <td>$1.560</td>
          
            <td><span id=future>102</span></td>
          
            <td><span id=future>316.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$0.940</span></td>
          
            <td><span id=future>-39.731%</span></td>
          
            <td>11.208%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/LAIX'>LAIX</a></td>
          
            <td>30691091</td>
          
            <td>2021-02-08</td>
          
            <td>$5.190</td>
          
            <td><span id=future>102</span></td>
          
            <td><span id=future>316.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$1.660</span></td>
          
            <td><span id=future>-68.015%</span></td>
          
            <td>11.208%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/AMC'>AMC</a></td>
          
            <td>233240844</td>
          
            <td>2021-02-08</td>
          
            <td>$6.880</td>
          
            <td>78</td>
          
            <td>364.000%</td>
          
            <td>2021-06-01</td>
          
            <td>$31.990</td>
          
            <td>364.971%</td>
          
            <td>7.799%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/GME'>GME</a></td>
          
            <td>60103328</td>
          
            <td>2021-02-05</td>
          
            <td>$54.040</td>
          
            <td>77</td>
          
            <td>366.000%</td>
          
            <td>2021-05-27</td>
          
            <td>$254.330</td>
          
            <td>370.633%</td>
          
            <td>8.112%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/MUX'>MUX</a></td>
          
            <td>27862307</td>
          
            <td>2021-02-03</td>
          
            <td>$1.250</td>
          
            <td><span id=future>105</span></td>
          
            <td><span id=future>310.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$1.345</span></td>
          
            <td><span id=future>7.600%</span></td>
          
            <td>13.196%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BB'>BB</a></td>
          
            <td>99452701</td>
          
            <td>2021-02-03</td>
          
            <td>$11.720</td>
          
            <td><span id=future>105</span></td>
          
            <td><span id=future>310.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$12.068</span></td>
          
            <td><span id=future>2.972%</span></td>
          
            <td>13.196%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/MAC'>MAC</a></td>
          
            <td>19708055</td>
          
            <td>2021-02-03</td>
          
            <td>$12.600</td>
          
            <td><span id=future>105</span></td>
          
            <td><span id=future>310.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$17.580</span></td>
          
            <td><span id=future>39.524%</span></td>
          
            <td>13.196%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/AG'>AG</a></td>
          
            <td>37958906</td>
          
            <td>2021-02-03</td>
          
            <td>$17.040</td>
          
            <td><span id=future>105</span></td>
          
            <td><span id=future>310.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$15.290</span></td>
          
            <td><span id=future>-10.270%</span></td>
          
            <td>13.196%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/AMC'>AMC</a></td>
          
            <td>453535452</td>
          
            <td>2021-02-03</td>
          
            <td>$8.850</td>
          
            <td>82</td>
          
            <td>356.000%</td>
          
            <td>2021-06-02</td>
          
            <td>$63.940</td>
          
            <td>622.487%</td>
          
            <td>9.922%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EXPR'>EXPR</a></td>
          
            <td>45493584</td>
          
            <td>2021-02-03</td>
          
            <td>$3.840</td>
          
            <td><span id=future>105</span></td>
          
            <td><span id=future>310.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$5.800</span></td>
          
            <td><span id=future>51.042%</span></td>
          
            <td>13.196%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EXK'>EXK</a></td>
          
            <td>10333619</td>
          
            <td>2021-02-03</td>
          
            <td>$5.040</td>
          
            <td><span id=future>105</span></td>
          
            <td><span id=future>310.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$5.940</span></td>
          
            <td><span id=future>17.857%</span></td>
          
            <td>13.196%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EXPR'>EXPR</a></td>
          
            <td>98126648</td>
          
            <td>2021-02-02</td>
          
            <td>$3.990</td>
          
            <td><span id=future>106</span></td>
          
            <td><span id=future>308.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$5.800</span></td>
          
            <td><span id=future>45.363%</span></td>
          
            <td>14.026%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/AMC'>AMC</a></td>
          
            <td>648455476</td>
          
            <td>2021-02-02</td>
          
            <td>$9.480</td>
          
            <td>83</td>
          
            <td>354.000%</td>
          
            <td>2021-06-02</td>
          
            <td>$63.940</td>
          
            <td>574.474%</td>
          
            <td>10.728%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/MAC'>MAC</a></td>
          
            <td>28451812</td>
          
            <td>2021-02-02</td>
          
            <td>$13.930</td>
          
            <td><span id=future>106</span></td>
          
            <td><span id=future>308.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$17.580</span></td>
          
            <td><span id=future>26.202%</span></td>
          
            <td>14.026%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BB'>BB</a></td>
          
            <td>196485031</td>
          
            <td>2021-02-01</td>
          
            <td>$14.640</td>
          
            <td><span id=future>107</span></td>
          
            <td><span id=future>306.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$12.068</span></td>
          
            <td><span id=future>-17.566%</span></td>
          
            <td>15.835%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/DS'>DS</a></td>
          
            <td>8577275</td>
          
            <td>2021-02-01</td>
          
            <td>$2.530</td>
          
            <td><span id=future>107</span></td>
          
            <td><span id=future>306.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$3.120</span></td>
          
            <td><span id=future>23.320%</span></td>
          
            <td>15.835%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CHS'>CHS</a></td>
          
            <td>7503392</td>
          
            <td>2021-02-01</td>
          
            <td>$2.290</td>
          
            <td><span id=future>107</span></td>
          
            <td><span id=future>306.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$6.410</span></td>
          
            <td><span id=future>179.913%</span></td>
          
            <td>15.835%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/AMC'>AMC</a></td>
          
            <td>650359574</td>
          
            <td>2021-01-29</td>
          
            <td>$14.310</td>
          
            <td><span id=future>108</span></td>
          
            <td><span id=future>304.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$49.960</span></td>
          
            <td><span id=future>249.126%</span></td>
          
            <td>15.246%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EXPR'>EXPR</a></td>
          
            <td>170684407</td>
          
            <td>2021-01-29</td>
          
            <td>$7.480</td>
          
            <td><span id=future>108</span></td>
          
            <td><span id=future>304.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$5.800</span></td>
          
            <td><span id=future>-22.460%</span></td>
          
            <td>15.246%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CHS'>CHS</a></td>
          
            <td>8296111</td>
          
            <td>2021-01-29</td>
          
            <td>$2.540</td>
          
            <td><span id=future>108</span></td>
          
            <td><span id=future>304.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$6.410</span></td>
          
            <td><span id=future>152.362%</span></td>
          
            <td>15.246%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BB'>BB</a></td>
          
            <td>253549640</td>
          
            <td>2021-01-29</td>
          
            <td>$17.980</td>
          
            <td><span id=future>108</span></td>
          
            <td><span id=future>304.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$12.068</span></td>
          
            <td><span id=future>-32.879%</span></td>
          
            <td>15.246%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/PBI'>PBI</a></td>
          
            <td>19181800</td>
          
            <td>2021-01-29</td>
          
            <td>$9.860</td>
          
            <td><span id=future>108</span></td>
          
            <td><span id=future>304.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$8.410</span></td>
          
            <td><span id=future>-14.706%</span></td>
          
            <td>15.246%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/KODK'>KODK</a></td>
          
            <td>18029759</td>
          
            <td>2021-01-29</td>
          
            <td>$10.200</td>
          
            <td><span id=future>108</span></td>
          
            <td><span id=future>304.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$8.030</span></td>
          
            <td><span id=future>-21.275%</span></td>
          
            <td>15.246%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/RLX'>RLX</a></td>
          
            <td>48931454</td>
          
            <td>2021-01-27</td>
          
            <td>$23.600</td>
          
            <td><span id=future>110</span></td>
          
            <td><span id=future>300.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$8.100</span></td>
          
            <td><span id=future>-65.678%</span></td>
          
            <td>13.855%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EXPR'>EXPR</a></td>
          
            <td>157868592</td>
          
            <td>2021-01-27</td>
          
            <td>$7.930</td>
          
            <td><span id=future>110</span></td>
          
            <td><span id=future>300.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$5.800</span></td>
          
            <td><span id=future>-26.860%</span></td>
          
            <td>13.855%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/GME'>GME</a></td>
          
            <td>124880832</td>
          
            <td>2021-01-26</td>
          
            <td>$88.560</td>
          
            <td><span id=future>111</span></td>
          
            <td><span id=future>298.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$199.574</span></td>
          
            <td><span id=future>125.354%</span></td>
          
            <td>12.322%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CHRA'>CHRA</a></td>
          
            <td>6576657</td>
          
            <td>2021-01-20</td>
          
            <td>$3.500</td>
          
            <td><span id=future>115</span></td>
          
            <td><span id=future>290.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$5.100</span></td>
          
            <td><span id=future>45.714%</span></td>
          
            <td>13.589%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SOS'>SOS</a></td>
          
            <td>35953564</td>
          
            <td>2021-01-11</td>
          
            <td>$1.880</td>
          
            <td>24</td>
          
            <td>472.000%</td>
          
            <td>2021-02-16</td>
          
            <td>$11.840</td>
          
            <td>529.787%</td>
          
            <td>3.824%</td>
          
        </tr>
      
    </table>
  </body>
</html>
