<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>stonk ideas</title>
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen">
  </head>
  <body>
    <p id='intro'>
      <b><a href="/">aribrown.com</a></b> |
      generated (<b><span id='future'>
          2021-06-25
      </b></future>)
      by a program
    </p>
    <hr/>
    <br/>
    <div style='display: inline-block;'>
      <table>
  <tr>
    <th>Year</th>
    <th># of Buys</th>
    <th>Med. Hold</th>
    <th>S&P 500</th>
    <th>Mean ROI</th>
    <th>Median</th>
    <th>STDDEV</th>
    <th>Sharpe</th>
  </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2021.html">2021</a>
      </td>
      <td>79</td>
      <td>(unsold)</td>
      <td>12.563%</td>
      <td>-27.36%</td>
      <td>-100%</td>
      <td>207.173%</td>
      <td>-0.132</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2020.html">2020</a>
      </td>
      <td>348</td>
      <td>193</td>
      <td>16.162%</td>
      <td>133.145%</td>
      <td>142.289%</td>
      <td>166.941%</td>
      <td>0.798</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2019.html">2019</a>
      </td>
      <td>53</td>
      <td>247</td>
      <td>28.785%</td>
      <td>79.495%</td>
      <td>33.156%</td>
      <td>169.753%</td>
      <td>0.468</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2018.html">2018</a>
      </td>
      <td>31</td>
      <td>320</td>
      <td>-7.013%</td>
      <td>201.871%</td>
      <td>7.446%</td>
      <td>996.728%</td>
      <td>0.203</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2017.html">2017</a>
      </td>
      <td>32</td>
      <td>304</td>
      <td>19.384%</td>
      <td>207.064%</td>
      <td>6.502%</td>
      <td>618.783%</td>
      <td>0.335</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2016.html">2016</a>
      </td>
      <td>50</td>
      <td>211</td>
      <td>9.643%</td>
      <td>167.163%</td>
      <td>121.088%</td>
      <td>255.225%</td>
      <td>0.655</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2015.html">2015</a>
      </td>
      <td>40</td>
      <td>256</td>
      <td>-0.812%</td>
      <td>125.655%</td>
      <td>28.801%</td>
      <td>186.76%</td>
      <td>0.673</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2014.html">2014</a>
      </td>
      <td>24</td>
      <td>260</td>
      <td>11.289%</td>
      <td>47.703%</td>
      <td>18.585%</td>
      <td>88.281%</td>
      <td>0.54</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2013.html">2013</a>
      </td>
      <td>9</td>
      <td>279</td>
      <td>29.689%</td>
      <td>41.125%</td>
      <td>11.765%</td>
      <td>62.839%</td>
      <td>0.654</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2012.html">2012</a>
      </td>
      <td>23</td>
      <td>223</td>
      <td>13.474%</td>
      <td>94.904%</td>
      <td>74.043%</td>
      <td>81.324%</td>
      <td>1.167</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2011.html">2011</a>
      </td>
      <td>18</td>
      <td>260</td>
      <td>-0.199%</td>
      <td>26.39%</td>
      <td>15.335%</td>
      <td>52.428%</td>
      <td>0.503</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2010.html">2010</a>
      </td>
      <td>9</td>
      <td>241</td>
      <td>12.841%</td>
      <td>116.993%</td>
      <td>44.486%</td>
      <td>122.933%</td>
      <td>0.952</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2009.html">2009</a>
      </td>
      <td>245</td>
      <td>140</td>
      <td>23.493%</td>
      <td>268.279%</td>
      <td>261.333%</td>
      <td>263.722%</td>
      <td>1.017</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2008.html">2008</a>
      </td>
      <td>351</td>
      <td>217</td>
      <td>-37.735%</td>
      <td>153.032%</td>
      <td>101.984%</td>
      <td>311.537%</td>
      <td>0.491</td>
    </tr>
  
</table>


    </div>
    <div style='display: inline-block; max-width: 40%; vertical-align: top; padding-left: 20px;'>
      <br/>
      <br/>
      <p>
        a full explanation is available <b><a href="/files/stocks.html">here</a></b>
      </p>
      <br/>
      <p>
        <div id='reasons'>
          buy when:
          <br/>
          <ul>
            <li>20% price drop in 2 days (open to close)</li>
            <li>
              stock is in the top 61 of the market movement potential
              (explained <b><a href="/files/stocks.html#1:4">here</a></b>)
            </li>
          </ul>
      
          sell when:
          <br/>
          <ul>
            <li>
              ROI > 520% - 2% * trading_days_held
            </li>
          </ul>
        </div>
      </p>
      <br/>
      <ul style="padding-left: 20px;">
        <li>prices may be adjusted to reflect splits/reverse-splits</li>
        <li>drop occurs on one day, buy the next morning</li>
        <li>prior 5 days is including the day of the drop</li>
        <li><span id='future'>blue</span> figures are taken from the latest
            closing prices, since the threshold to sell has not yet been reached</li>
      </ul>
    </div>
    <br/>
    <center><h2>1 JAN 2005 - 31 DEC 2005</h2></center>
    <p>SPY ROI for 1 JAN 2005 - 31 DEC 2005: <span id='future'>-1.092%</span></p>
    <p>mean ROI for trades shown: <span id='future'>116.428%</span></p>
    <p>mean ROI if you were to also sell everything you're still holding: <span id='future'>116.428%</span></p>
    <table>
      <tr>
        <th><b>Symbol</b></th>
        <th><b>10-Day Trade Volume</b></th>
        <th><b>Buy Date</b></th>
        <th><b>Buy Price</b></th>
        <th><b>Days Held</b></th>
        <th><b>ROI Threshold</b></th>
        <th><b>Sell Date</b></th>
        <th><b>Sell Price</b></th>
        <th><b>Sell ROI</b></th>
        <th><b>SPY ROI</b></th>
      </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EGHT'>EGHT</a></td>
          
            <td>13795880</td>
          
            <td>2005-12-14</td>
          
            <td>$2.190</td>
          
            <td>1203</td>
          
            <td>0.000%</td>
          
            <td>2010-09-27</td>
          
            <td>$2.200</td>
          
            <td>0.457%</td>
          
            <td>-22.016%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EGHT'>EGHT</a></td>
          
            <td>11395160</td>
          
            <td>2005-12-13</td>
          
            <td>$2.460</td>
          
            <td>1222</td>
          
            <td>0.000%</td>
          
            <td>2010-10-21</td>
          
            <td>$2.490</td>
          
            <td>1.220%</td>
          
            <td>-19.382%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/UVE'>UVE</a></td>
          
            <td>53060</td>
          
            <td>2005-11-29</td>
          
            <td>$0.500</td>
          
            <td>149</td>
          
            <td>222.000%</td>
          
            <td>2006-07-05</td>
          
            <td>$1.720</td>
          
            <td>244.000%</td>
          
            <td>-1.092%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/UVE'>UVE</a></td>
          
            <td>178780</td>
          
            <td>2005-11-22</td>
          
            <td>$0.500</td>
          
            <td>152</td>
          
            <td>216.000%</td>
          
            <td>2006-07-03</td>
          
            <td>$1.610</td>
          
            <td>222.000%</td>
          
            <td>-1.092%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/TARO'>TARO</a></td>
          
            <td>3911960</td>
          
            <td>2005-11-18</td>
          
            <td>$14.800</td>
          
            <td>1370</td>
          
            <td>0.000%</td>
          
            <td>2011-05-02</td>
          
            <td>$14.950</td>
          
            <td>1.014%</td>
          
            <td>-7.036%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SGU'>SGU</a></td>
          
            <td>518260</td>
          
            <td>2005-11-10</td>
          
            <td>$1.240</td>
          
            <td>218</td>
          
            <td>84.000%</td>
          
            <td>2006-09-25</td>
          
            <td>$2.290</td>
          
            <td>84.677%</td>
          
            <td>-1.092%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SGU'>SGU</a></td>
          
            <td>585420</td>
          
            <td>2005-11-09</td>
          
            <td>$1.400</td>
          
            <td>223</td>
          
            <td>74.000%</td>
          
            <td>2006-09-29</td>
          
            <td>$2.490</td>
          
            <td>77.857%</td>
          
            <td>-1.092%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/UIS'>UIS</a></td>
          
            <td>8596400</td>
          
            <td>2005-10-25</td>
          
            <td>$4.900</td>
          
            <td>247</td>
          
            <td>26.000%</td>
          
            <td>2006-10-18</td>
          
            <td>$6.220</td>
          
            <td>26.939%</td>
          
            <td>-1.092%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EGY'>EGY</a></td>
          
            <td>491440</td>
          
            <td>2005-10-21</td>
          
            <td>$3.060</td>
          
            <td>170</td>
          
            <td>180.000%</td>
          
            <td>2006-06-27</td>
          
            <td>$8.720</td>
          
            <td>184.967%</td>
          
            <td>-1.092%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/XPO'>XPO</a></td>
          
            <td>345040</td>
          
            <td>2005-10-07</td>
          
            <td>$0.680</td>
          
            <td>223</td>
          
            <td>74.000%</td>
          
            <td>2006-08-28</td>
          
            <td>$1.190</td>
          
            <td>75.000%</td>
          
            <td>-1.092%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/TPX'>TPX</a></td>
          
            <td>8107860</td>
          
            <td>2005-09-21</td>
          
            <td>$11.720</td>
          
            <td>240</td>
          
            <td>40.000%</td>
          
            <td>2006-09-05</td>
          
            <td>$16.440</td>
          
            <td>40.273%</td>
          
            <td>-1.092%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EGY'>EGY</a></td>
          
            <td>1044040</td>
          
            <td>2005-09-13</td>
          
            <td>$3.650</td>
          
            <td>196</td>
          
            <td>128.000%</td>
          
            <td>2006-06-23</td>
          
            <td>$8.500</td>
          
            <td>132.877%</td>
          
            <td>-1.092%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/MUX'>MUX</a></td>
          
            <td>244300</td>
          
            <td>2005-08-25</td>
          
            <td>$1.570</td>
          
            <td>131</td>
          
            <td>258.000%</td>
          
            <td>2006-03-06</td>
          
            <td>$6.240</td>
          
            <td>297.452%</td>
          
            <td>-1.092%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/MUX'>MUX</a></td>
          
            <td>229000</td>
          
            <td>2005-08-24</td>
          
            <td>$1.750</td>
          
            <td>132</td>
          
            <td>256.000%</td>
          
            <td>2006-03-06</td>
          
            <td>$6.240</td>
          
            <td>256.571%</td>
          
            <td>-1.092%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/PBH'>PBH</a></td>
          
            <td>3734640</td>
          
            <td>2005-08-01</td>
          
            <td>$11.240</td>
          
            <td>284</td>
          
            <td>0.000%</td>
          
            <td>2006-09-15</td>
          
            <td>$11.370</td>
          
            <td>1.157%</td>
          
            <td>-1.092%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/PBH'>PBH</a></td>
          
            <td>3517520</td>
          
            <td>2005-07-29</td>
          
            <td>$11.900</td>
          
            <td>304</td>
          
            <td>0.000%</td>
          
            <td>2006-10-12</td>
          
            <td>$12.210</td>
          
            <td>2.605%</td>
          
            <td>-1.092%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/TPX'>TPX</a></td>
          
            <td>6352900</td>
          
            <td>2005-07-25</td>
          
            <td>$18.120</td>
          
            <td>287</td>
          
            <td>0.000%</td>
          
            <td>2006-09-13</td>
          
            <td>$18.120</td>
          
            <td>0.000%</td>
          
            <td>-1.092%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EGHT'>EGHT</a></td>
          
            <td>2191800</td>
          
            <td>2005-05-26</td>
          
            <td>$1.950</td>
          
            <td>1341</td>
          
            <td>0.000%</td>
          
            <td>2010-09-23</td>
          
            <td>$1.960</td>
          
            <td>0.513%</td>
          
            <td>-23.224%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/UVE'>UVE</a></td>
          
            <td>26920</td>
          
            <td>2005-05-24</td>
          
            <td>$0.050</td>
          
            <td>123</td>
          
            <td>274.000%</td>
          
            <td>2005-11-16</td>
          
            <td>$0.500</td>
          
            <td>900.000%</td>
          
            <td>-1.092%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/XPO'>XPO</a></td>
          
            <td>273600</td>
          
            <td>2005-05-16</td>
          
            <td>$0.520</td>
          
            <td>218</td>
          
            <td>84.000%</td>
          
            <td>2006-03-28</td>
          
            <td>$0.970</td>
          
            <td>86.538%</td>
          
            <td>-1.092%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/VHC'>VHC</a></td>
          
            <td>16060</td>
          
            <td>2005-05-04</td>
          
            <td>$0.110</td>
          
            <td>224</td>
          
            <td>72.000%</td>
          
            <td>2006-03-24</td>
          
            <td>$0.200</td>
          
            <td>81.818%</td>
          
            <td>-1.092%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/MUX'>MUX</a></td>
          
            <td>68180</td>
          
            <td>2005-04-22</td>
          
            <td>$0.430</td>
          
            <td>77</td>
          
            <td>366.000%</td>
          
            <td>2005-08-11</td>
          
            <td>$2.150</td>
          
            <td>400.000%</td>
          
            <td>-1.092%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/DRD'>DRD</a></td>
          
            <td>2764200</td>
          
            <td>2005-04-15</td>
          
            <td>$0.690</td>
          
            <td>182</td>
          
            <td>156.000%</td>
          
            <td>2006-01-04</td>
          
            <td>$1.790</td>
          
            <td>159.420%</td>
          
            <td>-1.092%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/NCR'>NCR</a></td>
          
            <td>7962300</td>
          
            <td>2005-03-30</td>
          
            <td>$31.930</td>
          
            <td>249</td>
          
            <td>22.000%</td>
          
            <td>2006-03-24</td>
          
            <td>$39.120</td>
          
            <td>22.518%</td>
          
            <td>-1.092%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/ESTE'>ESTE</a></td>
          
            <td>850840</td>
          
            <td>2005-03-14</td>
          
            <td>$2.000</td>
          
            <td>254</td>
          
            <td>12.000%</td>
          
            <td>2006-03-16</td>
          
            <td>$2.310</td>
          
            <td>15.500%</td>
          
            <td>-1.092%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/ESTE'>ESTE</a></td>
          
            <td>898860</td>
          
            <td>2005-03-11</td>
          
            <td>$2.050</td>
          
            <td>255</td>
          
            <td>10.000%</td>
          
            <td>2006-03-16</td>
          
            <td>$2.310</td>
          
            <td>12.683%</td>
          
            <td>-1.092%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/UVE'>UVE</a></td>
          
            <td>3700</td>
          
            <td>2005-03-07</td>
          
            <td>$0.040</td>
          
            <td>177</td>
          
            <td>166.000%</td>
          
            <td>2005-11-15</td>
          
            <td>$0.150</td>
          
            <td>275.000%</td>
          
            <td>-1.092%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/DRD'>DRD</a></td>
          
            <td>13063600</td>
          
            <td>2005-02-28</td>
          
            <td>$0.960</td>
          
            <td>217</td>
          
            <td>86.000%</td>
          
            <td>2006-01-06</td>
          
            <td>$1.810</td>
          
            <td>88.542%</td>
          
            <td>-1.092%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CIEN'>CIEN</a></td>
          
            <td>26993400</td>
          
            <td>2005-02-25</td>
          
            <td>$2.140</td>
          
            <td>229</td>
          
            <td>62.000%</td>
          
            <td>2006-01-24</td>
          
            <td>$3.690</td>
          
            <td>72.430%</td>
          
            <td>-1.092%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/DRD'>DRD</a></td>
          
            <td>12040000</td>
          
            <td>2005-02-25</td>
          
            <td>$1.080</td>
          
            <td>223</td>
          
            <td>74.000%</td>
          
            <td>2006-01-13</td>
          
            <td>$1.890</td>
          
            <td>75.000%</td>
          
            <td>-1.092%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SGU'>SGU</a></td>
          
            <td>2450520</td>
          
            <td>2005-02-14</td>
          
            <td>$3.510</td>
          
            <td>470</td>
          
            <td>0.000%</td>
          
            <td>2006-12-26</td>
          
            <td>$3.550</td>
          
            <td>1.140%</td>
          
            <td>-1.092%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SGU'>SGU</a></td>
          
            <td>2048920</td>
          
            <td>2005-02-11</td>
          
            <td>$3.800</td>
          
            <td>472</td>
          
            <td>0.000%</td>
          
            <td>2006-12-27</td>
          
            <td>$3.840</td>
          
            <td>1.053%</td>
          
            <td>-1.092%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SGU'>SGU</a></td>
          
            <td>1754900</td>
          
            <td>2005-02-10</td>
          
            <td>$4.450</td>
          
            <td>564</td>
          
            <td>0.000%</td>
          
            <td>2007-05-10</td>
          
            <td>$4.490</td>
          
            <td>0.899%</td>
          
            <td>-1.092%</td>
          
        </tr>
      
    </table>
  </body>
</html>
