<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>stonk ideas</title>
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen">
  </head>
  <body>
    <p id='intro'>
      <b><a href="/">aribrown.com</a></b> |
      generated (<b><span id='future'>
          2021-04-26
      </b></future>)
      by a program
    </p>
    <hr/>
    <br/>
    <div style='display: inline-block;'>
      <table>
  <tr>
    <th>Year</th>
    <th># of Buys</th>
    <th>Med. Hold</th>
    <th>S&P 500</th>
    <th>Mean ROI</th>
    <th>Median</th>
    <th>STDDEV</th>
    <th>Sharpe</th>
  </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2021.html">2021</a>
      </td>
      <td>69</td>
      <td>(unsold)</td>
      <td>10.276%</td>
      <td>-90.873%</td>
      <td>-100%</td>
      <td>75.817%</td>
      <td>-1.199</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2020.html">2020</a>
      </td>
      <td>348</td>
      <td>197</td>
      <td>15.086%</td>
      <td>123.274%</td>
      <td>136.923%</td>
      <td>174.492%</td>
      <td>0.706</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2019.html">2019</a>
      </td>
      <td>53</td>
      <td>247</td>
      <td>28.785%</td>
      <td>79.495%</td>
      <td>33.156%</td>
      <td>169.753%</td>
      <td>0.468</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2018.html">2018</a>
      </td>
      <td>30</td>
      <td>350</td>
      <td>-7.013%</td>
      <td>20.217%</td>
      <td>7.446%</td>
      <td>95.144%</td>
      <td>0.212</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2017.html">2017</a>
      </td>
      <td>32</td>
      <td>304</td>
      <td>19.326%</td>
      <td>207.064%</td>
      <td>6.502%</td>
      <td>618.783%</td>
      <td>0.335</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2016.html">2016</a>
      </td>
      <td>50</td>
      <td>211</td>
      <td>9.643%</td>
      <td>167.163%</td>
      <td>121.088%</td>
      <td>255.225%</td>
      <td>0.655</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2015.html">2015</a>
      </td>
      <td>40</td>
      <td>225</td>
      <td>-0.759%</td>
      <td>216.515%</td>
      <td>80.867%</td>
      <td>272.092%</td>
      <td>0.796</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2014.html">2014</a>
      </td>
      <td>24</td>
      <td>260</td>
      <td>12.366%</td>
      <td>47.703%</td>
      <td>18.585%</td>
      <td>88.281%</td>
      <td>0.54</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2013.html">2013</a>
      </td>
      <td>9</td>
      <td>279</td>
      <td>29.689%</td>
      <td>41.125%</td>
      <td>11.765%</td>
      <td>62.839%</td>
      <td>0.654</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2012.html">2012</a>
      </td>
      <td>23</td>
      <td>223</td>
      <td>11.694%</td>
      <td>94.904%</td>
      <td>74.043%</td>
      <td>81.324%</td>
      <td>1.167</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2011.html">2011</a>
      </td>
      <td>18</td>
      <td>260</td>
      <td>-0.199%</td>
      <td>26.39%</td>
      <td>15.335%</td>
      <td>52.428%</td>
      <td>0.503</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2010.html">2010</a>
      </td>
      <td>9</td>
      <td>241</td>
      <td>12.841%</td>
      <td>116.993%</td>
      <td>44.486%</td>
      <td>122.933%</td>
      <td>0.952</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2009.html">2009</a>
      </td>
      <td>245</td>
      <td>140</td>
      <td>19.88%</td>
      <td>268.279%</td>
      <td>261.333%</td>
      <td>263.722%</td>
      <td>1.017</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2008.html">2008</a>
      </td>
      <td>351</td>
      <td>217</td>
      <td>-37.735%</td>
      <td>153.032%</td>
      <td>101.984%</td>
      <td>311.537%</td>
      <td>0.491</td>
    </tr>
  
</table>


    </div>
    <div style='display: inline-block; max-width: 40%; vertical-align: top; padding-left: 20px;'>
      <br/>
      <br/>
      <p>
        a full explanation is available <b><a href="/files/stocks.html">here</a></b>
      </p>
      <br/>
      <p>
        <div id='reasons'>
          buy when:
          <br/>
          <ul>
            <li>20% price drop in 2 days (open to close)</li>
            <li>
              stock is in the top 61 of the market movement potential
              (explained <b><a href="/files/stocks.html#1:4">here</a></b>)
            </li>
          </ul>
      
          sell when:
          <br/>
          <ul>
            <li>
              ROI > 520% - 2% * trading_days_held
            </li>
          </ul>
        </div>
      </p>
      <br/>
      <ul style="padding-left: 20px;">
        <li>prices may be adjusted to reflect splits/reverse-splits</li>
        <li>drop occurs on one day, buy the next morning</li>
        <li>prior 5 days is including the day of the drop</li>
        <li><span id='future'>blue</span> figures are taken from the latest
            closing prices, since the threshold to sell has not yet been reached</li>
      </ul>
    </div>
    <br/>
    <center><h2>1 JAN 2017 - 31 DEC 2017</h2></center>
    <p>SPY ROI for 1 JAN 2017 - 31 DEC 2017: <span id='future'>19.326%</span></p>
    <p>mean ROI for trades shown: <span id='future'>100.978%</span></p>
    <p>mean ROI if you were to also sell everything you're still holding: <span id='future'>104.883%</span></p>
    <table>
      <tr>
        <th><b>Symbol</b></th>
        <th><b>10-Day Trade Volume</b></th>
        <th><b>Buy Date</b></th>
        <th><b>Buy Price</b></th>
        <th><b>Days Held</b></th>
        <th><b>ROI Threshold</b></th>
        <th><b>Sell Date</b></th>
        <th><b>Sell Price</b></th>
        <th><b>Sell ROI</b></th>
        <th><b>SPY ROI</b></th>
      </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BUR'>BUR</a></td>
          
            <td>2336657</td>
          
            <td>2017-12-12</td>
          
            <td>$0.530</td>
          
            <td>93</td>
          
            <td>334.000%</td>
          
            <td>2020-10-20</td>
          
            <td>$10.350</td>
          
            <td>1852.830%</td>
          
            <td>28.713%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/QD'>QD</a></td>
          
            <td>8109426</td>
          
            <td>2017-12-07</td>
          
            <td>$11.500</td>
          
            <td><span id='future'>849</span></td>
          
            <td><span id='future'>0.000%</span></td>
          
            <td><span id='future'>-</span></td>
          
            <td><span id='future'>$2.070</span></td>
          
            <td><span id='future'>-82.000%</span></td>
          
            <td>58.155%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/QD'>QD</a></td>
          
            <td>5818040</td>
          
            <td>2017-11-20</td>
          
            <td>$21.160</td>
          
            <td><span id='future'>861</span></td>
          
            <td><span id='future'>0.000%</span></td>
          
            <td><span id='future'>-</span></td>
          
            <td><span id='future'>$2.070</span></td>
          
            <td><span id='future'>-90.217%</span></td>
          
            <td>61.688%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CIG'>CIG</a></td>
          
            <td>4351630</td>
          
            <td>2017-11-15</td>
          
            <td>$1.950</td>
          
            <td>237</td>
          
            <td>46.000%</td>
          
            <td>2018-10-25</td>
          
            <td>$2.990</td>
          
            <td>53.333%</td>
          
            <td>5.319%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EGO'>EGO</a></td>
          
            <td>14798512</td>
          
            <td>2017-10-30</td>
          
            <td>$6.352</td>
          
            <td>423</td>
          
            <td>0.000%</td>
          
            <td>2019-07-09</td>
          
            <td>$6.550</td>
          
            <td>3.119%</td>
          
            <td>15.751%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/QD'>QD</a></td>
          
            <td>9042482</td>
          
            <td>2017-10-27</td>
          
            <td>$23.900</td>
          
            <td><span id='future'>877</span></td>
          
            <td><span id='future'>0.000%</span></td>
          
            <td><span id='future'>-</span></td>
          
            <td><span id='future'>$2.070</span></td>
          
            <td><span id='future'>-91.339%</span></td>
          
            <td>62.058%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EGO'>EGO</a></td>
          
            <td>17389078</td>
          
            <td>2017-10-25</td>
          
            <td>$7.164</td>
          
            <td>431</td>
          
            <td>0.000%</td>
          
            <td>2019-07-16</td>
          
            <td>$7.220</td>
          
            <td>0.785%</td>
          
            <td>17.427%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/UA'>UA</a></td>
          
            <td>3709735</td>
          
            <td>2017-10-02</td>
          
            <td>$15.070</td>
          
            <td>248</td>
          
            <td>24.000%</td>
          
            <td>2018-09-26</td>
          
            <td>$19.270</td>
          
            <td>27.870%</td>
          
            <td>14.886%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/UAA'>UAA</a></td>
          
            <td>4544483</td>
          
            <td>2017-08-22</td>
          
            <td>$16.700</td>
          
            <td>246</td>
          
            <td>28.000%</td>
          
            <td>2018-08-14</td>
          
            <td>$21.520</td>
          
            <td>28.862%</td>
          
            <td>15.670%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/TEVA'>TEVA</a></td>
          
            <td>69099124</td>
          
            <td>2017-08-08</td>
          
            <td>$19.140</td>
          
            <td>251</td>
          
            <td>18.000%</td>
          
            <td>2018-08-07</td>
          
            <td>$23.270</td>
          
            <td>21.578%</td>
          
            <td>15.498%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EXK'>EXK</a></td>
          
            <td>2617427</td>
          
            <td>2017-08-04</td>
          
            <td>$2.470</td>
          
            <td>299</td>
          
            <td>0.000%</td>
          
            <td>2018-10-11</td>
          
            <td>$2.480</td>
          
            <td>0.405%</td>
          
            <td>10.008%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SNAP'>SNAP</a></td>
          
            <td>14086045</td>
          
            <td>2017-07-25</td>
          
            <td>$14.060</td>
          
            <td>474</td>
          
            <td>0.000%</td>
          
            <td>2019-06-13</td>
          
            <td>$14.110</td>
          
            <td>0.356%</td>
          
            <td>17.040%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/RAD'>RAD</a></td>
          
            <td>65624923</td>
          
            <td>2017-07-07</td>
          
            <td>$44.270</td>
          
            <td><span id='future'>956</span></td>
          
            <td><span id='future'>0.000%</span></td>
          
            <td><span id='future'>-</span></td>
          
            <td><span id='future'>$18.440</span></td>
          
            <td><span id='future'>-58.346%</span></td>
          
            <td>72.500%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SNAP'>SNAP</a></td>
          
            <td>15890856</td>
          
            <td>2017-06-16</td>
          
            <td>$17.140</td>
          
            <td>528</td>
          
            <td>0.000%</td>
          
            <td>2019-07-24</td>
          
            <td>$17.610</td>
          
            <td>2.742%</td>
          
            <td>24.233%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/X'>X</a></td>
          
            <td>15639449</td>
          
            <td>2017-05-18</td>
          
            <td>$19.040</td>
          
            <td>194</td>
          
            <td>132.000%</td>
          
            <td>2018-02-26</td>
          
            <td>$44.370</td>
          
            <td>133.036%</td>
          
            <td>17.371%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SRC'>SRC</a></td>
          
            <td>32894724</td>
          
            <td>2017-05-05</td>
          
            <td>$30.110</td>
          
            <td>250</td>
          
            <td>20.000%</td>
          
            <td>2018-05-03</td>
          
            <td>$37.334</td>
          
            <td>23.994%</td>
          
            <td>9.562%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CVNA'>CVNA</a></td>
          
            <td>3754349</td>
          
            <td>2017-05-04</td>
          
            <td>$8.590</td>
          
            <td>196</td>
          
            <td>128.000%</td>
          
            <td>2018-02-13</td>
          
            <td>$20.460</td>
          
            <td>138.184%</td>
          
            <td>11.409%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/VNCE'>VNCE</a></td>
          
            <td>3818193</td>
          
            <td>2017-05-03</td>
          
            <td>$3.782</td>
          
            <td>200</td>
          
            <td>120.000%</td>
          
            <td>2018-02-16</td>
          
            <td>$8.380</td>
          
            <td>121.563%</td>
          
            <td>14.521%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EXK'>EXK</a></td>
          
            <td>4360200</td>
          
            <td>2017-03-03</td>
          
            <td>$3.330</td>
          
            <td>851</td>
          
            <td>0.000%</td>
          
            <td>2020-07-21</td>
          
            <td>$3.680</td>
          
            <td>10.511%</td>
          
            <td>36.318%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/AENZ'>AENZ</a></td>
          
            <td>1839175</td>
          
            <td>2017-02-28</td>
          
            <td>$2.500</td>
          
            <td>260</td>
          
            <td>0.000%</td>
          
            <td>2018-03-12</td>
          
            <td>$2.510</td>
          
            <td>0.400%</td>
          
            <td>17.782%</td>
          
        </tr>
      
    </table>
  </body>
</html>
