<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>stonk ideas</title>
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen">
  </head>
  <body>
    <p id='intro'>
      <b><a href="/">aribrown.com</a></b> |
      generated (<b><span id='future'>
          2021-07-08
      </b></future>)
      by a program
    </p>
    <hr/>
    <br/>
    <div style='display: inline-block;'>
      <table>
  <tr>
    <th>Year</th>
    <th># of Buys</th>
    <th># Unsold</th>
    <th># Delist.</th>
    <th>Med. Hold</th>
    <th>S&P 500</th>
    <th>Mean ROI</th>
    <th>Median</th>
    <th>STDDEV</th>
    <th>Sharpe</th>
  </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2021.html">2021</a>
      </td>
      <td>81</td>
      <td>72</td>
      <td>7</td>
      <td>(unsold)</td>
      <td>16.851%</td>
      <td>-29.153%</td>
      <td>-100%</td>
      <td>204.881%</td>
      <td>-0.142</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2020.html">2020</a>
      </td>
      <td>340</td>
      <td>67</td>
      <td>14</td>
      <td>197</td>
      <td>15.559%</td>
      <td>130.633%</td>
      <td>136.833%</td>
      <td>167.948%</td>
      <td>0.778</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2019.html">2019</a>
      </td>
      <td>68</td>
      <td>23</td>
      <td>19</td>
      <td>262</td>
      <td>30.848%</td>
      <td>33.95%</td>
      <td>5.263%</td>
      <td>170.591%</td>
      <td>0.199</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2018.html">2018</a>
      </td>
      <td>59</td>
      <td>39</td>
      <td>34</td>
      <td>(unsold)</td>
      <td>-6.691%</td>
      <td>-48.078%</td>
      <td>-100%</td>
      <td>86.945%</td>
      <td>-0.553</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2017.html">2017</a>
      </td>
      <td>35</td>
      <td>10</td>
      <td>6</td>
      <td>336</td>
      <td>18.747%</td>
      <td>-3.951%</td>
      <td>3.633%</td>
      <td>72.637%</td>
      <td>-0.054</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2016.html">2016</a>
      </td>
      <td>46</td>
      <td>5</td>
      <td>4</td>
      <td>211</td>
      <td>8.97%</td>
      <td>104.918%</td>
      <td>121.088%</td>
      <td>123.433%</td>
      <td>0.85</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2015.html">2015</a>
      </td>
      <td>41</td>
      <td>4</td>
      <td>4</td>
      <td>257</td>
      <td>-1.216%</td>
      <td>125.398%</td>
      <td>22.119%</td>
      <td>185.328%</td>
      <td>0.677</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2014.html">2014</a>
      </td>
      <td>26</td>
      <td>4</td>
      <td>2</td>
      <td>290</td>
      <td>11.664%</td>
      <td>28.326%</td>
      <td>5.528%</td>
      <td>86.716%</td>
      <td>0.327</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2013.html">2013</a>
      </td>
      <td>14</td>
      <td>6</td>
      <td>6</td>
      <td>1844</td>
      <td>27.276%</td>
      <td>-16.44%</td>
      <td>7.294%</td>
      <td>89.023%</td>
      <td>-0.185</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2012.html">2012</a>
      </td>
      <td>29</td>
      <td>6</td>
      <td>6</td>
      <td>232</td>
      <td>11.467%</td>
      <td>55.28%</td>
      <td>56.028%</td>
      <td>107.682%</td>
      <td>0.513</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2011.html">2011</a>
      </td>
      <td>22</td>
      <td>1</td>
      <td>0</td>
      <td>260</td>
      <td>-0.024%</td>
      <td>31.464%</td>
      <td>15.335%</td>
      <td>53.519%</td>
      <td>0.588</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2010.html">2010</a>
      </td>
      <td>7</td>
      <td>0</td>
      <td>0</td>
      <td>206</td>
      <td>11.51%</td>
      <td>139.685%</td>
      <td>109.463%</td>
      <td>132.083%</td>
      <td>1.058</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2009.html">2009</a>
      </td>
      <td>244</td>
      <td>0</td>
      <td>0</td>
      <td>143</td>
      <td>23.22%</td>
      <td>264.706%</td>
      <td>254.639%</td>
      <td>264.429%</td>
      <td>1.001</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2008.html">2008</a>
      </td>
      <td>374</td>
      <td>2</td>
      <td>0</td>
      <td>218</td>
      <td>-38.654%</td>
      <td>153.0%</td>
      <td>98.83%</td>
      <td>304.772%</td>
      <td>0.502</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2007.html">2007</a>
      </td>
      <td>17</td>
      <td>1</td>
      <td>0</td>
      <td>258</td>
      <td>2.784%</td>
      <td>192.784%</td>
      <td>46.341%</td>
      <td>381.169%</td>
      <td>0.506</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2006.html">2006</a>
      </td>
      <td>18</td>
      <td>0</td>
      <td>0</td>
      <td>242</td>
      <td>13.124%</td>
      <td>91.717%</td>
      <td>57.279%</td>
      <td>112.141%</td>
      <td>0.818</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2005.html">2005</a>
      </td>
      <td>33</td>
      <td>0</td>
      <td>0</td>
      <td>224</td>
      <td>2.646%</td>
      <td>116.428%</td>
      <td>75.0%</td>
      <td>176.221%</td>
      <td>0.661</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2004.html">2004</a>
      </td>
      <td>22</td>
      <td>0</td>
      <td>0</td>
      <td>256</td>
      <td>8.676%</td>
      <td>18.69%</td>
      <td>15.489%</td>
      <td>21.107%</td>
      <td>0.885</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2003.html">2003</a>
      </td>
      <td>44</td>
      <td>0</td>
      <td>0</td>
      <td>241</td>
      <td>26.469%</td>
      <td>100.621%</td>
      <td>42.857%</td>
      <td>135.529%</td>
      <td>0.742</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2002.html">2002</a>
      </td>
      <td>151</td>
      <td>0</td>
      <td>0</td>
      <td>217</td>
      <td>-24.038%</td>
      <td>139.242%</td>
      <td>100.889%</td>
      <td>123.274%</td>
      <td>1.13</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2001.html">2001</a>
      </td>
      <td>90</td>
      <td>0</td>
      <td>0</td>
      <td>254</td>
      <td>-13.409%</td>
      <td>76.581%</td>
      <td>25.0%</td>
      <td>122.367%</td>
      <td>0.626</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2000.html">2000</a>
      </td>
      <td>172</td>
      <td>11</td>
      <td>0</td>
      <td>254</td>
      <td>-12.279%</td>
      <td>58.568%</td>
      <td>23.569%</td>
      <td>99.159%</td>
      <td>0.591</td>
    </tr>
  
</table>


    </div>
    <div style='display: inline-block; max-width: 28%; vertical-align: top; padding-left: 20px;'>
      <br/>
      <br/>
      <p>
        a full explanation is available <b><a href="/files/stocks.html">here</a></b>
      </p>
      <br/>
      <p>
        <div id='reasons'>
          buy when:
          <br/>
          <ul>
            <li>20% price drop in 2 days (open to close)</li>
            <li>
              stock is in the top 61 of the market movement potential
              (explained <b><a href="/files/stocks.html#1:4">here</a></b>)
            </li>
          </ul>
      
          sell when:
          <br/>
          <ul>
            <li>
              ROI > 520% - 2% * trading_days_held
            </li>
          </ul>
        </div>
      </p>
      <br/>
      <ul style="padding-left: 20px;">
        <li>prices may be adjusted to reflect splits/reverse-splits</li>
        <li>drop occurs on one day, buy the next morning</li>
        <li><span id='future'>blue</span> figures are taken from the latest
            closing prices, since the threshold to sell has not yet been reached</li>
        <li><span id='delisted'>red</span> figures are taken from the last
            closing prices available, since it has since been delisted</li>
      </ul>
    </div>
    <br/>
    <center><h2>1 JAN 2016 - 31 DEC 2016</h2></center>
    <p>SPY ROI for 1 JAN 2016 - 31 DEC 2016: <span id=future>8.970%</span></p>
    <p>mean ROI for trades shown: <span id=future>104.918%</span></p>
    <p>mean ROI if you were to also sell everything you're still holding: <span id=future>105.887%</span></p>
    <table>
      <tr>
        <th><b>Symbol</b></th>
        <th><b>10-Day Trade Volume</b></th>
        <th><b>Buy Date</b></th>
        <th><b>Buy Price</b></th>
        <th><b>Days Held</b></th>
        <th><b>ROI Threshold</b></th>
        <th><b>Sell Date</b></th>
        <th><b>Sell Price</b></th>
        <th><b>Sell ROI</b></th>
        <th><b>SPY ROI</b></th>
      </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/DSX'>DSX</a></td>
          
            <td>3407440</td>
          
            <td>2016-11-18</td>
          
            <td>$3.560</td>
          
            <td>255</td>
          
            <td>10.000%</td>
          
            <td>2017-11-24</td>
          
            <td>$3.980</td>
          
            <td>11.798%</td>
          
            <td>18.848%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EXK'>EXK</a></td>
          
            <td>3367760</td>
          
            <td>2016-11-14</td>
          
            <td>$3.700</td>
          
            <td>926</td>
          
            <td>0.000%</td>
          
            <td>2020-07-22</td>
          
            <td>$4.180</td>
          
            <td>12.973%</td>
          
            <td>50.606%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/HMY'>HMY</a></td>
          
            <td>7436239</td>
          
            <td>2016-11-14</td>
          
            <td>$2.510</td>
          
            <td>671</td>
          
            <td>0.000%</td>
          
            <td>2019-07-18</td>
          
            <td>$2.580</td>
          
            <td>2.789%</td>
          
            <td>37.691%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CYH'>CYH</a></td>
          
            <td>12450158</td>
          
            <td>2016-11-10</td>
          
            <td>$4.840</td>
          
            <td>293</td>
          
            <td>0.000%</td>
          
            <td>2018-01-11</td>
          
            <td>$4.970</td>
          
            <td>2.686%</td>
          
            <td>27.069%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BHC'>BHC</a></td>
          
            <td>36976951</td>
          
            <td>2016-11-09</td>
          
            <td>$15.470</td>
          
            <td>260</td>
          
            <td>0.000%</td>
          
            <td>2017-11-21</td>
          
            <td>$15.990</td>
          
            <td>3.361%</td>
          
            <td>22.423%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/FIT'>FIT</a></td>
          
            <td>21111054</td>
          
            <td>2016-11-04</td>
          
            <td>$8.510</td>
          
            <td><span id=delisted>1053</span></td>
          
            <td><span id=delisted>0.000%</span></td>
          
            <td><span id=delisted>-</span></td>
          
            <td><span id=delisted>$6.930</span></td>
          
            <td><span id=delisted>-100.000%</span></td>
          
            <td>81.796%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CYH'>CYH</a></td>
          
            <td>18625797</td>
          
            <td>2016-10-28</td>
          
            <td>$5.270</td>
          
            <td>308</td>
          
            <td>0.000%</td>
          
            <td>2018-01-22</td>
          
            <td>$5.900</td>
          
            <td>11.954%</td>
          
            <td>32.631%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EXPR'>EXPR</a></td>
          
            <td>8827272</td>
          
            <td>2016-08-25</td>
          
            <td>$11.800</td>
          
            <td><span id=future>1223</span></td>
          
            <td><span id=future>0.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$5.258</span></td>
          
            <td><span id=future>-55.439%</span></td>
          
            <td>99.830%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CXW'>CXW</a></td>
          
            <td>14946371</td>
          
            <td>2016-08-22</td>
          
            <td>$19.420</td>
          
            <td>240</td>
          
            <td>40.000%</td>
          
            <td>2017-08-04</td>
          
            <td>$27.200</td>
          
            <td>40.062%</td>
          
            <td>13.356%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CC'>CC</a></td>
          
            <td>8163161</td>
          
            <td>2016-07-07</td>
          
            <td>$6.020</td>
          
            <td>104</td>
          
            <td>312.000%</td>
          
            <td>2016-12-02</td>
          
            <td>$25.030</td>
          
            <td>315.781%</td>
          
            <td>4.674%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/NWG'>NWG</a></td>
          
            <td>11816704</td>
          
            <td>2016-06-27</td>
          
            <td>$4.750</td>
          
            <td>243</td>
          
            <td>34.000%</td>
          
            <td>2017-06-14</td>
          
            <td>$6.440</td>
          
            <td>35.579%</td>
          
            <td>21.157%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/LYG'>LYG</a></td>
          
            <td>17457227</td>
          
            <td>2016-06-27</td>
          
            <td>$2.830</td>
          
            <td>249</td>
          
            <td>22.000%</td>
          
            <td>2017-06-22</td>
          
            <td>$3.480</td>
          
            <td>22.968%</td>
          
            <td>20.462%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/LC'>LC</a></td>
          
            <td>53723844</td>
          
            <td>2016-05-11</td>
          
            <td>$20.334</td>
          
            <td>239</td>
          
            <td>42.000%</td>
          
            <td>2017-04-24</td>
          
            <td>$29.155</td>
          
            <td>43.382%</td>
          
            <td>14.073%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/LC'>LC</a></td>
          
            <td>44899254</td>
          
            <td>2016-05-10</td>
          
            <td>$22.526</td>
          
            <td>245</td>
          
            <td>30.000%</td>
          
            <td>2017-05-01</td>
          
            <td>$29.852</td>
          
            <td>32.522%</td>
          
            <td>15.461%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CRK'>CRK</a></td>
          
            <td>5058821</td>
          
            <td>2016-03-21</td>
          
            <td>$3.628</td>
          
            <td>178</td>
          
            <td>164.000%</td>
          
            <td>2016-12-01</td>
          
            <td>$10.320</td>
          
            <td>184.425%</td>
          
            <td>7.595%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BHC'>BHC</a></td>
          
            <td>52404778</td>
          
            <td>2016-03-17</td>
          
            <td>$33.620</td>
          
            <td>1252</td>
          
            <td>0.000%</td>
          
            <td>2021-03-09</td>
          
            <td>$33.930</td>
          
            <td>0.922%</td>
          
            <td>90.499%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BTU'>BTU</a></td>
          
            <td>8675446</td>
          
            <td>2016-03-17</td>
          
            <td>$2.530</td>
          
            <td><span id=future>1119</span></td>
          
            <td><span id=future>0.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$10.020</span></td>
          
            <td><span id=future>-100.000%</span></td>
          
            <td>113.752%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BHC'>BHC</a></td>
          
            <td>43362174</td>
          
            <td>2016-03-16</td>
          
            <td>$33.020</td>
          
            <td>1252</td>
          
            <td>0.000%</td>
          
            <td>2021-03-08</td>
          
            <td>$33.080</td>
          
            <td>0.182%</td>
          
            <td>89.345%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BTU'>BTU</a></td>
          
            <td>10327811</td>
          
            <td>2016-03-16</td>
          
            <td>$2.140</td>
          
            <td><span id=future>1120</span></td>
          
            <td><span id=future>0.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$10.020</span></td>
          
            <td><span id=future>-100.000%</span></td>
          
            <td>115.491%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/WTI'>WTI</a></td>
          
            <td>2708646</td>
          
            <td>2016-03-15</td>
          
            <td>$2.480</td>
          
            <td>253</td>
          
            <td>14.000%</td>
          
            <td>2017-03-16</td>
          
            <td>$2.870</td>
          
            <td>15.726%</td>
          
            <td>18.435%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BTU'>BTU</a></td>
          
            <td>11161481</td>
          
            <td>2016-03-15</td>
          
            <td>$4.305</td>
          
            <td><span id=future>1121</span></td>
          
            <td><span id=future>0.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$10.020</span></td>
          
            <td><span id=future>-100.000%</span></td>
          
            <td>115.748%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CLF'>CLF</a></td>
          
            <td>12835929</td>
          
            <td>2016-03-10</td>
          
            <td>$2.610</td>
          
            <td>171</td>
          
            <td>178.000%</td>
          
            <td>2016-11-10</td>
          
            <td>$7.400</td>
          
            <td>183.525%</td>
          
            <td>8.482%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CLF'>CLF</a></td>
          
            <td>12521638</td>
          
            <td>2016-03-09</td>
          
            <td>$2.900</td>
          
            <td>180</td>
          
            <td>160.000%</td>
          
            <td>2016-11-22</td>
          
            <td>$8.640</td>
          
            <td>197.931%</td>
          
            <td>10.644%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CRK'>CRK</a></td>
          
            <td>5836325</td>
          
            <td>2016-03-09</td>
          
            <td>$4.382</td>
          
            <td>188</td>
          
            <td>144.000%</td>
          
            <td>2016-12-05</td>
          
            <td>$11.200</td>
          
            <td>155.573%</td>
          
            <td>10.855%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/WTI'>WTI</a></td>
          
            <td>3310777</td>
          
            <td>2016-03-09</td>
          
            <td>$3.170</td>
          
            <td>391</td>
          
            <td>0.000%</td>
          
            <td>2017-09-26</td>
          
            <td>$3.200</td>
          
            <td>0.946%</td>
          
            <td>24.940%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/HNGR'>HNGR</a></td>
          
            <td>4582854</td>
          
            <td>2016-03-03</td>
          
            <td>$3.460</td>
          
            <td>187</td>
          
            <td>146.000%</td>
          
            <td>2016-11-28</td>
          
            <td>$8.850</td>
          
            <td>155.780%</td>
          
            <td>10.911%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/IPI'>IPI</a></td>
          
            <td>6945390</td>
          
            <td>2016-03-02</td>
          
            <td>$6.434</td>
          
            <td>194</td>
          
            <td>132.000%</td>
          
            <td>2016-12-06</td>
          
            <td>$16.972</td>
          
            <td>163.768%</td>
          
            <td>12.117%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SWN'>SWN</a></td>
          
            <td>20961353</td>
          
            <td>2016-02-22</td>
          
            <td>$7.300</td>
          
            <td>249</td>
          
            <td>22.000%</td>
          
            <td>2017-02-15</td>
          
            <td>$9.030</td>
          
            <td>23.699%</td>
          
            <td>21.174%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/OVV'>OVV</a></td>
          
            <td>18959150</td>
          
            <td>2016-02-22</td>
          
            <td>$15.444</td>
          
            <td>155</td>
          
            <td>210.000%</td>
          
            <td>2016-09-30</td>
          
            <td>$49.449</td>
          
            <td>220.183%</td>
          
            <td>11.570%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/ECA'>ECA</a></td>
          
            <td>18102208</td>
          
            <td>2016-02-22</td>
          
            <td>$3.270</td>
          
            <td>155</td>
          
            <td>210.000%</td>
          
            <td>2016-09-30</td>
          
            <td>$10.465</td>
          
            <td>220.031%</td>
          
            <td>11.570%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/GNW'>GNW</a></td>
          
            <td>17041955</td>
          
            <td>2016-02-10</td>
          
            <td>$1.670</td>
          
            <td>162</td>
          
            <td>196.000%</td>
          
            <td>2016-09-30</td>
          
            <td>$4.960</td>
          
            <td>197.006%</td>
          
            <td>16.035%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/WMB'>WMB</a></td>
          
            <td>25577831</td>
          
            <td>2016-02-09</td>
          
            <td>$11.260</td>
          
            <td>177</td>
          
            <td>166.000%</td>
          
            <td>2016-10-20</td>
          
            <td>$30.180</td>
          
            <td>168.028%</td>
          
            <td>16.645%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/ESI'>ESI</a></td>
          
            <td>6654594</td>
          
            <td>2016-02-09</td>
          
            <td>$5.710</td>
          
            <td>226</td>
          
            <td>68.000%</td>
          
            <td>2016-12-30</td>
          
            <td>$9.810</td>
          
            <td>71.804%</td>
          
            <td>21.908%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/MRO'>MRO</a></td>
          
            <td>31486921</td>
          
            <td>2016-01-26</td>
          
            <td>$8.360</td>
          
            <td>211</td>
          
            <td>98.000%</td>
          
            <td>2016-11-23</td>
          
            <td>$16.780</td>
          
            <td>100.718%</td>
          
            <td>17.132%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SB'>SB</a></td>
          
            <td>617775</td>
          
            <td>2016-01-21</td>
          
            <td>$0.336</td>
          
            <td>121</td>
          
            <td>278.000%</td>
          
            <td>2016-07-14</td>
          
            <td>$1.270</td>
          
            <td>278.201%</td>
          
            <td>16.063%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/GOL'>GOL</a></td>
          
            <td>1213816</td>
          
            <td>2016-01-20</td>
          
            <td>$0.726</td>
          
            <td>121</td>
          
            <td>278.000%</td>
          
            <td>2016-07-13</td>
          
            <td>$2.786</td>
          
            <td>283.773%</td>
          
            <td>16.154%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/GOL'>GOL</a></td>
          
            <td>784040</td>
          
            <td>2016-01-15</td>
          
            <td>$0.801</td>
          
            <td>125</td>
          
            <td>270.000%</td>
          
            <td>2016-07-15</td>
          
            <td>$3.149</td>
          
            <td>293.079%</td>
          
            <td>15.559%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/WMB'>WMB</a></td>
          
            <td>36117212</td>
          
            <td>2016-01-14</td>
          
            <td>$13.420</td>
          
            <td>200</td>
          
            <td>120.000%</td>
          
            <td>2016-10-28</td>
          
            <td>$29.670</td>
          
            <td>121.088%</td>
          
            <td>12.129%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SB'>SB</a></td>
          
            <td>717361</td>
          
            <td>2016-01-14</td>
          
            <td>$0.352</td>
          
            <td>141</td>
          
            <td>238.000%</td>
          
            <td>2016-08-05</td>
          
            <td>$1.280</td>
          
            <td>263.636%</td>
          
            <td>15.104%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CC'>CC</a></td>
          
            <td>4716577</td>
          
            <td>2016-01-14</td>
          
            <td>$3.300</td>
          
            <td>145</td>
          
            <td>230.000%</td>
          
            <td>2016-08-11</td>
          
            <td>$11.740</td>
          
            <td>255.758%</td>
          
            <td>15.352%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/FCX'>FCX</a></td>
          
            <td>86938243</td>
          
            <td>2016-01-13</td>
          
            <td>$4.180</td>
          
            <td>181</td>
          
            <td>158.000%</td>
          
            <td>2016-09-30</td>
          
            <td>$10.860</td>
          
            <td>159.809%</td>
          
            <td>11.237%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CLF'>CLF</a></td>
          
            <td>3352059</td>
          
            <td>2016-01-13</td>
          
            <td>$1.260</td>
          
            <td>101</td>
          
            <td>318.000%</td>
          
            <td>2016-06-08</td>
          
            <td>$5.410</td>
          
            <td>329.365%</td>
          
            <td>9.216%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SB'>SB</a></td>
          
            <td>934129</td>
          
            <td>2016-01-12</td>
          
            <td>$0.420</td>
          
            <td>144</td>
          
            <td>232.000%</td>
          
            <td>2016-08-08</td>
          
            <td>$1.400</td>
          
            <td>233.333%</td>
          
            <td>12.501%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/FCX'>FCX</a></td>
          
            <td>83086225</td>
          
            <td>2016-01-12</td>
          
            <td>$4.470</td>
          
            <td>196</td>
          
            <td>128.000%</td>
          
            <td>2016-10-20</td>
          
            <td>$10.210</td>
          
            <td>128.412%</td>
          
            <td>10.350%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SB'>SB</a></td>
          
            <td>908516</td>
          
            <td>2016-01-11</td>
          
            <td>$0.470</td>
          
            <td>165</td>
          
            <td>190.000%</td>
          
            <td>2016-09-06</td>
          
            <td>$1.490</td>
          
            <td>217.021%</td>
          
            <td>13.481%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SB'>SB</a></td>
          
            <td>727320</td>
          
            <td>2016-01-08</td>
          
            <td>$0.600</td>
          
            <td>178</td>
          
            <td>164.000%</td>
          
            <td>2016-09-22</td>
          
            <td>$1.600</td>
          
            <td>166.667%</td>
          
            <td>11.266%</td>
          
        </tr>
      
    </table>
  </body>
</html>
