<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>stonk ideas</title>
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen">
  </head>
  <body>
    <p id='intro'>
      <b><a href="/">aribrown.com</a></b> |
      generated (<b><span id='future'>
          2021-06-21
      </b></future>)
      by a program
    </p>
    <hr/>
    <br/>
    <div style='display: inline-block;'>
      <table>
  <tr>
    <th>Year</th>
    <th># of Buys</th>
    <th>Med. Hold</th>
    <th>S&P 500</th>
    <th>Mean ROI</th>
    <th>Median</th>
    <th>STDDEV</th>
    <th>Sharpe</th>
  </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2021.html">2021</a>
      </td>
      <td>79</td>
      <td>(unsold)</td>
      <td>12.563%</td>
      <td>-27.36%</td>
      <td>-100%</td>
      <td>207.173%</td>
      <td>-0.132</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2020.html">2020</a>
      </td>
      <td>348</td>
      <td>193</td>
      <td>16.162%</td>
      <td>133.145%</td>
      <td>142.289%</td>
      <td>166.941%</td>
      <td>0.798</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2019.html">2019</a>
      </td>
      <td>53</td>
      <td>247</td>
      <td>28.785%</td>
      <td>79.495%</td>
      <td>33.156%</td>
      <td>169.753%</td>
      <td>0.468</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2018.html">2018</a>
      </td>
      <td>31</td>
      <td>320</td>
      <td>-7.013%</td>
      <td>201.871%</td>
      <td>7.446%</td>
      <td>996.728%</td>
      <td>0.203</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2017.html">2017</a>
      </td>
      <td>32</td>
      <td>304</td>
      <td>19.384%</td>
      <td>207.064%</td>
      <td>6.502%</td>
      <td>618.783%</td>
      <td>0.335</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2016.html">2016</a>
      </td>
      <td>50</td>
      <td>211</td>
      <td>9.643%</td>
      <td>167.163%</td>
      <td>121.088%</td>
      <td>255.225%</td>
      <td>0.655</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2015.html">2015</a>
      </td>
      <td>40</td>
      <td>256</td>
      <td>-0.812%</td>
      <td>125.655%</td>
      <td>28.801%</td>
      <td>186.76%</td>
      <td>0.673</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2014.html">2014</a>
      </td>
      <td>24</td>
      <td>260</td>
      <td>11.289%</td>
      <td>47.703%</td>
      <td>18.585%</td>
      <td>88.281%</td>
      <td>0.54</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2013.html">2013</a>
      </td>
      <td>9</td>
      <td>279</td>
      <td>29.689%</td>
      <td>41.125%</td>
      <td>11.765%</td>
      <td>62.839%</td>
      <td>0.654</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2012.html">2012</a>
      </td>
      <td>23</td>
      <td>223</td>
      <td>13.474%</td>
      <td>94.904%</td>
      <td>74.043%</td>
      <td>81.324%</td>
      <td>1.167</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2011.html">2011</a>
      </td>
      <td>18</td>
      <td>260</td>
      <td>-0.199%</td>
      <td>26.39%</td>
      <td>15.335%</td>
      <td>52.428%</td>
      <td>0.503</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2010.html">2010</a>
      </td>
      <td>9</td>
      <td>241</td>
      <td>12.841%</td>
      <td>116.993%</td>
      <td>44.486%</td>
      <td>122.933%</td>
      <td>0.952</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2009.html">2009</a>
      </td>
      <td>245</td>
      <td>140</td>
      <td>23.493%</td>
      <td>268.279%</td>
      <td>261.333%</td>
      <td>263.722%</td>
      <td>1.017</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2008.html">2008</a>
      </td>
      <td>351</td>
      <td>217</td>
      <td>-37.735%</td>
      <td>153.032%</td>
      <td>101.984%</td>
      <td>311.537%</td>
      <td>0.491</td>
    </tr>
  
</table>


    </div>
    <div style='display: inline-block; max-width: 40%; vertical-align: top; padding-left: 20px;'>
      <br/>
      <br/>
      <p>
        a full explanation is available <b><a href="/files/stocks.html">here</a></b>
      </p>
      <br/>
      <p>
        <div id='reasons'>
          buy when:
          <br/>
          <ul>
            <li>20% price drop in 2 days (open to close)</li>
            <li>
              stock is in the top 61 of the market movement potential
              (explained <b><a href="/files/stocks.html#1:4">here</a></b>)
            </li>
          </ul>
      
          sell when:
          <br/>
          <ul>
            <li>
              ROI > 520% - 2% * trading_days_held
            </li>
          </ul>
        </div>
      </p>
      <br/>
      <ul style="padding-left: 20px;">
        <li>prices may be adjusted to reflect splits/reverse-splits</li>
        <li>drop occurs on one day, buy the next morning</li>
        <li>prior 5 days is including the day of the drop</li>
        <li><span id='future'>blue</span> figures are taken from the latest
            closing prices, since the threshold to sell has not yet been reached</li>
      </ul>
    </div>
    <br/>
    <center><h2>1 JAN 2012 - 31 DEC 2012</h2></center>
    <p>SPY ROI for 1 JAN 2012 - 31 DEC 2012: <span id='future'>13.006%</span></p>
    <p>mean ROI for trades shown: <span id='future'>94.904%</span></p>
    <p>mean ROI if you were to also sell everything you're still holding: <span id='future'>94.904%</span></p>
    <table>
      <tr>
        <th><b>Symbol</b></th>
        <th><b>10-Day Trade Volume</b></th>
        <th><b>Buy Date</b></th>
        <th><b>Buy Price</b></th>
        <th><b>Days Held</b></th>
        <th><b>ROI Threshold</b></th>
        <th><b>Sell Date</b></th>
        <th><b>Sell Price</b></th>
        <th><b>Sell ROI</b></th>
        <th><b>SPY ROI</b></th>
      </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/HLF'>HLF</a></td>
          
            <td>26435340</td>
          
            <td>2012-12-26</td>
          
            <td>$13.172</td>
          
            <td>180</td>
          
            <td>160.000%</td>
          
            <td>2013-09-13</td>
          
            <td>$34.341</td>
          
            <td>160.714%</td>
          
            <td>18.711%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BB'>BB</a></td>
          
            <td>58169900</td>
          
            <td>2012-12-24</td>
          
            <td>$10.720</td>
          
            <td>270</td>
          
            <td>0.000%</td>
          
            <td>2014-01-22</td>
          
            <td>$10.780</td>
          
            <td>0.560%</td>
          
            <td>29.351%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/HLF'>HLF</a></td>
          
            <td>24210680</td>
          
            <td>2012-12-24</td>
          
            <td>$13.880</td>
          
            <td>183</td>
          
            <td>154.000%</td>
          
            <td>2013-09-17</td>
          
            <td>$36.292</td>
          
            <td>161.470%</td>
          
            <td>20.066%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/HLF'>HLF</a></td>
          
            <td>21045900</td>
          
            <td>2012-12-21</td>
          
            <td>$16.718</td>
          
            <td>211</td>
          
            <td>98.000%</td>
          
            <td>2013-10-24</td>
          
            <td>$33.470</td>
          
            <td>100.207%</td>
          
            <td>23.198%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/MBI'>MBI</a></td>
          
            <td>7328540</td>
          
            <td>2012-11-14</td>
          
            <td>$7.050</td>
          
            <td>232</td>
          
            <td>56.000%</td>
          
            <td>2013-10-17</td>
          
            <td>$11.000</td>
          
            <td>56.028%</td>
          
            <td>25.331%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/FOE'>FOE</a></td>
          
            <td>2269420</td>
          
            <td>2012-10-11</td>
          
            <td>$2.850</td>
          
            <td>189</td>
          
            <td>142.000%</td>
          
            <td>2013-07-17</td>
          
            <td>$6.920</td>
          
            <td>142.807%</td>
          
            <td>16.406%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/JCI'>JCI</a></td>
          
            <td>12883620</td>
          
            <td>2012-10-02</td>
          
            <td>$30.358</td>
          
            <td>249</td>
          
            <td>22.000%</td>
          
            <td>2013-10-01</td>
          
            <td>$37.127</td>
          
            <td>22.300%</td>
          
            <td>16.851%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CIG'>CIG</a></td>
          
            <td>17555560</td>
          
            <td>2012-09-13</td>
          
            <td>$8.170</td>
          
            <td>441</td>
          
            <td>0.000%</td>
          
            <td>2014-06-18</td>
          
            <td>$8.400</td>
          
            <td>2.821%</td>
          
            <td>35.942%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CIEN'>CIEN</a></td>
          
            <td>12259180</td>
          
            <td>2012-08-31</td>
          
            <td>$13.600</td>
          
            <td>228</td>
          
            <td>64.000%</td>
          
            <td>2013-08-01</td>
          
            <td>$22.520</td>
          
            <td>65.588%</td>
          
            <td>20.787%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/MTG'>MTG</a></td>
          
            <td>20896860</td>
          
            <td>2012-08-06</td>
          
            <td>$0.840</td>
          
            <td>140</td>
          
            <td>240.000%</td>
          
            <td>2013-02-28</td>
          
            <td>$2.980</td>
          
            <td>254.762%</td>
          
            <td>8.510%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/MTG'>MTG</a></td>
          
            <td>18560260</td>
          
            <td>2012-08-03</td>
          
            <td>$0.940</td>
          
            <td>142</td>
          
            <td>236.000%</td>
          
            <td>2013-03-01</td>
          
            <td>$3.790</td>
          
            <td>303.191%</td>
          
            <td>9.779%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/GNW'>GNW</a></td>
          
            <td>18866820</td>
          
            <td>2012-08-03</td>
          
            <td>$4.320</td>
          
            <td>187</td>
          
            <td>146.000%</td>
          
            <td>2013-05-06</td>
          
            <td>$10.650</td>
          
            <td>146.528%</td>
          
            <td>16.758%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/IGT'>IGT</a></td>
          
            <td>10618320</td>
          
            <td>2012-07-26</td>
          
            <td>$11.890</td>
          
            <td>238</td>
          
            <td>44.000%</td>
          
            <td>2013-07-10</td>
          
            <td>$17.260</td>
          
            <td>45.164%</td>
          
            <td>21.562%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EDU'>EDU</a></td>
          
            <td>33882440</td>
          
            <td>2012-07-20</td>
          
            <td>$1.254</td>
          
            <td>221</td>
          
            <td>78.000%</td>
          
            <td>2013-06-10</td>
          
            <td>$2.262</td>
          
            <td>80.402%</td>
          
            <td>20.336%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EDU'>EDU</a></td>
          
            <td>30542520</td>
          
            <td>2012-07-19</td>
          
            <td>$1.064</td>
          
            <td>213</td>
          
            <td>94.000%</td>
          
            <td>2013-05-28</td>
          
            <td>$2.162</td>
          
            <td>103.220%</td>
          
            <td>20.814%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EDU'>EDU</a></td>
          
            <td>21256640</td>
          
            <td>2012-07-18</td>
          
            <td>$1.508</td>
          
            <td>237</td>
          
            <td>46.000%</td>
          
            <td>2013-06-28</td>
          
            <td>$2.231</td>
          
            <td>47.963%</td>
          
            <td>17.921%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/ORI'>ORI</a></td>
          
            <td>7197360</td>
          
            <td>2012-06-26</td>
          
            <td>$8.460</td>
          
            <td>229</td>
          
            <td>62.000%</td>
          
            <td>2013-05-28</td>
          
            <td>$13.940</td>
          
            <td>64.775%</td>
          
            <td>26.272%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/TPX'>TPX</a></td>
          
            <td>14015900</td>
          
            <td>2012-06-07</td>
          
            <td>$5.570</td>
          
            <td>200</td>
          
            <td>120.000%</td>
          
            <td>2013-03-27</td>
          
            <td>$12.456</td>
          
            <td>123.627%</td>
          
            <td>17.023%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/MUX'>MUX</a></td>
          
            <td>3490844</td>
          
            <td>2012-05-16</td>
          
            <td>$2.260</td>
          
            <td>258</td>
          
            <td>4.000%</td>
          
            <td>2013-05-29</td>
          
            <td>$2.380</td>
          
            <td>5.310%</td>
          
            <td>23.354%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/HLF'>HLF</a></td>
          
            <td>18298700</td>
          
            <td>2012-05-04</td>
          
            <td>$23.096</td>
          
            <td>260</td>
          
            <td>0.000%</td>
          
            <td>2013-05-20</td>
          
            <td>$24.368</td>
          
            <td>5.510%</td>
          
            <td>20.510%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/GNW'>GNW</a></td>
          
            <td>27955160</td>
          
            <td>2012-04-19</td>
          
            <td>$6.010</td>
          
            <td>223</td>
          
            <td>74.000%</td>
          
            <td>2013-03-12</td>
          
            <td>$10.460</td>
          
            <td>74.043%</td>
          
            <td>12.299%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/VIPS'>VIPS</a></td>
          
            <td>2174968</td>
          
            <td>2012-03-27</td>
          
            <td>$0.469</td>
          
            <td>169</td>
          
            <td>182.000%</td>
          
            <td>2012-11-28</td>
          
            <td>$1.371</td>
          
            <td>192.473%</td>
          
            <td>-0.198%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/HL'>HL</a></td>
          
            <td>16708060</td>
          
            <td>2012-01-12</td>
          
            <td>$4.760</td>
          
            <td>249</td>
          
            <td>22.000%</td>
          
            <td>2013-01-10</td>
          
            <td>$5.870</td>
          
            <td>23.319%</td>
          
            <td>13.514%</td>
          
        </tr>
      
    </table>
  </body>
</html>
