<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>stonk ideas</title>
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen">
  </head>
  <body>
    <p id='intro'>
      <b><a href="/">aribrown.com</a></b> |
      generated (<b><span id='future'>
          2021-04-26
      </b></future>)
      by a program
    </p>
    <hr/>
    <br/>
    <div style='display: inline-block;'>
      <table>
  <tr>
    <th>Year</th>
    <th># of Buys</th>
    <th>Med. Hold</th>
    <th>S&P 500</th>
    <th>Mean ROI</th>
    <th>Median</th>
    <th>STDDEV</th>
    <th>Sharpe</th>
  </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2021.html">2021</a>
      </td>
      <td>69</td>
      <td>(unsold)</td>
      <td>10.276%</td>
      <td>-90.873%</td>
      <td>-100%</td>
      <td>75.817%</td>
      <td>-1.199</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2020.html">2020</a>
      </td>
      <td>348</td>
      <td>197</td>
      <td>15.086%</td>
      <td>123.274%</td>
      <td>136.923%</td>
      <td>174.492%</td>
      <td>0.706</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2019.html">2019</a>
      </td>
      <td>53</td>
      <td>247</td>
      <td>28.785%</td>
      <td>79.495%</td>
      <td>33.156%</td>
      <td>169.753%</td>
      <td>0.468</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2018.html">2018</a>
      </td>
      <td>30</td>
      <td>350</td>
      <td>-7.013%</td>
      <td>20.217%</td>
      <td>7.446%</td>
      <td>95.144%</td>
      <td>0.212</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2017.html">2017</a>
      </td>
      <td>32</td>
      <td>304</td>
      <td>19.326%</td>
      <td>207.064%</td>
      <td>6.502%</td>
      <td>618.783%</td>
      <td>0.335</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2016.html">2016</a>
      </td>
      <td>50</td>
      <td>211</td>
      <td>9.643%</td>
      <td>167.163%</td>
      <td>121.088%</td>
      <td>255.225%</td>
      <td>0.655</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2015.html">2015</a>
      </td>
      <td>40</td>
      <td>225</td>
      <td>-0.759%</td>
      <td>216.515%</td>
      <td>80.867%</td>
      <td>272.092%</td>
      <td>0.796</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2014.html">2014</a>
      </td>
      <td>24</td>
      <td>260</td>
      <td>12.366%</td>
      <td>47.703%</td>
      <td>18.585%</td>
      <td>88.281%</td>
      <td>0.54</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2013.html">2013</a>
      </td>
      <td>9</td>
      <td>279</td>
      <td>29.689%</td>
      <td>41.125%</td>
      <td>11.765%</td>
      <td>62.839%</td>
      <td>0.654</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2012.html">2012</a>
      </td>
      <td>23</td>
      <td>223</td>
      <td>11.694%</td>
      <td>94.904%</td>
      <td>74.043%</td>
      <td>81.324%</td>
      <td>1.167</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2011.html">2011</a>
      </td>
      <td>18</td>
      <td>260</td>
      <td>-0.199%</td>
      <td>26.39%</td>
      <td>15.335%</td>
      <td>52.428%</td>
      <td>0.503</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2010.html">2010</a>
      </td>
      <td>9</td>
      <td>241</td>
      <td>12.841%</td>
      <td>116.993%</td>
      <td>44.486%</td>
      <td>122.933%</td>
      <td>0.952</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2009.html">2009</a>
      </td>
      <td>245</td>
      <td>140</td>
      <td>19.88%</td>
      <td>268.279%</td>
      <td>261.333%</td>
      <td>263.722%</td>
      <td>1.017</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2008.html">2008</a>
      </td>
      <td>351</td>
      <td>217</td>
      <td>-37.735%</td>
      <td>153.032%</td>
      <td>101.984%</td>
      <td>311.537%</td>
      <td>0.491</td>
    </tr>
  
</table>


    </div>
    <div style='display: inline-block; max-width: 40%; vertical-align: top; padding-left: 20px;'>
      <br/>
      <br/>
      <p>
        a full explanation is available <b><a href="/files/stocks.html">here</a></b>
      </p>
      <br/>
      <p>
        <div id='reasons'>
          buy when:
          <br/>
          <ul>
            <li>20% price drop in 2 days (open to close)</li>
            <li>
              stock is in the top 61 of the market movement potential
              (explained <b><a href="/files/stocks.html#1:4">here</a></b>)
            </li>
          </ul>
      
          sell when:
          <br/>
          <ul>
            <li>
              ROI > 520% - 2% * trading_days_held
            </li>
          </ul>
        </div>
      </p>
      <br/>
      <ul style="padding-left: 20px;">
        <li>prices may be adjusted to reflect splits/reverse-splits</li>
        <li>drop occurs on one day, buy the next morning</li>
        <li>prior 5 days is including the day of the drop</li>
        <li><span id='future'>blue</span> figures are taken from the latest
            closing prices, since the threshold to sell has not yet been reached</li>
      </ul>
    </div>
    <br/>
    <center><h2>1 JAN 2016 - 31 DEC 2016</h2></center>
    <p>SPY ROI for 1 JAN 2016 - 31 DEC 2016: <span id='future'>9.643%</span></p>
    <p>mean ROI for trades shown: <span id='future'>160.719%</span></p>
    <p>mean ROI if you were to also sell everything you're still holding: <span id='future'>160.719%</span></p>
    <table>
      <tr>
        <th><b>Symbol</b></th>
        <th><b>10-Day Trade Volume</b></th>
        <th><b>Buy Date</b></th>
        <th><b>Buy Price</b></th>
        <th><b>Days Held</b></th>
        <th><b>ROI Threshold</b></th>
        <th><b>Sell Date</b></th>
        <th><b>Sell Price</b></th>
        <th><b>Sell ROI</b></th>
        <th><b>SPY ROI</b></th>
      </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EXK'>EXK</a></td>
          
            <td>3912340</td>
          
            <td>2016-12-16</td>
          
            <td>$3.410</td>
          
            <td>902</td>
          
            <td>0.000%</td>
          
            <td>2020-07-21</td>
          
            <td>$3.680</td>
          
            <td>7.918%</td>
          
            <td>44.423%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/HMY'>HMY</a></td>
          
            <td>4779741</td>
          
            <td>2016-11-25</td>
          
            <td>$2.250</td>
          
            <td>319</td>
          
            <td>0.000%</td>
          
            <td>2018-03-06</td>
          
            <td>$2.270</td>
          
            <td>0.889%</td>
          
            <td>23.185%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/DSX'>DSX</a></td>
          
            <td>1778480</td>
          
            <td>2016-11-23</td>
          
            <td>$3.160</td>
          
            <td>239</td>
          
            <td>42.000%</td>
          
            <td>2017-11-06</td>
          
            <td>$4.570</td>
          
            <td>44.620%</td>
          
            <td>17.286%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/HWM'>HWM</a></td>
          
            <td>12457992</td>
          
            <td>2016-11-03</td>
          
            <td>$17.730</td>
          
            <td>233</td>
          
            <td>54.000%</td>
          
            <td>2017-10-09</td>
          
            <td>$27.390</td>
          
            <td>54.484%</td>
          
            <td>21.635%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CYH'>CYH</a></td>
          
            <td>18625797</td>
          
            <td>2016-10-28</td>
          
            <td>$5.270</td>
          
            <td>308</td>
          
            <td>0.000%</td>
          
            <td>2018-01-22</td>
          
            <td>$5.900</td>
          
            <td>11.954%</td>
          
            <td>33.006%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/VHC'>VHC</a></td>
          
            <td>518589</td>
          
            <td>2016-10-18</td>
          
            <td>$3.500</td>
          
            <td>240</td>
          
            <td>40.000%</td>
          
            <td>2017-10-02</td>
          
            <td>$5.550</td>
          
            <td>58.571%</td>
          
            <td>18.067%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CXW'>CXW</a></td>
          
            <td>2259672</td>
          
            <td>2016-09-14</td>
          
            <td>$15.460</td>
          
            <td>221</td>
          
            <td>78.000%</td>
          
            <td>2017-08-01</td>
          
            <td>$27.530</td>
          
            <td>78.072%</td>
          
            <td>16.031%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/VHC'>VHC</a></td>
          
            <td>954241</td>
          
            <td>2016-08-02</td>
          
            <td>$2.400</td>
          
            <td>212</td>
          
            <td>96.000%</td>
          
            <td>2017-06-06</td>
          
            <td>$4.800</td>
          
            <td>100.000%</td>
          
            <td>12.832%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/LYG'>LYG</a></td>
          
            <td>30759048</td>
          
            <td>2016-07-07</td>
          
            <td>$2.640</td>
          
            <td>245</td>
          
            <td>30.000%</td>
          
            <td>2017-06-27</td>
          
            <td>$3.480</td>
          
            <td>31.818%</td>
          
            <td>15.177%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CC'>CC</a></td>
          
            <td>8163161</td>
          
            <td>2016-07-07</td>
          
            <td>$6.020</td>
          
            <td>104</td>
          
            <td>312.000%</td>
          
            <td>2016-12-02</td>
          
            <td>$25.030</td>
          
            <td>315.781%</td>
          
            <td>4.844%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/NWG'>NWG</a></td>
          
            <td>8340237</td>
          
            <td>2016-07-05</td>
          
            <td>$4.310</td>
          
            <td>233</td>
          
            <td>54.000%</td>
          
            <td>2017-06-07</td>
          
            <td>$6.640</td>
          
            <td>54.060%</td>
          
            <td>16.914%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/LC'>LC</a></td>
          
            <td>59375968</td>
          
            <td>2016-05-16</td>
          
            <td>$18.191</td>
          
            <td>233</td>
          
            <td>54.000%</td>
          
            <td>2017-04-19</td>
          
            <td>$28.507</td>
          
            <td>56.712%</td>
          
            <td>12.893%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/LC'>LC</a></td>
          
            <td>53723844</td>
          
            <td>2016-05-11</td>
          
            <td>$20.334</td>
          
            <td>239</td>
          
            <td>42.000%</td>
          
            <td>2017-04-24</td>
          
            <td>$29.155</td>
          
            <td>43.382%</td>
          
            <td>14.852%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BHC'>BHC</a></td>
          
            <td>34292585</td>
          
            <td>2016-04-01</td>
          
            <td>$26.030</td>
          
            <td>552</td>
          
            <td>0.000%</td>
          
            <td>2018-06-11</td>
          
            <td>$26.460</td>
          
            <td>1.652%</td>
          
            <td>34.622%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/WTI'>WTI</a></td>
          
            <td>2142797</td>
          
            <td>2016-03-30</td>
          
            <td>$2.250</td>
          
            <td>248</td>
          
            <td>24.000%</td>
          
            <td>2017-03-23</td>
          
            <td>$2.840</td>
          
            <td>26.222%</td>
          
            <td>13.596%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CRK'>CRK</a></td>
          
            <td>5058821</td>
          
            <td>2016-03-21</td>
          
            <td>$3.628</td>
          
            <td>178</td>
          
            <td>164.000%</td>
          
            <td>2016-12-01</td>
          
            <td>$10.320</td>
          
            <td>184.425%</td>
          
            <td>7.280%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BTU'>BTU</a></td>
          
            <td>8675446</td>
          
            <td>2016-03-17</td>
          
            <td>$2.530</td>
          
            <td>47</td>
          
            <td>426.000%</td>
          
            <td>2017-04-03</td>
          
            <td>$31.000</td>
          
            <td>1125.296%</td>
          
            <td>15.003%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BHC'>BHC</a></td>
          
            <td>43362174</td>
          
            <td>2016-03-16</td>
          
            <td>$33.020</td>
          
            <td>1252</td>
          
            <td>0.000%</td>
          
            <td>2021-03-08</td>
          
            <td>$33.080</td>
          
            <td>0.182%</td>
          
            <td>87.725%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BTU'>BTU</a></td>
          
            <td>11161481</td>
          
            <td>2016-03-15</td>
          
            <td>$4.305</td>
          
            <td>49</td>
          
            <td>422.000%</td>
          
            <td>2017-04-03</td>
          
            <td>$31.000</td>
          
            <td>620.093%</td>
          
            <td>16.402%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CLF'>CLF</a></td>
          
            <td>12835929</td>
          
            <td>2016-03-10</td>
          
            <td>$2.610</td>
          
            <td>171</td>
          
            <td>178.000%</td>
          
            <td>2016-11-10</td>
          
            <td>$7.400</td>
          
            <td>183.525%</td>
          
            <td>8.710%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CRK'>CRK</a></td>
          
            <td>5836325</td>
          
            <td>2016-03-09</td>
          
            <td>$4.382</td>
          
            <td>188</td>
          
            <td>144.000%</td>
          
            <td>2016-12-05</td>
          
            <td>$11.200</td>
          
            <td>155.573%</td>
          
            <td>10.844%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/WTI'>WTI</a></td>
          
            <td>3310777</td>
          
            <td>2016-03-09</td>
          
            <td>$3.170</td>
          
            <td>391</td>
          
            <td>0.000%</td>
          
            <td>2017-09-26</td>
          
            <td>$3.200</td>
          
            <td>0.946%</td>
          
            <td>24.927%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/HNGR'>HNGR</a></td>
          
            <td>4582854</td>
          
            <td>2016-03-03</td>
          
            <td>$3.460</td>
          
            <td>187</td>
          
            <td>146.000%</td>
          
            <td>2016-11-28</td>
          
            <td>$8.850</td>
          
            <td>155.780%</td>
          
            <td>10.361%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/IPI'>IPI</a></td>
          
            <td>6945390</td>
          
            <td>2016-03-02</td>
          
            <td>$6.434</td>
          
            <td>194</td>
          
            <td>132.000%</td>
          
            <td>2016-12-06</td>
          
            <td>$16.972</td>
          
            <td>163.768%</td>
          
            <td>11.407%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SWN'>SWN</a></td>
          
            <td>21232115</td>
          
            <td>2016-02-24</td>
          
            <td>$6.390</td>
          
            <td>238</td>
          
            <td>44.000%</td>
          
            <td>2017-02-02</td>
          
            <td>$9.320</td>
          
            <td>45.853%</td>
          
            <td>17.893%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/MRO'>MRO</a></td>
          
            <td>42030774</td>
          
            <td>2016-02-19</td>
          
            <td>$6.850</td>
          
            <td>192</td>
          
            <td>136.000%</td>
          
            <td>2016-11-21</td>
          
            <td>$16.480</td>
          
            <td>140.584%</td>
          
            <td>14.661%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/ESI'>ESI</a></td>
          
            <td>7154694</td>
          
            <td>2016-02-12</td>
          
            <td>$5.700</td>
          
            <td>224</td>
          
            <td>72.000%</td>
          
            <td>2017-01-03</td>
          
            <td>$9.830</td>
          
            <td>72.456%</td>
          
            <td>20.688%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/WMB'>WMB</a></td>
          
            <td>25577831</td>
          
            <td>2016-02-09</td>
          
            <td>$11.260</td>
          
            <td>177</td>
          
            <td>166.000%</td>
          
            <td>2016-10-20</td>
          
            <td>$30.180</td>
          
            <td>168.028%</td>
          
            <td>15.343%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CC'>CC</a></td>
          
            <td>2811780</td>
          
            <td>2016-01-28</td>
          
            <td>$3.160</td>
          
            <td>136</td>
          
            <td>248.000%</td>
          
            <td>2016-08-11</td>
          
            <td>$11.740</td>
          
            <td>271.519%</td>
          
            <td>15.621%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/GOL'>GOL</a></td>
          
            <td>1573290</td>
          
            <td>2016-01-22</td>
          
            <td>$0.726</td>
          
            <td>119</td>
          
            <td>282.000%</td>
          
            <td>2016-07-13</td>
          
            <td>$2.786</td>
          
            <td>283.773%</td>
          
            <td>12.807%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/GOL'>GOL</a></td>
          
            <td>1213816</td>
          
            <td>2016-01-20</td>
          
            <td>$0.726</td>
          
            <td>121</td>
          
            <td>278.000%</td>
          
            <td>2016-07-13</td>
          
            <td>$2.786</td>
          
            <td>283.773%</td>
          
            <td>15.766%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SB'>SB</a></td>
          
            <td>497729</td>
          
            <td>2016-01-19</td>
          
            <td>$0.380</td>
          
            <td>140</td>
          
            <td>240.000%</td>
          
            <td>2016-08-08</td>
          
            <td>$1.400</td>
          
            <td>268.421%</td>
          
            <td>15.947%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SB'>SB</a></td>
          
            <td>717361</td>
          
            <td>2016-01-14</td>
          
            <td>$0.352</td>
          
            <td>141</td>
          
            <td>238.000%</td>
          
            <td>2016-08-05</td>
          
            <td>$1.280</td>
          
            <td>263.636%</td>
          
            <td>13.677%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/FCX'>FCX</a></td>
          
            <td>83086225</td>
          
            <td>2016-01-12</td>
          
            <td>$4.470</td>
          
            <td>196</td>
          
            <td>128.000%</td>
          
            <td>2016-10-20</td>
          
            <td>$10.210</td>
          
            <td>128.412%</td>
          
            <td>10.441%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SB'>SB</a></td>
          
            <td>908516</td>
          
            <td>2016-01-11</td>
          
            <td>$0.470</td>
          
            <td>165</td>
          
            <td>190.000%</td>
          
            <td>2016-09-06</td>
          
            <td>$1.490</td>
          
            <td>217.021%</td>
          
            <td>14.013%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SB'>SB</a></td>
          
            <td>727320</td>
          
            <td>2016-01-08</td>
          
            <td>$0.600</td>
          
            <td>178</td>
          
            <td>164.000%</td>
          
            <td>2016-09-22</td>
          
            <td>$1.600</td>
          
            <td>166.667%</td>
          
            <td>13.162%</td>
          
        </tr>
      
    </table>
  </body>
</html>
