<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>stonk ideas</title>
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen">
  </head>
  <body>
    <p id='intro'>
      <b><a href="/">aribrown.com</a></b> |
      generated (<b><span id='future'>
          2021-04-26
      </b></future>)
      by a program
    </p>
    <hr/>
    <br/>
    <div style='display: inline-block;'>
      <table>
  <tr>
    <th>Year</th>
    <th># of Buys</th>
    <th>Med. Hold</th>
    <th>S&P 500</th>
    <th>Mean ROI</th>
    <th>Median</th>
    <th>STDDEV</th>
    <th>Sharpe</th>
  </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2021.html">2021</a>
      </td>
      <td>69</td>
      <td>(unsold)</td>
      <td>10.276%</td>
      <td>-90.873%</td>
      <td>-100%</td>
      <td>75.817%</td>
      <td>-1.199</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2020.html">2020</a>
      </td>
      <td>348</td>
      <td>197</td>
      <td>15.086%</td>
      <td>123.274%</td>
      <td>136.923%</td>
      <td>174.492%</td>
      <td>0.706</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2019.html">2019</a>
      </td>
      <td>53</td>
      <td>247</td>
      <td>28.785%</td>
      <td>79.495%</td>
      <td>33.156%</td>
      <td>169.753%</td>
      <td>0.468</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2018.html">2018</a>
      </td>
      <td>30</td>
      <td>350</td>
      <td>-7.013%</td>
      <td>20.217%</td>
      <td>7.446%</td>
      <td>95.144%</td>
      <td>0.212</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2017.html">2017</a>
      </td>
      <td>32</td>
      <td>304</td>
      <td>19.326%</td>
      <td>207.064%</td>
      <td>6.502%</td>
      <td>618.783%</td>
      <td>0.335</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2016.html">2016</a>
      </td>
      <td>50</td>
      <td>211</td>
      <td>9.643%</td>
      <td>167.163%</td>
      <td>121.088%</td>
      <td>255.225%</td>
      <td>0.655</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2015.html">2015</a>
      </td>
      <td>40</td>
      <td>225</td>
      <td>-0.759%</td>
      <td>216.515%</td>
      <td>80.867%</td>
      <td>272.092%</td>
      <td>0.796</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2014.html">2014</a>
      </td>
      <td>24</td>
      <td>260</td>
      <td>12.366%</td>
      <td>47.703%</td>
      <td>18.585%</td>
      <td>88.281%</td>
      <td>0.54</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2013.html">2013</a>
      </td>
      <td>9</td>
      <td>279</td>
      <td>29.689%</td>
      <td>41.125%</td>
      <td>11.765%</td>
      <td>62.839%</td>
      <td>0.654</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2012.html">2012</a>
      </td>
      <td>23</td>
      <td>223</td>
      <td>11.694%</td>
      <td>94.904%</td>
      <td>74.043%</td>
      <td>81.324%</td>
      <td>1.167</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2011.html">2011</a>
      </td>
      <td>18</td>
      <td>260</td>
      <td>-0.199%</td>
      <td>26.39%</td>
      <td>15.335%</td>
      <td>52.428%</td>
      <td>0.503</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2010.html">2010</a>
      </td>
      <td>9</td>
      <td>241</td>
      <td>12.841%</td>
      <td>116.993%</td>
      <td>44.486%</td>
      <td>122.933%</td>
      <td>0.952</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2009.html">2009</a>
      </td>
      <td>245</td>
      <td>140</td>
      <td>19.88%</td>
      <td>268.279%</td>
      <td>261.333%</td>
      <td>263.722%</td>
      <td>1.017</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2008.html">2008</a>
      </td>
      <td>351</td>
      <td>217</td>
      <td>-37.735%</td>
      <td>153.032%</td>
      <td>101.984%</td>
      <td>311.537%</td>
      <td>0.491</td>
    </tr>
  
</table>


    </div>
    <div style='display: inline-block; max-width: 40%; vertical-align: top; padding-left: 20px;'>
      <br/>
      <br/>
      <p>
        a full explanation is available <b><a href="/files/stocks.html">here</a></b>
      </p>
      <br/>
      <p>
        <div id='reasons'>
          buy when:
          <br/>
          <ul>
            <li>20% price drop in 2 days (open to close)</li>
            <li>
              stock is in the top 61 of the market movement potential
              (explained <b><a href="/files/stocks.html#1:4">here</a></b>)
            </li>
          </ul>
      
          sell when:
          <br/>
          <ul>
            <li>
              ROI > 520% - 2% * trading_days_held
            </li>
          </ul>
        </div>
      </p>
      <br/>
      <ul style="padding-left: 20px;">
        <li>prices may be adjusted to reflect splits/reverse-splits</li>
        <li>drop occurs on one day, buy the next morning</li>
        <li>prior 5 days is including the day of the drop</li>
        <li><span id='future'>blue</span> figures are taken from the latest
            closing prices, since the threshold to sell has not yet been reached</li>
      </ul>
    </div>
    <br/>
    <center><h2>1 JAN 2018 - 31 DEC 2018</h2></center>
    <p>SPY ROI for 1 JAN 2018 - 31 DEC 2018: <span id='future'>-7.013%</span></p>
    <p>mean ROI for trades shown: <span id='future'>40.692%</span></p>
    <p>mean ROI if you were to also sell everything you're still holding: <span id='future'>47.961%</span></p>
    <table>
      <tr>
        <th><b>Symbol</b></th>
        <th><b>10-Day Trade Volume</b></th>
        <th><b>Buy Date</b></th>
        <th><b>Buy Price</b></th>
        <th><b>Days Held</b></th>
        <th><b>ROI Threshold</b></th>
        <th><b>Sell Date</b></th>
        <th><b>Sell Price</b></th>
        <th><b>Sell ROI</b></th>
        <th><b>SPY ROI</b></th>
      </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/HZN'>HZN</a></td>
          
            <td>266280</td>
          
            <td>2018-12-10</td>
          
            <td>$1.700</td>
          
            <td>157</td>
          
            <td>206.000%</td>
          
            <td>2019-07-26</td>
          
            <td>$5.250</td>
          
            <td>208.824%</td>
          
            <td>14.367%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/COTY'>COTY</a></td>
          
            <td>10475450</td>
          
            <td>2018-12-10</td>
          
            <td>$7.480</td>
          
            <td>229</td>
          
            <td>62.000%</td>
          
            <td>2019-11-06</td>
          
            <td>$13.020</td>
          
            <td>74.064%</td>
          
            <td>16.295%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/PCG'>PCG</a></td>
          
            <td>55467582</td>
          
            <td>2018-11-16</td>
          
            <td>$25.205</td>
          
            <td><span id='future'>611</span></td>
          
            <td><span id='future'>0.000%</span></td>
          
            <td><span id='future'>-</span></td>
          
            <td><span id='future'>$10.805</span></td>
          
            <td><span id='future'>-57.132%</span></td>
          
            <td>52.574%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EGO'>EGO</a></td>
          
            <td>4978835</td>
          
            <td>2018-11-14</td>
          
            <td>$2.934</td>
          
            <td>175</td>
          
            <td>170.000%</td>
          
            <td>2019-07-30</td>
          
            <td>$8.080</td>
          
            <td>175.410%</td>
          
            <td>11.295%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/DBD'>DBD</a></td>
          
            <td>1471723</td>
          
            <td>2018-10-15</td>
          
            <td>$3.760</td>
          
            <td>186</td>
          
            <td>148.000%</td>
          
            <td>2019-07-15</td>
          
            <td>$9.440</td>
          
            <td>151.064%</td>
          
            <td>9.603%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/LCI'>LCI</a></td>
          
            <td>2280590</td>
          
            <td>2018-10-09</td>
          
            <td>$3.750</td>
          
            <td>216</td>
          
            <td>88.000%</td>
          
            <td>2019-08-20</td>
          
            <td>$7.050</td>
          
            <td>88.000%</td>
          
            <td>0.936%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/NIO'>NIO</a></td>
          
            <td>17011183</td>
          
            <td>2018-10-01</td>
          
            <td>$7.060</td>
          
            <td>431</td>
          
            <td>0.000%</td>
          
            <td>2020-06-18</td>
          
            <td>$7.180</td>
          
            <td>1.700%</td>
          
            <td>6.873%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CSLT'>CSLT</a></td>
          
            <td>515561</td>
          
            <td>2018-09-28</td>
          
            <td>$2.650</td>
          
            <td><span id='future'>646</span></td>
          
            <td><span id='future'>0.000%</span></td>
          
            <td><span id='future'>-</span></td>
          
            <td><span id='future'>$1.510</span></td>
          
            <td><span id='future'>-43.019%</span></td>
          
            <td>43.657%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SNAP'>SNAP</a></td>
          
            <td>36773266</td>
          
            <td>2018-09-25</td>
          
            <td>$9.190</td>
          
            <td>219</td>
          
            <td>82.000%</td>
          
            <td>2019-08-09</td>
          
            <td>$16.980</td>
          
            <td>84.766%</td>
          
            <td>0.299%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/NIO'>NIO</a></td>
          
            <td>95455607</td>
          
            <td>2018-09-19</td>
          
            <td>$7.880</td>
          
            <td>448</td>
          
            <td>0.000%</td>
          
            <td>2020-07-01</td>
          
            <td>$7.910</td>
          
            <td>0.381%</td>
          
            <td>6.627%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/NIO'>NIO</a></td>
          
            <td>113498230</td>
          
            <td>2018-09-17</td>
          
            <td>$9.610</td>
          
            <td>452</td>
          
            <td>0.000%</td>
          
            <td>2020-07-06</td>
          
            <td>$11.510</td>
          
            <td>19.771%</td>
          
            <td>9.577%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/TWTR'>TWTR</a></td>
          
            <td>22727204</td>
          
            <td>2018-09-13</td>
          
            <td>$30.100</td>
          
            <td>241</td>
          
            <td>38.000%</td>
          
            <td>2019-08-29</td>
          
            <td>$42.490</td>
          
            <td>41.163%</td>
          
            <td>0.602%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/RENN'>RENN</a></td>
          
            <td>295979</td>
          
            <td>2018-09-07</td>
          
            <td>$3.686</td>
          
            <td>429</td>
          
            <td>0.000%</td>
          
            <td>2020-05-22</td>
          
            <td>$4.210</td>
          
            <td>14.214%</td>
          
            <td>2.726%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/LCI'>LCI</a></td>
          
            <td>7681861</td>
          
            <td>2018-08-24</td>
          
            <td>$4.700</td>
          
            <td>226</td>
          
            <td>68.000%</td>
          
            <td>2019-07-22</td>
          
            <td>$8.420</td>
          
            <td>79.149%</td>
          
            <td>3.614%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/DBD'>DBD</a></td>
          
            <td>9035427</td>
          
            <td>2018-08-13</td>
          
            <td>$4.600</td>
          
            <td>172</td>
          
            <td>176.000%</td>
          
            <td>2019-04-22</td>
          
            <td>$12.980</td>
          
            <td>182.174%</td>
          
            <td>2.896%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EGY'>EGY</a></td>
          
            <td>1437892</td>
          
            <td>2018-08-08</td>
          
            <td>$2.270</td>
          
            <td>350</td>
          
            <td>0.000%</td>
          
            <td>2019-12-30</td>
          
            <td>$2.290</td>
          
            <td>0.881%</td>
          
            <td>12.478%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/VIPS'>VIPS</a></td>
          
            <td>5509216</td>
          
            <td>2018-08-02</td>
          
            <td>$9.330</td>
          
            <td>278</td>
          
            <td>0.000%</td>
          
            <td>2019-09-11</td>
          
            <td>$9.530</td>
          
            <td>2.144%</td>
          
            <td>6.325%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/GEN'>GEN</a></td>
          
            <td>1712295</td>
          
            <td>2018-07-18</td>
          
            <td>$1.460</td>
          
            <td>315</td>
          
            <td>0.000%</td>
          
            <td>2019-10-17</td>
          
            <td>$1.520</td>
          
            <td>4.110%</td>
          
            <td>6.483%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/ETM'>ETM</a></td>
          
            <td>3383714</td>
          
            <td>2018-06-05</td>
          
            <td>$6.750</td>
          
            <td><span id='future'>715</span></td>
          
            <td><span id='future'>0.000%</span></td>
          
            <td><span id='future'>-</span></td>
          
            <td><span id='future'>$5.035</span></td>
          
            <td><span id='future'>-25.407%</span></td>
          
            <td>48.488%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/FTK'>FTK</a></td>
          
            <td>2484785</td>
          
            <td>2018-04-30</td>
          
            <td>$3.680</td>
          
            <td>280</td>
          
            <td>0.000%</td>
          
            <td>2019-06-11</td>
          
            <td>$3.770</td>
          
            <td>2.446%</td>
          
            <td>9.221%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/VHC'>VHC</a></td>
          
            <td>666325</td>
          
            <td>2018-04-24</td>
          
            <td>$3.000</td>
          
            <td>213</td>
          
            <td>94.000%</td>
          
            <td>2019-02-28</td>
          
            <td>$6.090</td>
          
            <td>103.000%</td>
          
            <td>5.970%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/GEN'>GEN</a></td>
          
            <td>1724245</td>
          
            <td>2018-02-23</td>
          
            <td>$1.310</td>
          
            <td>251</td>
          
            <td>18.000%</td>
          
            <td>2019-02-25</td>
          
            <td>$1.560</td>
          
            <td>19.084%</td>
          
            <td>1.751%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/KODK'>KODK</a></td>
          
            <td>3003394</td>
          
            <td>2018-02-02</td>
          
            <td>$6.500</td>
          
            <td>624</td>
          
            <td>0.000%</td>
          
            <td>2020-07-28</td>
          
            <td>$7.940</td>
          
            <td>22.154%</td>
          
            <td>16.598%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/PVG'>PVG</a></td>
          
            <td>8199309</td>
          
            <td>2018-01-26</td>
          
            <td>$7.540</td>
          
            <td>260</td>
          
            <td>0.000%</td>
          
            <td>2019-02-08</td>
          
            <td>$7.700</td>
          
            <td>2.122%</td>
          
            <td>-5.621%</td>
          
        </tr>
      
    </table>
  </body>
</html>
