<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>stonk ideas</title>
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen">
  </head>
  <body>
    <p id='intro'>
      <b><a href="/">aribrown.com</a></b> |
      generated (<b><span id='future'>
          2022-02-14
      </b></future>)
      by a program
    </p>
    <hr/>
    <br/>
    <div style='display: inline-block;'>
      <table>
  <tr>
    <th>Year</th>
    <th># of Buys</th>
    <th># Unsold</th>
    <th># Delist.</th>
    <th>Med. Hold</th>
    <th>S&P 500</th>
    <th>Mean ROI</th>
    <th>Median</th>
    <th>STDDEV</th>
    <th>Sharpe</th>
  </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2022.html">2022</a>
      </td>
      <td>17</td>
      <td>17</td>
      <td>0</td>
      <td>(unsold)</td>
      <td>-7.394%</td>
      <td>-100.0%</td>
      <td>-100%</td>
      <td>0.0%</td>
      <td>-Infinity</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2021.html">2021</a>
      </td>
      <td>124</td>
      <td>83</td>
      <td>10</td>
      <td>(unsold)</td>
      <td>27.734%</td>
      <td>-39.765%</td>
      <td>-100%</td>
      <td>94.131%</td>
      <td>-0.422</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2020.html">2020</a>
      </td>
      <td>326</td>
      <td>24</td>
      <td>5</td>
      <td>85</td>
      <td>16.644%</td>
      <td>79.78%</td>
      <td>51.376%</td>
      <td>106.792%</td>
      <td>0.747</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2019.html">2019</a>
      </td>
      <td>56</td>
      <td>9</td>
      <td>6</td>
      <td>99</td>
      <td>28.971%</td>
      <td>40.3%</td>
      <td>18.254%</td>
      <td>102.768%</td>
      <td>0.392</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2018.html">2018</a>
      </td>
      <td>36</td>
      <td>9</td>
      <td>6</td>
      <td>120</td>
      <td>-6.691%</td>
      <td>2.038%</td>
      <td>3.093%</td>
      <td>79.494%</td>
      <td>0.026</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2017.html">2017</a>
      </td>
      <td>35</td>
      <td>8</td>
      <td>4</td>
      <td>119</td>
      <td>18.747%</td>
      <td>-9.838%</td>
      <td>2.154%</td>
      <td>52.169%</td>
      <td>-0.189</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2016.html">2016</a>
      </td>
      <td>44</td>
      <td>5</td>
      <td>4</td>
      <td>82</td>
      <td>8.97%</td>
      <td>52.521%</td>
      <td>69.702%</td>
      <td>74.784%</td>
      <td>0.702</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2015.html">2015</a>
      </td>
      <td>40</td>
      <td>3</td>
      <td>3</td>
      <td>98</td>
      <td>-1.981%</td>
      <td>72.54%</td>
      <td>25.402%</td>
      <td>126.855%</td>
      <td>0.572</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2014.html">2014</a>
      </td>
      <td>26</td>
      <td>2</td>
      <td>1</td>
      <td>105</td>
      <td>11.664%</td>
      <td>15.221%</td>
      <td>9.182%</td>
      <td>45.428%</td>
      <td>0.335</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2013.html">2013</a>
      </td>
      <td>14</td>
      <td>1</td>
      <td>1</td>
      <td>98</td>
      <td>32.243%</td>
      <td>30.435%</td>
      <td>15.355%</td>
      <td>53.406%</td>
      <td>0.57</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2012.html">2012</a>
      </td>
      <td>29</td>
      <td>5</td>
      <td>5</td>
      <td>94</td>
      <td>13.006%</td>
      <td>16.959%</td>
      <td>25.285%</td>
      <td>63.027%</td>
      <td>0.269</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2011.html">2011</a>
      </td>
      <td>22</td>
      <td>1</td>
      <td>0</td>
      <td>100</td>
      <td>-0.024%</td>
      <td>11.895%</td>
      <td>6.763%</td>
      <td>38.076%</td>
      <td>0.312</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2010.html">2010</a>
      </td>
      <td>7</td>
      <td>0</td>
      <td>0</td>
      <td>83</td>
      <td>11.51%</td>
      <td>72.816%</td>
      <td>51.956%</td>
      <td>74.075%</td>
      <td>0.983</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2009.html">2009</a>
      </td>
      <td>214</td>
      <td>0</td>
      <td>0</td>
      <td>64</td>
      <td>25.101%</td>
      <td>131.657%</td>
      <td>130.678%</td>
      <td>87.7%</td>
      <td>1.501</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2008.html">2008</a>
      </td>
      <td>357</td>
      <td>2</td>
      <td>0</td>
      <td>100</td>
      <td>-38.654%</td>
      <td>65.516%</td>
      <td>12.766%</td>
      <td>178.345%</td>
      <td>0.367</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2007.html">2007</a>
      </td>
      <td>17</td>
      <td>1</td>
      <td>0</td>
      <td>97</td>
      <td>2.784%</td>
      <td>135.078%</td>
      <td>15.147%</td>
      <td>373.974%</td>
      <td>0.361</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2006.html">2006</a>
      </td>
      <td>16</td>
      <td>0</td>
      <td>0</td>
      <td>95</td>
      <td>13.478%</td>
      <td>65.414%</td>
      <td>25.448%</td>
      <td>97.949%</td>
      <td>0.668</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2005.html">2005</a>
      </td>
      <td>28</td>
      <td>0</td>
      <td>0</td>
      <td>97</td>
      <td>2.646%</td>
      <td>41.323%</td>
      <td>14.634%</td>
      <td>53.659%</td>
      <td>0.77</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2004.html">2004</a>
      </td>
      <td>20</td>
      <td>0</td>
      <td>0</td>
      <td>132</td>
      <td>8.676%</td>
      <td>12.973%</td>
      <td>2.288%</td>
      <td>19.325%</td>
      <td>0.671</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2003.html">2003</a>
      </td>
      <td>23</td>
      <td>0</td>
      <td>0</td>
      <td>86</td>
      <td>26.469%</td>
      <td>52.899%</td>
      <td>46.833%</td>
      <td>48.317%</td>
      <td>1.095</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2002.html">2002</a>
      </td>
      <td>135</td>
      <td>0</td>
      <td>0</td>
      <td>93</td>
      <td>-24.038%</td>
      <td>63.809%</td>
      <td>30.597%</td>
      <td>78.085%</td>
      <td>0.817</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2001.html">2001</a>
      </td>
      <td>76</td>
      <td>0</td>
      <td>0</td>
      <td>98</td>
      <td>-13.409%</td>
      <td>49.542%</td>
      <td>21.118%</td>
      <td>67.397%</td>
      <td>0.735</td>
    </tr>
  
    
    <tr>
      <td>
        <a href="/files/stock_recs.2000.html">2000</a>
      </td>
      <td>139</td>
      <td>10</td>
      <td>0</td>
      <td>100</td>
      <td>-10.662%</td>
      <td>33.84%</td>
      <td>12.119%</td>
      <td>76.202%</td>
      <td>0.444</td>
    </tr>
  
</table>


    </div>
    <div style='display: inline-block; max-width: 28%; vertical-align: top; padding-left: 20px;'>
      <br/>
      <br/>
      <p>
        a full explanation is available <b><a href="/files/stocks.html">here</a></b>
      </p>
      <br/>
      <p>
        <div id='reasons'>
          buy when:
          <br/>
          <ul>
            <li>20% price drop in 2 days (open to close)</li>
            <li>
              stock is in the top 61 of the market movement potential
              (explained <b><a href="/files/stocks.html#1:4">here</a></b>)
            </li>
          </ul>
      
          sell when:
          <br/>
          <ul>
            <li>
              ROI > 520% - 2% * trading_days_held
            </li>
          </ul>
        </div>
      </p>
      <br/>
      <ul style="padding-left: 20px;">
        <li>prices may be adjusted to reflect splits/reverse-splits</li>
        <li>drop occurs on one day, buy the next morning</li>
        <li><span id='future'>blue</span> figures are taken from the latest
            closing prices, since the threshold to sell has not yet been reached</li>
        <li><span id='delisted'>red</span> figures are taken from the last
            closing prices available, since it has since been delisted</li>
      </ul>
    </div>
    <br/>
    <center><h2>1 JAN 2019 - 31 DEC 2019</h2></center>
    <p>SPY ROI for 1 JAN 2019 - 31 DEC 2019: <span id=future>28.971%</span></p>
    <p>mean ROI for trades shown: <span id=future>40.300%</span></p>
    <p>mean ROI if you were to also sell everything you're still holding: <span id=future>41.392%</span></p>
    <table>
      <tr>
        <th><b>Symbol</b></th>
        <th><b>10-Day Trade Volume</b></th>
        <th><b>Buy Date</b></th>
        <th><b>Buy Price</b></th>
        <th><b>Days Held</b></th>
        <th><b>ROI Threshold</b></th>
        <th><b>Sell Date</b></th>
        <th><b>Sell Price</b></th>
        <th><b>Sell ROI</b></th>
        <th><b>SPY ROI</b></th>
      </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/RAD'>RAD</a></td>
          
            <td>25169706</td>
          
            <td>2019-12-31</td>
          
            <td>$15.080</td>
          
            <td>109</td>
          
            <td>0.000%</td>
          
            <td>2020-06-08</td>
          
            <td>$15.320</td>
          
            <td>1.592%</td>
          
            <td>0.833%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/DPLO'>DPLO</a></td>
          
            <td>5511752</td>
          
            <td>2019-12-10</td>
          
            <td>$3.930</td>
          
            <td><span id=delisted>40</span></td>
          
            <td><span id=delisted>180.000%</span></td>
          
            <td><span id=delisted>-</span></td>
          
            <td><span id=delisted>$4.000</span></td>
          
            <td><span id=delisted>-100.000%</span></td>
          
            <td>5.857%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/QD'>QD</a></td>
          
            <td>21281149</td>
          
            <td>2019-11-22</td>
          
            <td>$4.260</td>
          
            <td><span id=future>559</span></td>
          
            <td><span id=future>0.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$0.980</span></td>
          
            <td><span id=future>-76.991%</span></td>
          
            <td>41.589%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/PPDF'>PPDF</a></td>
          
            <td>4091538</td>
          
            <td>2019-11-21</td>
          
            <td>$2.200</td>
          
            <td><span id=delisted>4</span></td>
          
            <td><span id=delisted>288.000%</span></td>
          
            <td><span id=delisted>-</span></td>
          
            <td><span id=delisted>$2.710</span></td>
          
            <td><span id=delisted>-100.000%</span></td>
          
            <td>1.476%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/QD'>QD</a></td>
          
            <td>19514776</td>
          
            <td>2019-11-21</td>
          
            <td>$4.550</td>
          
            <td><span id=future>560</span></td>
          
            <td><span id=future>0.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$0.980</span></td>
          
            <td><span id=future>-78.457%</span></td>
          
            <td>41.680%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/FINV'>FINV</a></td>
          
            <td>4216981</td>
          
            <td>2019-11-21</td>
          
            <td>$2.200</td>
          
            <td>165</td>
          
            <td>0.000%</td>
          
            <td>2020-07-21</td>
          
            <td>$2.240</td>
          
            <td>1.818%</td>
          
            <td>4.542%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/PPDF'>PPDF</a></td>
          
            <td>3400813</td>
          
            <td>2019-11-20</td>
          
            <td>$2.290</td>
          
            <td><span id=delisted>5</span></td>
          
            <td><span id=delisted>285.000%</span></td>
          
            <td><span id=delisted>-</span></td>
          
            <td><span id=delisted>$2.710</span></td>
          
            <td><span id=delisted>-100.000%</span></td>
          
            <td>1.349%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/FINV'>FINV</a></td>
          
            <td>3505003</td>
          
            <td>2019-11-20</td>
          
            <td>$2.290</td>
          
            <td>182</td>
          
            <td>0.000%</td>
          
            <td>2020-08-12</td>
          
            <td>$2.290</td>
          
            <td>0.000%</td>
          
            <td>8.404%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/QD'>QD</a></td>
          
            <td>10664861</td>
          
            <td>2019-11-19</td>
          
            <td>$5.910</td>
          
            <td><span id=future>562</span></td>
          
            <td><span id=future>0.000%</span></td>
          
            <td><span id=future>-</span></td>
          
            <td><span id=future>$0.980</span></td>
          
            <td><span id=future>-83.415%</span></td>
          
            <td>40.869%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/PRTY'>PRTY</a></td>
          
            <td>14251224</td>
          
            <td>2019-11-14</td>
          
            <td>$1.760</td>
          
            <td>139</td>
          
            <td>0.000%</td>
          
            <td>2020-06-05</td>
          
            <td>$1.780</td>
          
            <td>1.136%</td>
          
            <td>3.417%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/DPLO'>DPLO</a></td>
          
            <td>3690980</td>
          
            <td>2019-11-13</td>
          
            <td>$2.930</td>
          
            <td><span id=delisted>58</span></td>
          
            <td><span id=delisted>126.000%</span></td>
          
            <td><span id=delisted>-</span></td>
          
            <td><span id=delisted>$4.000</span></td>
          
            <td><span id=delisted>-100.000%</span></td>
          
            <td>7.889%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/PRTY'>PRTY</a></td>
          
            <td>15414589</td>
          
            <td>2019-11-11</td>
          
            <td>$2.290</td>
          
            <td>143</td>
          
            <td>0.000%</td>
          
            <td>2020-06-08</td>
          
            <td>$2.370</td>
          
            <td>3.493%</td>
          
            <td>5.133%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/PCG'>PCG</a></td>
          
            <td>29702789</td>
          
            <td>2019-11-08</td>
          
            <td>$6.280</td>
          
            <td>54</td>
          
            <td>138.000%</td>
          
            <td>2020-01-29</td>
          
            <td>$15.050</td>
          
            <td>139.650%</td>
          
            <td>6.114%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/PRTY'>PRTY</a></td>
          
            <td>13816438</td>
          
            <td>2019-11-08</td>
          
            <td>$2.240</td>
          
            <td>144</td>
          
            <td>0.000%</td>
          
            <td>2020-06-08</td>
          
            <td>$2.370</td>
          
            <td>5.804%</td>
          
            <td>5.003%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/PINS'>PINS</a></td>
          
            <td>27992956</td>
          
            <td>2019-11-04</td>
          
            <td>$20.660</td>
          
            <td>119</td>
          
            <td>0.000%</td>
          
            <td>2020-04-27</td>
          
            <td>$20.780</td>
          
            <td>0.581%</td>
          
            <td>-6.757%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/AR'>AR</a></td>
          
            <td>15299031</td>
          
            <td>2019-11-01</td>
          
            <td>$2.520</td>
          
            <td>123</td>
          
            <td>0.000%</td>
          
            <td>2020-04-30</td>
          
            <td>$2.980</td>
          
            <td>18.254%</td>
          
            <td>-4.736%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SLCA'>SLCA</a></td>
          
            <td>5084767</td>
          
            <td>2019-10-30</td>
          
            <td>$4.880</td>
          
            <td>270</td>
          
            <td>0.000%</td>
          
            <td>2020-11-24</td>
          
            <td>$5.010</td>
          
            <td>2.664%</td>
          
            <td>19.705%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/PCG'>PCG</a></td>
          
            <td>50995724</td>
          
            <td>2019-10-29</td>
          
            <td>$4.140</td>
          
            <td>48</td>
          
            <td>156.000%</td>
          
            <td>2020-01-08</td>
          
            <td>$10.610</td>
          
            <td>156.280%</td>
          
            <td>7.079%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/PCG'>PCG</a></td>
          
            <td>39749159</td>
          
            <td>2019-10-28</td>
          
            <td>$3.800</td>
          
            <td>30</td>
          
            <td>210.000%</td>
          
            <td>2019-12-10</td>
          
            <td>$12.320</td>
          
            <td>224.211%</td>
          
            <td>3.496%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SMTA'>SMTA</a></td>
          
            <td>2878171</td>
          
            <td>2019-10-25</td>
          
            <td>$0.850</td>
          
            <td><span id=delisted>45</span></td>
          
            <td><span id=delisted>165.000%</span></td>
          
            <td><span id=delisted>-</span></td>
          
            <td><span id=delisted>$0.768</span></td>
          
            <td><span id=delisted>-100.000%</span></td>
          
            <td>7.380%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/NOK'>NOK</a></td>
          
            <td>81388750</td>
          
            <td>2019-10-25</td>
          
            <td>$3.830</td>
          
            <td>144</td>
          
            <td>0.000%</td>
          
            <td>2020-05-22</td>
          
            <td>$3.850</td>
          
            <td>0.522%</td>
          
            <td>-1.435%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/PCG'>PCG</a></td>
          
            <td>23179224</td>
          
            <td>2019-10-11</td>
          
            <td>$8.070</td>
          
            <td>73</td>
          
            <td>81.000%</td>
          
            <td>2020-01-28</td>
          
            <td>$14.950</td>
          
            <td>85.254%</td>
          
            <td>10.335%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/NIO'>NIO</a></td>
          
            <td>71817412</td>
          
            <td>2019-10-02</td>
          
            <td>$1.190</td>
          
            <td>61</td>
          
            <td>117.000%</td>
          
            <td>2019-12-30</td>
          
            <td>$3.720</td>
          
            <td>212.605%</td>
          
            <td>10.148%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/ESGC'>ESGC</a></td>
          
            <td>7085714</td>
          
            <td>2019-09-30</td>
          
            <td>$35.814</td>
          
            <td>66</td>
          
            <td>102.000%</td>
          
            <td>2020-01-03</td>
          
            <td>$75.057</td>
          
            <td>109.574%</td>
          
            <td>8.933%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/ESGC'>ESGC</a></td>
          
            <td>7491031</td>
          
            <td>2019-09-27</td>
          
            <td>$38.481</td>
          
            <td>69</td>
          
            <td>93.000%</td>
          
            <td>2020-01-07</td>
          
            <td>$74.486</td>
          
            <td>93.564%</td>
          
            <td>8.360%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BB'>BB</a></td>
          
            <td>14689519</td>
          
            <td>2019-09-25</td>
          
            <td>$5.810</td>
          
            <td>99</td>
          
            <td>3.000%</td>
          
            <td>2020-02-18</td>
          
            <td>$6.090</td>
          
            <td>4.819%</td>
          
            <td>13.776%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/NIO'>NIO</a></td>
          
            <td>44557524</td>
          
            <td>2019-09-25</td>
          
            <td>$2.150</td>
          
            <td>76</td>
          
            <td>72.000%</td>
          
            <td>2020-01-14</td>
          
            <td>$3.760</td>
          
            <td>74.884%</td>
          
            <td>10.640%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BE'>BE</a></td>
          
            <td>4427698</td>
          
            <td>2019-09-18</td>
          
            <td>$3.330</td>
          
            <td>64</td>
          
            <td>108.000%</td>
          
            <td>2019-12-18</td>
          
            <td>$7.230</td>
          
            <td>117.117%</td>
          
            <td>6.356%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/PCG'>PCG</a></td>
          
            <td>18301799</td>
          
            <td>2019-08-20</td>
          
            <td>$10.790</td>
          
            <td>100</td>
          
            <td>0.000%</td>
          
            <td>2020-01-13</td>
          
            <td>$11.070</td>
          
            <td>2.595%</td>
          
            <td>12.400%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SUPV'>SUPV</a></td>
          
            <td>6521807</td>
          
            <td>2019-08-13</td>
          
            <td>$3.380</td>
          
            <td>94</td>
          
            <td>18.000%</td>
          
            <td>2019-12-26</td>
          
            <td>$4.180</td>
          
            <td>23.669%</td>
          
            <td>12.233%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/FIT'>FIT</a></td>
          
            <td>10629227</td>
          
            <td>2019-08-02</td>
          
            <td>$3.280</td>
          
            <td>64</td>
          
            <td>108.000%</td>
          
            <td>2019-11-01</td>
          
            <td>$7.120</td>
          
            <td>117.073%</td>
          
            <td>4.182%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/TRQ'>TRQ</a></td>
          
            <td>16559769</td>
          
            <td>2019-07-17</td>
          
            <td>$6.400</td>
          
            <td>104</td>
          
            <td>0.000%</td>
          
            <td>2019-12-12</td>
          
            <td>$6.900</td>
          
            <td>7.812%</td>
          
            <td>5.798%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/ESGC'>ESGC</a></td>
          
            <td>4840907</td>
          
            <td>2019-06-28</td>
          
            <td>$25.908</td>
          
            <td>57</td>
          
            <td>129.000%</td>
          
            <td>2019-09-19</td>
          
            <td>$66.866</td>
          
            <td>158.088%</td>
          
            <td>2.905%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/ESGC'>ESGC</a></td>
          
            <td>3252016</td>
          
            <td>2019-06-27</td>
          
            <td>$31.814</td>
          
            <td>89</td>
          
            <td>33.000%</td>
          
            <td>2019-11-01</td>
          
            <td>$44.006</td>
          
            <td>38.323%</td>
          
            <td>5.091%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/ROAN'>ROAN</a></td>
          
            <td>2312126</td>
          
            <td>2019-06-17</td>
          
            <td>$1.151</td>
          
            <td>90</td>
          
            <td>30.000%</td>
          
            <td>2019-10-23</td>
          
            <td>$1.515</td>
          
            <td>31.602%</td>
          
            <td>3.578%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/ROAN'>ROAN</a></td>
          
            <td>1814389</td>
          
            <td>2019-06-14</td>
          
            <td>$1.280</td>
          
            <td>95</td>
          
            <td>15.000%</td>
          
            <td>2019-10-29</td>
          
            <td>$1.510</td>
          
            <td>17.969%</td>
          
            <td>4.823%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/ESGC'>ESGC</a></td>
          
            <td>4533593</td>
          
            <td>2019-06-12</td>
          
            <td>$53.340</td>
          
            <td>125</td>
          
            <td>0.000%</td>
          
            <td>2019-12-09</td>
          
            <td>$57.912</td>
          
            <td>8.571%</td>
          
            <td>8.744%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/HOME'>HOME</a></td>
          
            <td>14699123</td>
          
            <td>2019-06-10</td>
          
            <td>$7.560</td>
          
            <td>90</td>
          
            <td>30.000%</td>
          
            <td>2019-10-16</td>
          
            <td>$9.910</td>
          
            <td>31.085%</td>
          
            <td>3.121%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/CLDR'>CLDR</a></td>
          
            <td>21953986</td>
          
            <td>2019-06-07</td>
          
            <td>$5.270</td>
          
            <td>76</td>
          
            <td>72.000%</td>
          
            <td>2019-09-25</td>
          
            <td>$9.090</td>
          
            <td>72.486%</td>
          
            <td>4.088%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/HOME'>HOME</a></td>
          
            <td>13858844</td>
          
            <td>2019-06-07</td>
          
            <td>$7.850</td>
          
            <td>92</td>
          
            <td>24.000%</td>
          
            <td>2019-10-17</td>
          
            <td>$9.950</td>
          
            <td>26.752%</td>
          
            <td>4.669%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/GME'>GME</a></td>
          
            <td>14510945</td>
          
            <td>2019-06-06</td>
          
            <td>$4.980</td>
          
            <td>93</td>
          
            <td>21.000%</td>
          
            <td>2019-10-17</td>
          
            <td>$6.030</td>
          
            <td>21.084%</td>
          
            <td>5.644%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/SOS'>SOS</a></td>
          
            <td>1036691</td>
          
            <td>2019-06-05</td>
          
            <td>$0.405</td>
          
            <td>126</td>
          
            <td>0.000%</td>
          
            <td>2019-12-03</td>
          
            <td>$2.250</td>
          
            <td>455.007%</td>
          
            <td>9.641%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/HL'>HL</a></td>
          
            <td>10886333</td>
          
            <td>2019-05-13</td>
          
            <td>$1.550</td>
          
            <td>91</td>
          
            <td>27.000%</td>
          
            <td>2019-09-20</td>
          
            <td>$1.980</td>
          
            <td>27.742%</td>
          
            <td>5.616%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/PBI'>PBI</a></td>
          
            <td>5773568</td>
          
            <td>2019-05-02</td>
          
            <td>$5.410</td>
          
            <td>318</td>
          
            <td>0.000%</td>
          
            <td>2020-08-05</td>
          
            <td>$5.420</td>
          
            <td>0.185%</td>
          
            <td>13.861%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/EMES'>EMES</a></td>
          
            <td>8920714</td>
          
            <td>2019-05-01</td>
          
            <td>$0.478</td>
          
            <td><span id=delisted>21</span></td>
          
            <td><span id=delisted>237.000%</span></td>
          
            <td><span id=delisted>-</span></td>
          
            <td><span id=delisted>$0.210</span></td>
          
            <td><span id=delisted>-100.000%</span></td>
          
            <td>-6.599%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BW'>BW</a></td>
          
            <td>9651080</td>
          
            <td>2019-04-05</td>
          
            <td>$2.322</td>
          
            <td>81</td>
          
            <td>57.000%</td>
          
            <td>2019-08-01</td>
          
            <td>$3.820</td>
          
            <td>64.481%</td>
          
            <td>2.403%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/BW'>BW</a></td>
          
            <td>6153359</td>
          
            <td>2019-04-04</td>
          
            <td>$2.786</td>
          
            <td>90</td>
          
            <td>30.000%</td>
          
            <td>2019-08-13</td>
          
            <td>$3.710</td>
          
            <td>33.174%</td>
          
            <td>2.012%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/DPLO'>DPLO</a></td>
          
            <td>6148878</td>
          
            <td>2019-02-26</td>
          
            <td>$5.870</td>
          
            <td>132</td>
          
            <td>0.000%</td>
          
            <td>2019-09-04</td>
          
            <td>$6.240</td>
          
            <td>6.303%</td>
          
            <td>5.342%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/ARLO'>ARLO</a></td>
          
            <td>9649853</td>
          
            <td>2019-02-08</td>
          
            <td>$3.800</td>
          
            <td>98</td>
          
            <td>6.000%</td>
          
            <td>2019-07-01</td>
          
            <td>$4.150</td>
          
            <td>9.211%</td>
          
            <td>10.013%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/ARLO'>ARLO</a></td>
          
            <td>8346577</td>
          
            <td>2019-02-07</td>
          
            <td>$3.890</td>
          
            <td>99</td>
          
            <td>3.000%</td>
          
            <td>2019-07-01</td>
          
            <td>$4.150</td>
          
            <td>6.684%</td>
          
            <td>9.124%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/GME'>GME</a></td>
          
            <td>9040684</td>
          
            <td>2019-01-30</td>
          
            <td>$11.250</td>
          
            <td>427</td>
          
            <td>0.000%</td>
          
            <td>2020-10-08</td>
          
            <td>$13.490</td>
          
            <td>19.911%</td>
          
            <td>29.679%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/VALE'>VALE</a></td>
          
            <td>87372783</td>
          
            <td>2019-01-29</td>
          
            <td>$11.750</td>
          
            <td>97</td>
          
            <td>9.000%</td>
          
            <td>2019-06-18</td>
          
            <td>$13.460</td>
          
            <td>14.553%</td>
          
            <td>10.791%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/PCG'>PCG</a></td>
          
            <td>127526434</td>
          
            <td>2019-01-18</td>
          
            <td>$6.660</td>
          
            <td>36</td>
          
            <td>192.000%</td>
          
            <td>2019-03-13</td>
          
            <td>$19.460</td>
          
            <td>192.192%</td>
          
            <td>6.174%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/PCG'>PCG</a></td>
          
            <td>84659259</td>
          
            <td>2019-01-16</td>
          
            <td>$6.450</td>
          
            <td>35</td>
          
            <td>195.000%</td>
          
            <td>2019-03-08</td>
          
            <td>$19.390</td>
          
            <td>200.620%</td>
          
            <td>5.226%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/PCG'>PCG</a></td>
          
            <td>73868741</td>
          
            <td>2019-01-15</td>
          
            <td>$6.280</td>
          
            <td>35</td>
          
            <td>195.000%</td>
          
            <td>2019-03-07</td>
          
            <td>$19.070</td>
          
            <td>203.662%</td>
          
            <td>6.667%</td>
          
        </tr>
      
        <tr>
          
            <td><a href='https://finance.yahoo.com/quote/LITB'>LITB</a></td>
          
            <td>361772</td>
          
            <td>2019-01-04</td>
          
            <td>$0.740</td>
          
            <td>63</td>
          
            <td>111.000%</td>
          
            <td>2019-04-05</td>
          
            <td>$1.570</td>
          
            <td>112.162%</td>
          
            <td>16.552%</td>
          
        </tr>
      
    </table>
  </body>
</html>
