body {
  /*background: #FAFAFA;*/
  background: #1d1f21;
  color: #c9cacc;
  /*font-family: Georgia, Palatino, Times, "Times New Roman", sans-serif;*/
  font-size: 17px;
}

a:link,
a:visited {
  color: #2bbc8a;
}

a:hover {
  color: #2bddff;
}

h1, h2, h3, h4 {
  font-family: Georgia, Palatino, Times, "Times New Roman", sans-serif;
  color: yellow;
}

a h4 {
  color: #2bddff;
}

a {
  font-family: Georgia;
}

p {
  padding-bottom: 10px;
  line-height: 18px;
}

table {
  border-collapse: collapse;
}

table, th, tr {
  border: 1px solid #2bddff;
}

th {
  padding-left: 10px;
  color: #2bbc8a;
}

td {
  font-family: Courier New;
  padding-left: 20px;
  text-align: right;
}

